# Project Solution - Secondary

You have to work on the [Kiva](https://drive.google.com/file/d/1-tJtnIbo1Rt-F1XfoWGVkmBXiI-ciuRx/view) dataset. Some information on the datasets are on the [Kaggle](https://www.kaggle.com/gaborfodor/additional-kiva-snapshot) web page.

## Basic tasks

**1.** Normalize the `loan_lenders` table. In the normalized table, each row must have one `loan_id` and one `lender`.

Firstly, csv file is read and data frame with unnormalized data is created:

In [1]:
import pandas as pd
import numpy as np
import time as tm
FINAL = True # This is final calculation, on complete data
start_time = tm.time()
loans_lenders_un = pd.read_csv('../../Datasets/kiva/loans_lenders.csv')
if not FINAL:
    loans_lenders_un = loans_lenders_un.head(10000) 
print("--- %s seconds ---" % (tm.time()-start_time)) 
loans_lenders_un

--- 8.599493741989136 seconds ---

      loan_id                                            lenders
0      483693  muc888, sam4326, camaran3922, lachheb1865, reb...
1      483738  muc888, nora3555, williammanashi, barbara5610,...
2      485000  muc888, terrystl, richardandsusan8352, sherri4...
3      486087  muc888, james5068, rudi5955, daniel9859, don92...
4      534428  muc888, niki3008, teresa9174, mike4896, david7...
...       ...                                                ...
9995    45940  helga4707, james6963, jimjams, andreas2382, si...
9996   247491  priyaram, christian9832, john9242, sandra1434,...
9997   345274  priyaram, nicola1093, bobby9744, simon7848, di...
9998   125945  joseph1859, matt5349, reese3555, stanley3312, ...
9999   225434  michael25572458, tom8330, garyk, manas8925, ma...

[10000 rows x 2 columns]

Data frame with structured data will be created with help of intermediate object - list of pairs (loan_id, lender) packed in the dictionary:

In [2]:
import time as tm
start_time = tm.time()
lis = []
for index, row in loans_lenders_un.iterrows(): 
    ls = row['lenders'].split(',')
    for l in ls:
        lis.append({ 'loan_id' : row['loan_id'], 'lender': l.strip() })
loans_lender = pd.DataFrame(lis) 
print("--- %s seconds ---" % (tm.time()-start_time)) 
loans_lender

--- 6.878727197647095 seconds ---

        loan_id             lender
0        483693             muc888
1        483693            sam4326
2        483693        camaran3922
3        483693        lachheb1865
4        483693        rebecca3499
...         ...                ...
245000   225434       wongacom3393
245001   225434  marleneanddel8151
245002   225434         joanne4956
245003   225434         juddie7070
245004   225434          keith7215

[245005 rows x 2 columns]

**2.** For each loan, add a column `duration` corresponding to the number of days between the disburse time and the planned expiration time. If any of those two dates is missing, also the duration must be missing.

Firstly, data frame should be loaded and structure of the data frame `loans` should be determined:

In [3]:
import pandas as pd
import numpy as np
import time as tm
start_time = tm.time()
loans = pd.read_csv('../../Datasets/kiva/loans.csv')
print("--- %s seconds ---" % (tm.time()-start_time)) 
loans.columns

--- 64.78130149841309 seconds ---

Index(['loan_id', 'loan_name', 'original_language', 'description',
       'description_translated', 'funded_amount', 'loan_amount', 'status',
       'activity_name', 'sector_name', 'loan_use', 'country_code',
       'country_name', 'town_name', 'currency_policy',
       'currency_exchange_coverage_rate', 'currency', 'partner_id',
       'posted_time', 'planned_expiration_time', 'disburse_time',
       'raised_time', 'lender_term', 'num_lenders_total',
       'num_journal_entries', 'num_bulk_entries', 'tags', 'borrower_genders',
       'borrower_pictured', 'repayment_interval', 'distribution_model'],
      dtype='object')

After thar, values from the data frame should be displayed:

In [4]:
if not FINAL:
    loans = loans.head(20000)
loans

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,...,2014-01-15 04:48:22.000 +0000,7.0,3,2,1,NaN,female,true,irregular,field_partner
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,...,2014-02-25 06:42:06.000 +0000,8.0,11,2,1,NaN,female,true,monthly,field_partner
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,...,2014-01-24 23:06:18.000 +0000,14.0,16,2,1,"#Woman Owned Biz, #Supporting Family, user_fav...",female,true,monthly,field_partner
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,...,2014-01-22 05:29:28.000 +0000,14.0,21,2,1,user_favorite,female,true,monthly,field_partner
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,...,2014-01-14 17:29:27.000 +0000,7.0,15,2,1,"#Animals, #Eco-friendly, #Sustainable Ag",male,true,bullet,field_partner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,341198,Guillermo Antonio,Spanish,"El Señor Guillermo tiene 42 años, la ubicación...",Guillermo is 42 years old. His business is lo...,375.0,375.0,funded,Shoe Sales,Retail,...,2011-10-13 00:00:41.000 +0000,14.0,10,1,1,NaN,male,true,monthly,field_partner
19996,341771,ERLINDA,English,Erlinda is from the village of Sillawit. She i...,NaN,175.0,175.0,funded,General Store,Retail,...,2011-10-14 06:02:23.000 +0000,8.0,3,2,1,NaN,female,true,irregular,field_partner
19997,344237,Ma Guadalupe,Spanish,La señora Ma Guadalupe es madre de 2 hijos de ...,\r\nMaría Guadalupe is the mother of two child...,625.0,625.0,funded,Property,Housing,...,2011-10-27 19:23:44.000 +0000,14.0,23,1,1,NaN,female,true,monthly,field_partner
19998,344735,Blanca Lidia,Spanish,"Blanca, vive con su esposo, tiene tres hijos d...",Blanca lives with her husband and has three ch...,350.0,350.0,funded,Food Production/Sales,Food,...,2011-10-12 02:10:27.000 +0000,8.0,10,4,2,NaN,female,true,monthly,field_partner
19999,345313,Jackline,English,"Jackline is 30 years old, married, and a moth...",NaN,100.0,100.0,funded,Clothing,Clothing,...,2011-10-17 14:35:09.000 +0000,8.0,1,1,1,NaN,female,true,monthly,field_partner

We are now mainly interested in columns 'planned_expiration_time', 'disburse_time':

In [5]:
loans_sel = loans[ ['loan_id', 'loan_name','planned_expiration_time', 'disburse_time'] ]
loans_sel

,loan_id,loan_name,planned_expiration_time,disburse_time
0,657307,Aivy,2014-02-14 03:30:06.000 +0000,2013-12-22 08:00:00.000 +0000
1,657259,Idalia Marizza,2014-03-26 22:25:07.000 +0000,2013-12-20 08:00:00.000 +0000
2,658010,Aasia,2014-02-15 21:10:05.000 +0000,2014-01-09 08:00:00.000 +0000
3,659347,Gulmira,2014-02-21 03:10:02.000 +0000,2014-01-17 08:00:00.000 +0000
4,656933,Ricky\t,2014-02-13 06:10:02.000 +0000,2013-12-17 08:00:00.000 +0000
...,...,...,...,...
19995,341198,Guillermo Antonio,NaN,2011-09-13 07:00:00.000 +0000
19996,341771,ERLINDA,NaN,2011-09-16 07:00:00.000 +0000
19997,344237,Ma Guadalupe,NaN,2011-10-07 07:00:00.000 +0000
19998,344735,Blanca Lidia,NaN,2011-09-16 07:00:00.000 +0000
19999,345313,Jackline,NaN,2011-09-23 07:00:00.000 +0000

In [6]:
from datetime import datetime as dt
import time as tm
start_time = tm.time()
loans['duration'] = None
for index, row in loans.iterrows(): 
    s2 = row['planned_expiration_time']
    s1 = row['disburse_time']
    if( pd.notna(s1) and pd.notna(s2) and s1 != '' and s2 != ''):
        d2 = dt.strptime(s2, "%Y-%m-%d %H:%M:%S.%f %z")
        d1 = dt.strptime(s1, "%Y-%m-%d %H:%M:%S.%f %z")
        loans.loc[index,'duration'] = (d2 - d1).days 
loans_sel = loans[ ['loan_id', 'loan_name','planned_expiration_time', 'disburse_time', 'duration'] ]
print("--- %s seconds ---" % (tm.time()-start_time)) 
loans_sel

--- 37.69523572921753 seconds ---

,loan_id,loan_name,planned_expiration_time,disburse_time,duration
0,657307,Aivy,2014-02-14 03:30:06.000 +0000,2013-12-22 08:00:00.000 +0000,53
1,657259,Idalia Marizza,2014-03-26 22:25:07.000 +0000,2013-12-20 08:00:00.000 +0000,96
2,658010,Aasia,2014-02-15 21:10:05.000 +0000,2014-01-09 08:00:00.000 +0000,37
3,659347,Gulmira,2014-02-21 03:10:02.000 +0000,2014-01-17 08:00:00.000 +0000,34
4,656933,Ricky\t,2014-02-13 06:10:02.000 +0000,2013-12-17 08:00:00.000 +0000,57
...,...,...,...,...,...
19995,341198,Guillermo Antonio,NaN,2011-09-13 07:00:00.000 +0000,None
19996,341771,ERLINDA,NaN,2011-09-16 07:00:00.000 +0000,None
19997,344237,Ma Guadalupe,NaN,2011-10-07 07:00:00.000 +0000,None
19998,344735,Blanca Lidia,NaN,2011-09-16 07:00:00.000 +0000,None
19999,345313,Jackline,NaN,2011-09-23 07:00:00.000 +0000,None

**3.** Find the lenders that have funded at least twice.

Those are lenders that are duplicated in structured loan_leneders dataframe.

- This solution is based on calculation/counting using dicitionary object:

In [7]:
import time as tm
start_time = tm.time()
stat={}
for index, row in loans_lender.iterrows(): 
    lender = row['lender']
    stat[lender] = 1 + stat.get(lender, 0)
lenders_funded_2_more = []
for k in stat.keys():
    if( stat[k] >= 2):
        lenders_funded_2_more.append((k,stat[k]))
print("--- %s seconds ---" % (tm.time()-start_time)) 
lenders_funded_2_more

--- 52.25188136100769 seconds ---

[('muc888', 11),
 ('sam4326', 6),
 ('rebecca3499', 167),
 ('karlheinz4543', 13),
 ('jerrydb', 2),
 ('paula8951', 3),
 ('gmct', 981),
 ('r3922', 95),
 ('brian9451', 6),
 ('shree8053', 101),
 ('alan5513', 62),
 ('oisin3389', 20),
 ('helle8622', 2),
 ('bo3186', 7),
 ('ric8947', 2),
 ('daniel98469874', 113),
 ('deborah12671549', 7),
 ('matthew9831', 2),
 ('john6330', 19),
 ('john9479', 6),
 ('mattiaslaven', 73),
 ('jason3883', 13),
 ('highgrovechurch', 260),
 ('dino5102', 14),
 ('jonathan7946', 7),
 ('ann8187', 6),
 ('bryan2669', 8),
 ('eddyphil', 19),
 ('don9212', 171),
 ('carolineandcolin9686', 3),
 ('bent8782', 2),
 ('raph8817', 4),
 ('danielle2350', 5),
 ('barbara5610', 341),
 ('danhostetler', 3),
 ('daniel1104', 9),
 ('amirali5409', 259),
 ('oceanwest', 15),
 ('trolltech4460', 1295),
 ('thedragonflykeeper', 10),
 ('patrick8466', 2),
 ('terrystl', 89),
 ('sherri4341', 3),
 ('gooddogg1', 1427),
 ('danny6470', 46),
 ('jacqueline4838', 8),
 ('diederik8163', 9),
 ('ryan54597608', 7),
 ('james5068', 3),
 ('rudi5955', 3),
 ('daniel9859', 17),
 ('chandrakant6134', 4),
 ('robert2280', 5),
 ('darrellynne7000', 2),
 ('sueandbob4088', 8),
 ('pennie4480', 11),
 ('mike4896', 119),
 ('david7683', 55),
 ('dittes', 56),
 ('william7288', 4),
 ('dennisg', 25),
 ('chrisbioteau', 6),
 ('victor9593', 14),
 ('peter3881', 4),
 ('andrew8575', 21),
 ('stephen2848', 25),
 ('douglas8863', 2),
 ('brett5260', 4),
 ('john38425073', 20),
 ('lisette1963', 5),
 ('motoharu1020', 25),
 ('elly3162', 2),
 ('lena9976', 52),
 ('omkara', 2),
 ('dougal1825', 5),
 ('jensdamsgaardvanar', 93),
 ('eric4693', 28),
 ('martsrinandpete9620', 94),
 ('hans7879', 18),
 ('thomas93758238', 26),
 ('thomas1513', 4),
 ('emofund', 129),
 ('phisquared', 5),
 ('nealkapur', 14),
 ('vic5854', 17),
 ('christian8925', 7),
 ('minerva9365', 2),
 ('rebecca3038', 33),
 ('paul1853', 6),
 ('dana9865', 79),
 ('ankit3005', 2),
 ('erich7889', 7),
 ('judith5696', 95),
 ('john70242429', 4),
 ('terry9343', 3),
 ('jodi8604', 2),
 ('jitendra7163', 3),
 ('leon2765', 3),
 ('ramius65', 2),
 ('vesa6130', 3),
 ('mortens2943', 2),
 ('zane9551', 90),
 ('christine3066', 2),
 ('karen1474', 4),
 ('gw9898', 3),
 ('ashleyleah5650', 29),
 ('anne85489799', 6),
 ('harald8041', 3),
 ('ken4292', 2),
 ('rc4114', 6),
 ('jean2544', 4),
 ('geko', 2),
 ('brad4706', 4),
 ('karen84738084', 2),
 ('steve2888', 2),
 ('gayle9959', 18),
 ('melinda8816', 2),
 ('mbc1842', 70),
 ('herta6220', 6),
 ('kaleddis', 2),
 ('cruisecompete', 6),
 ('thomas7482', 53),
 ('dnak17', 6),
 ('tom7497', 73),
 ('morten9659', 5),
 ('sverker1303', 3),
 ('kenanddoris2463', 3),
 ('jennifer12256404', 2),
 ('jude', 9),
 ('marianne8308', 2),
 ('aaronplaat', 2),
 ('hollito', 6),
 ('roger9399', 11),
 ('jenjh', 6),
 ('mmm2529', 2),
 ('jultomten', 2),
 ('aaron83574977', 134),
 ('minoa', 5),
 ('donald1176', 18),
 ('henrik8047', 4),
 ('david5193', 29),
 ('tippsnet', 2),
 ('chris2963', 3),
 ('srenchr1931', 52),
 ('lukas3902', 2),
 ('peter8627', 7),
 ('russayres', 2),
 ('joseph8886', 6),
 ('jivan3702', 13),
 ('elizabeth6786', 3),
 ('steve2304', 5),
 ('yousaf9433', 3),
 ('anne3221', 7),
 ('pgodiwala', 3),
 ('karen27277399', 2),
 ('theo8546', 9),
 ('joannagiles7076', 12),
 ('mark4564', 4),
 ('nicki2616', 5),
 ('FrequentMiler', 107),
 ('brent8569', 2),
 ('anna3370', 5),
 ('robert82472438', 3),
 ('lloyd5595', 4),
 ('oliver5716', 2),
 ('pureum8105', 4),
 ('davidberkowitz', 2),
 ('Verdad', 23),
 ('evan7711', 2),
 ('cesarpwm11', 2),
 ('john59229829', 9),
 ('tanya2648', 3),
 ('frode1997', 4),
 ('erik8516', 3),
 ('stephane7818', 5),
 ('givingsomeback', 3),
 ('mohammad5457', 4),
 ('annemarie7077', 6),
 ('stephen6879', 2),
 ('dorothy2740', 3),
 ('emma8443', 6),
 ('sbastien6463', 2),
 ('frederic9655', 2),
 ('bill7550', 13),
 ('martin6086', 9),
 ('robert5226', 3),
 ('marjo1748', 15),
 ('clive5910', 130),
 ('steven3253', 102),
 ('cakeordeath8064', 3),
 ('kevin7809', 7),
 ('maarten6927', 2),
 ('laura4759', 15),
 ('jennifer2139', 2),
 ('daniel4451', 2),
 ('cmak', 2),
 ('rferons', 2),
 ('joehoyle', 2),
 ('krauspartner', 38),
 ('william8070', 5),
 ('al1898', 6),
 ('hook', 5),
 ('afroze4263', 9),
 ('kaat7628', 3),
 ('lisa9330', 2),
 ('veronique2380', 2),
 ('mohannad', 2),
 ('dragan9652', 2),
 ('alice8507', 6),
 ('danae3046', 8),
 ('dan1417', 7),
 ('mary5466', 3),
 ('karin9948', 3),
 ('david81653552', 4),
 ('peter1098', 2),
 ('katy9250', 2),
 ('carlton2205', 2),
 ('jamie3277', 2),
 ('teresaandrick', 62),
 ('scott2473', 3),
 ('9678', 2),
 ('marilyn9210', 3),
 ('paul7054', 8),
 ('sarah5545', 3),
 ('craig97299604', 123),
 ('maria7751', 13),
 ('annw9506', 3),
 ('vasanthi', 16),
 ('sue3979', 6),
 ('pierre5880', 3),
 ('daleandcallie9707', 2),
 ('lisa4456', 4),
 ('sacham', 21),
 ('tlaurie', 4),
 ('marian7076', 2),
 ('allwinjose8370', 2),
 ('lucy4898', 2),
 ('ryanandjoanna6615', 5),
 ('suresh6523', 7),
 ('danlandrum', 4),
 ('Oliver10303', 79),
 ('sue7474', 3),
 ('elsa2087', 3),
 ('patrick1809', 3),
 ('erika7219', 3),
 ('benjamin3549', 4),
 ('jim2503', 3),
 ('andreaandwouter6544', 27),
 ('kevinandmary6376', 3),
 ('deepakgeetakevinronak', 19),
 ('khanh2725', 13),
 ('michael81276976', 3),
 ('lesley4647', 2),
 ('pedro2429', 14),
 ('nollaig5959', 3),
 ('evie2916', 2),
 ('jim5285', 55),
 ('metin8315', 3),
 ('gerald7282', 2),
 ('debbieandmark5399', 3),
 ('karin9520', 8),
 ('lee6515', 60),
 ('thomas7955', 5),
 ('sandeepsingh2858', 30),
 ('rinie4717', 2),
 ('chuck2380', 21),
 ('stefanomiari', 2),
 ('toplistbestfictionbo5564', 35),
 ('gerlinde6463', 12),
 ('tobias5075', 5),
 ('tanmay', 3),
 ('douglas8995', 17),
 ('jeanne53233964', 25),
 ('jellodiva', 4),
 ('judy3495', 69),
 ('denise7392', 6),
 ('amornwan4232', 7),
 ('terry52663587', 3),
 ('wouterandfany', 2),
 ('juergen5908', 6),
 ('stacy1379', 2),
 ('praveenrajasekar', 3),
 ('patrickruetter', 3),
 ('sarah1211', 4),
 ('jcagomes', 3),
 ('suzanne8918', 2),
 ('kerry4093', 17),
 ('gsk', 4),
 ('harry9324', 5),
 ('joan6711', 18),
 ('craig1296', 2),
 ('mac9412', 2),
 ('eric8583', 3),
 ('salandrob6186', 6),
 ('caseyl', 5),
 ('joannaandmike4344', 4),
 ('neil6273', 3),
 ('Leah6742', 4),
 ('michaelandmelinda9592', 3),
 ('zach9722', 3),
 ('jordan7519', 2),
 ('sarahkathryn', 2),
 ('doug5185', 19),
 ('ronald8745', 75),
 ('charles6358', 4),
 ('joan60553118', 2),
 ('shailesh', 10),
 ('mingus8729', 4),
 ('christian3503', 3),
 ('nomax', 2),
 ('frode', 2),
 ('victorial2870', 2),
 ('stephen5987', 6),
 ('paul23765609', 22),
 ('paul6428', 4),
 ('erin6824', 2),
 ('elliot3732', 3),
 ('connie4751', 3),
 ('elena6794', 4),
 ('carmen7376', 5),
 ('laura1179', 2),
 ('heather1546', 57),
 ('phillip7727', 5),
 ('marc1631', 12),
 ('angus2640', 18),
 ('jamesandshell2373', 2),
 ('tamarab', 6),
 ('mark2704', 41),
 ('indraneel7687', 5),
 ('nancy7311', 21),
 ('george8634', 4),
 ('matthew3047', 2),
 ('janandmaggie7749', 5),
 ('lidia1788', 3),
 ('donald5571', 3),
 ('richard7719', 3),
 ('pamela5886', 2),
 ('mike1401', 33),
 ('scott9873', 5),
 ('michael21418121', 12),
 ('rick8888', 16),
 ('craig7834', 6),
 ('ben9420', 3),
 ('gao', 12),
 ('ed5743', 6),
 ('amy7726', 3),
 ('Ravi9208', 5),
 ('albert8248', 3),
 ('anne8157', 2),
 ('adamcordle', 3),
 ('lori9430', 2),
 ('christopher5171', 4),
 ('donandkathy6425', 42),
 ('tony7571', 2),
 ('jennifer9341', 4),
 ('kirkland', 26),
 ('stanhope8974', 3),
 ('nigel4691', 34),
 ('lpgiraldez', 3),
 ('marcziesmer', 5),
 ('vana5220', 12),
 ('lionel1946', 4),
 ('david66129435', 12),
 ('sam8974', 6),
 ('sijanrai', 3),
 ('mike7912', 13),
 ('delbert3382', 3),
 ('jillian1643', 187),
 ('gregandclare1849', 11),
 ('tom7014', 5),
 ('tomandjune3533', 15),
 ('JY1024', 61),
 ('charlie1085', 15),
 ('julian8731', 239),
 ('detlef', 2),
 ('anne9845', 15),
 ('mike1219', 2),
 ('john8871', 3),
 ('david61297495', 25),
 ('divingdoc36', 91),
 ('pat5984', 2),
 ('giovannicataldi4083', 84),
 ('pierre5663', 2),
 ('diane3510', 2),
 ('burger', 3),
 ('victor3258', 13),
 ('szucheng2565', 216),
 ('jack9289', 4),
 ('richard4874', 5),
 ('jessieinez', 2),
 ('andyangie8000', 2),
 ('maryana3992', 2),
 ('irmark', 7),
 ('nazaret7843', 91),
 ('brian87298920', 2),
 ('fiona7583', 2),
 ('alex7802', 2),
 ('rhonda6343', 5),
 ('john37481062', 119),
 ('susan5956', 5),
 ('albert8514', 7),
 ('john1879', 14),
 ('zoec', 4),
 ('sidney4048', 2),
 ('uncleed1619', 2),
 ('trogdorfamily7622', 92),
 ('sarah2583', 7),
 ('mark99806535', 3),
 ('dale2183', 8),
 ('michelleandkristian9819', 25),
 ('jonesfamily', 3),
 ('jane8369', 6),
 ('mark9645', 4),
 ('susan9076', 6),
 ('daleanddave4907', 15),
 ('michael1246', 5),
 ('dean2234', 2),
 ('hamish8276', 11),
 ('iannace', 8),
 ('anne9124', 27),
 ('avezziefamily', 2),
 ('ellen4684', 61),
 ('lynn5507', 3),
 ('francois6628', 5),
 ('phill9950', 5),
 ('ilona9961', 7),
 ('bumpycat', 2),
 ('enwezor2644', 2),
 ('cathianne8063', 2),
 ('marcandr8568', 12),
 ('mishka8668', 12),
 ('avi9735', 5),
 ('barbara2376', 4),
 ('susan2633', 26),
 ('laurelz', 5),
 ('jose3712', 9),
 ('gene8177', 3),
 ('skreened', 40),
 ('kevin6441', 8),
 ('bill8134', 2),
 ('robert1951', 11),
 ('gomike', 11),
 ('neak', 17),
 ('pedersmed4472', 25),
 ('michael48913780', 7),
 ('kaspar4426', 2),
 ('john56537153', 5),
 ('weinberger', 5),
 ('daniel5023', 6),
 ('kristin2911', 2),
 ('Darebakus7028', 3),
 ('arica', 7),
 ('michael63426267', 2),
 ('magdalena9892', 2),
 ('harold5997', 49),
 ('michael3061', 2),
 ('hedymaigs', 2),
 ('linde6700', 6),
 ('nigel5030', 147),
 ('Gallifante', 3),
 ('caryl7997', 5),
 ('donald3162', 6),
 ('bill9445', 10),
 ('rich6705', 83),
 ('charles6568', 10),
 ('bubbascafe', 2),
 ('tracey8474', 4),
 ('dennis4138', 11),
 ('jarrod4964', 4),
 ('karen6436', 6),
 ('EGL', 33),
 ('nick8730', 31),
 ('beverly', 13),
 ('ken7832', 7),
 ('gerald5541', 3),
 ('andyonkiva', 31),
 ('margaret1978', 9),
 ('susan9216', 2),
 ('goodshepherducc9050', 13),
 ('pryor2007', 27),
 ('brenda6332', 5),
 ('mark8092', 4),
 ('david3125', 4),
 ('wjp', 18),
 ('benedictsteele', 2),
 ('marsha7181', 2),
 ('lasse8792', 14),
 ('stephen2764', 3),
 ('nathan7801', 4),
 ('pascalvanhecke', 12),
 ('jasonlee', 2),
 ('sharon4463', 2),
 ('howard7012', 217),
 ('anders4222', 15),
 ('charlie3879', 4),
 ('matt50679987', 5),
 ('joan9289', 3),
 ('michele4530', 3),
 ('zim7148', 58),
 ('melissa7297', 2),
 ('julie3027', 2),
 ('creativeeconomy', 2),
 ('james4890', 3),
 ('xyz1373', 2),
 ('mags6440', 2),
 ('starsknight', 2),
 ('joanna6771', 7),
 ('dorien8995', 2),
 ('luke8286', 2),
 ('jannis9788', 4),
 ('carlo9232', 3),
 ('jennifer86293639', 47),
 ('natoya4299', 2),
 ('roman6673', 10),
 ('laurie9583', 4),
 ('hisadafamily8666', 2),
 ('jim7785', 3),
 ('thomas3791', 68),
 ('julie8037', 44),
 ('derek9183', 8),
 ('stephen7228', 4),
 ('timothy6485', 5),
 ('albertw', 2),
 ('timothy7790', 4),
 ('wendy9105', 5),
 ('heidi9127', 2),
 ('sandy3893', 7),
 ('25perday', 5),
 ('angela6286', 6),
 ('matthew64195818', 2),
 ('brooke8026', 2),
 ('paula3738', 2),
 ('catherine8081', 2),
 ('christy2688', 8),
 ('jenny2529', 2),
 ('frank3452', 6),
 ('raymond4538', 7),
 ('vasu6972', 26),
 ('molly3537', 5),
 ('andrew2954', 12),
 ('john36421277', 9),
 ('mariliis4011', 3),
 ('renee8611', 2),
 ('leanne5754', 2),
 ('tim4058', 3),
 ('sudds', 3),
 ('adamscottprice', 6),
 ('wilma6195', 2),
 ('carolyn8576', 2),
 ('kelly31908638', 2),
 ('brenda9272', 2),
 ('caroline5418', 3),
 ('mel7714', 4),
 ('leejohn8697', 2),
 ('suthi', 4),
 ('beth1817', 2),
 ('michael64749969', 5),
 ('christopher38035375', 45),
 ('lloydminsterrotarycl6639', 23),
 ('lorenzo7127', 4),
 ('jeanetteingrid9958', 7),
 ('shirley1905', 273),
 ('barbara5987', 2),
 ('lorea3139', 3),
 ('sean3201', 3),
 ('jeffreyandannegret9319', 3),
 ('douglas3301', 2),
 ('steve8782', 10),
 ('marion2587', 3),
 ('shane8924', 2),
 ('gord6319', 2),
 ('john5744', 2),
 ('marthaandrobert8020', 5),
 ('karin8006', 2),
 ('dennis9163', 2),
 ('karen8054', 2),
 ('sandy3287', 8),
 ('cchan3330', 7),
 ('ben95621346', 5),
 ('andrew5018', 2),
 ('yoram3554', 3),
 ('david77732635', 3),
 ('normandmichelle8811', 23),
 ('howard4754', 108),
 ('jimandmaggie', 3),
 ('joann9259', 4),
 ('william1104', 2),
 ('peeta5736', 3),
 ('tracy9170', 4),
 ('diane5157', 2),
 ('christina1088', 4),
 ('haitham', 2),
 ('michael6150', 9),
 ('wendy4343', 2),
 ('austin1984', 3),
 ('louise1987', 3),
 ('neilthanedar', 2),
 ('wendy5056', 2),
 ('kate4058', 26),
 ('tonyonkiva', 2),
 ('vito8085', 6),
 ('agnieszka6878', 2),
 ('tom1199', 2),
 ('joacim2931', 9),
 ('porter9696', 83),
 ('rachelle9002', 2),
 ('janandjohn', 57),
 ('michelle7526', 4),
 ('tanya5801', 2),
 ('patricia7040', 4),
 ('kris7164', 2),
 ('stevenandrhondabill', 2),
 ('gilberto7688', 3),
 ('jonathan6863', 13),
 ('rebecca4187', 3),
 ('debs8578', 4),
 ('claudia3062', 8),
 ('linda4162', 3),
 ('alexander1835', 2),
 ('migs2670', 10),
 ('tove4710', 3),
 ('robert5348', 3),
 ('jan92', 2),
 ('joakim8782', 2),
 ('dan66559622', 6),
 ('cate4432', 2),
 ('david64376525', 3),
 ('jorge5645', 6),
 ('kyle9253', 2),
 ('shaun3027', 2),
 ('johan4746', 5),
 ('zan4576', 3),
 ('karen94096564', 10),
 ('eric9311', 25),
 ('svuorela', 2),
 ('patrick1624', 3),
 ('mattias3342', 4),
 ('federica3226', 2),
 ('tomsve', 2),
 ('richard57583833', 2),
 ('dirk3138', 2),
 ('barbara9916', 6),
 ('amy3374', 3),
 ('linda1271', 2),
 ('annanathan8608', 2),
 ('susanandbill4911', 3),
 ('jan8763', 8),
 ('richard9693', 2),
 ('cgull', 11),
 ('rachael8906', 5),
 ('barbara5078', 5),
 ('thomas8970', 2),
 ('helen5675', 3),
 ('darryl7606', 19),
 ('graham8286', 5),
 ('andrea7380', 2),
 ('boaz5464', 10),
 ('leland6915', 7),
 ('neil000', 49),
 ('nadiamir', 3),
 ('nathan4355', 3),
 ('angela5969', 3),
 ('june5576', 6),
 ('jan7030', 3),
 ('zen7998', 2),
 ('unitarianuniversali3384', 7),
 ('joan3580', 16),
 ('elizabeth6283', 24),
 ('jon5113', 14),
 ('jeanie1305', 2),
 ('helge5511', 3),
 ('cyn5646', 4),
 ('tina5592', 3),
 ('bill8400', 2),
 ('thomasgraham', 4),
 ('laurin', 7),
 ('frank8142', 5),
 ('premal', 8),
 ('leslieinjapan', 7),
 ('jonasb', 10),
 ('david7193', 9),
 ('simon8263', 6),
 ('michael9752', 2),
 ('elizabeth9621', 2),
 ('yuri7211', 2),
 ('joan6214', 3),
 ('becauseyoucare', 5),
 ('maryanne3170', 4),
 ('jan6672', 2),
 ('rachel3298', 4),
 ('sarah83079025', 8),
 ('jodie4413', 2),
 ('kathewelch', 5),
 ('dafydd23', 3),
 ('spencer6921', 2),
 ('charlieandsheila9534', 4),
 ('rene2905', 2),
 ('bette3942', 2),
 ('kartik7352', 2),
 ('vanhara', 88),
 ('webwidejosh', 4),
 ('sally8048', 3),
 ('katsujiro1653', 18),
 ('ezra1813', 5),
 ('susan5374', 2),
 ('scott8438', 15),
 ('jjakmides', 2),
 ('marrilee5290', 3),
 ('james68166216', 2),
 ('gunhild2246', 32),
 ('caspar4036', 9),
 ('julie8344', 2),
 ('karen1536', 4),
 ('andrea4458', 2),
 ('cubex', 4),
 ('arendanddarlene3111', 3),
 ('heather4452', 4),
 ('jakethielen', 2),
 ('clara3321', 2),
 ('christian3795', 2),
 ('ignaki', 5),
 ('greg2708', 3),
 ('burkhard2424', 18),
 ('caroline6735', 2),
 ('behnaz1023', 3),
 ('nicole4331', 2),
 ('jeancharles6948', 2),
 ('paulandkathy3332', 3),
 ('bill7224', 7),
 ('kat5475', 2),
 ('dee1355', 4),
 ('simon2264', 3),
 ('jaycassandra7756', 17),
 ('kristyn3371', 2),
 ('elin4402', 3),
 ('asparagirl', 6),
 ('margaret9763', 3),
 ('gravitex', 6),
 ('drem1641', 2),
 ('roefamily7690', 6),
 ('ivano4041', 5),
 ('dahlers', 6),
 ('laureandnathan8538', 8),
 ('reese1563', 2),
 ('benito', 12),
 ('andreascott', 4),
 ('laura8059', 4),
 ('greg3464', 6),
 ('janel2765', 3),
 ('marjorie4354', 2),
 ('markjrodrigues', 2),
 ('andrew2066', 4),
 ('russell9818', 4),
 ('jo4197', 2),
 ('mayo4304', 4),
 ('mary5891', 4),
 ('susan6148', 5),
 ('john4502', 2),
 ('lynda6318', 2),
 ('edith6098', 66),
 ('samuele5076', 2),
 ('carol87577825', 6),
 ('melinda5249', 2),
 ('brenda6572', 3),
 ('mitchell4909', 3),
 ('thierry8170', 161),
 ('thomas3406', 2),
 ('joan4001', 2),
 ('giorgio8831', 2),
 ('mary9011', 4),
 ('nicole94062489', 2),
 ('nikaso', 2),
 ('adam2571', 4),
 ('alwynne3021', 3),
 ('john6739', 2),
 ('louai6934', 3),
 ('joshua2603', 3),
 ('cedric9771', 5),
 ('john7508', 14),
 ('andreas8709', 2),
 ('lisa6202', 4),
 ('jesse3022', 4),
 ('rain9931', 3),
 ('christopher4551', 2),
 ('leecarol8813', 2),
 ('hayley8928', 6),
 ('thomas6441', 2),
 ('sara6858', 5),
 ('sabina4957', 4),
 ('lisa9134', 2),
 ('cal', 9),
 ('kevin85169812', 2),
 ('kodzos', 11),
 ('holger', 4),
 ('leobabauta', 9),
 ('george7103', 12),
 ('james1698', 5),
 ('olemartin5297', 4),
 ('carsten5395', 4),
 ('tanya7514', 3),
 ('irene9004', 13),
 ('naresh2185', 3),
 ('sheri4902', 2),
 ('david2051', 16),
 ('jessica8433', 2),
 ('toosje7995', 4),
 ('diane6471', 2),
 ('gerard6210', 42),
 ('chance7425', 5),
 ('pomerleaus', 56),
 ('douglas1249', 2),
 ('alfredo9903', 12),
 ('wallace5589', 4),
 ('intersecthomes', 23),
 ('lucascervera', 3),
 ('hugo9358', 2),
 ('armin3179', 4),
 ('maria25657979', 3),
 ('bryan1078', 10),
 ('elaine4791', 2),
 ('jacqueline4998', 26),
 ('hiromitsu8096', 7),
 ('qqconsultancy1176', 2),
 ('heiko4691', 3),
 ('claudio1490', 17),
 ('tom1045', 162),
 ('devlin', 2),
 ('will8607', 47),
 ('dan7873', 2),
 ('chantal9509', 7),
 ('nova3240', 3),
 ('joyce3954', 2),
 ('seiko1977', 2),
 ('robert6426', 16),
 ('laura7277', 11),
 ('timothy5629', 8),
 ('gregory2085', 92),
 ('nate5869', 7),
 ('ericjohanna', 3),
 ('herb3525', 3),
 ('tomandjennifer6519', 4),
 ('ilia2272', 3),
 ('adrian7356', 5),
 ('trevor4834', 4),
 ('aigean', 2),
 ('jon3163', 7),
 ('vicki3154', 3),
 ('delsa7805', 86),
 ('peggyellen3500', 13),
 ('katherine7227', 2),
 ('rameri', 5),
 ('pedro7827', 4),
 ('jennifer1899', 2),
 ('jackie1431', 6),
 ('bjornh', 11),
 ('constance2150', 10),
 ('yalla', 2),
 ('ricardo2012', 3),
 ('stephen6', 6),
 ('christian4060', 4),
 ('RotaryBerea', 11),
 ('peterparnes', 4),
 ('jane3654', 4),
 ('tim8475', 13),
 ('claudia2125', 4),
 ('andrew7872', 4),
 ('rgbkn9267', 3),
 ('gustaafvocking', 11),
 ('stephen8950', 27),
 ('kendra1822', 2),
 ('eigenologie', 4),
 ('carol8108', 2),
 ('john3415', 18),
 ('andrepax', 10),
 ('ali9555', 89),
 ('steve2085', 3),
 ('erica7232', 2),
 ('michael57969289', 6),
 ('steve3114', 4),
 ('mimine2374', 2),
 ('mona1327', 4),
 ('rachael6068', 2),
 ('andrew5389', 3),
 ('jeremy1982', 4),
 ('marjana6954', 2),
 ('stian4451', 2),
 ('alancheuk', 2),
 ('kevin7605', 11),
 ('natasja7107', 4),
 ('brian77155418', 3),
 ('sean88546066', 3),
 ('robert8715', 3),
 ('becky6951', 2),
 ('stefano8849', 2),
 ('dot7524', 2),
 ('naveed3654', 2),
 ('annemarie1739', 2),
 ('helge4994', 6),
 ('david98107743', 2),
 ('sonseeahray1895', 2),
 ('mayumi4976', 3),
 ('tracyhc4053', 4),
 ('mathias4964', 2),
 ('bas2217', 4),
 ('sam1159', 5),
 ('jacob8624', 2),
 ('imfeld7976', 2),
 ('dale4170', 2),
 ('miriamaok', 2),
 ('justin8222', 4),
 ('johannes4403', 5),
 ('alison6772', 2),
 ('beat8177', 2),
 ('sandy1961', 3),
 ('laura8232', 2),
 ('bill8451', 3),
 ('june7708', 22),
 ('andrew2789', 2),
 ('casey3458', 2),
 ('lauren2768', 2),
 ('richard4986', 10),
 ('larryandpatti1522', 6),
 ('marilyn8971', 2),
 ('ward1831', 3),
 ('maryt7871', 3),
 ('jerrybraun', 4),
 ('bobharris', 122),
 ('greg3577', 2),
 ('julie91598707', 2),
 ('greenlightapparel', 2),
 ('daan3838', 6),
 ('kel4408', 7),
 ('alexandnicole8313', 2),
 ('wolfgang3771', 44),
 ('esther6149', 2),
 ('mandy4000', 2),
 ('compatible', 8),
 ('chris6081', 2),
 ('kivaatconferece1990', 20),
 ('InternetSweden', 32),
 ('alexh', 2),
 ('michael7799', 2),
 ('cath7361', 2),
 ('alexallain8823', 3),
 ('magdalena8471', 14),
 ('andrew2425', 5),
 ('moniquepaul1957', 2),
 ('davinareto', 2),
 ('mike86272494', 4),
 ('mandmandgg6931', 4),
 ('barryanddonna6450', 8),
 ('natasha8952', 4),
 ('deydos', 3),
 ('heberlonghurst', 20),
 ('andrew5306', 55),
 ('cliffmarybethwedding', 5),
 ('stpaulsunitedchurcho6657', 7),
 ('david1417', 2),
 ('john65466368', 3),
 ('kyle7025', 12),
 ('pat6309', 2),
 ('mauricio6817', 7),
 ('deanandjuliet2965', 4),
 ('doug9692', 5),
 ('danielle7539', 2),
 ('jeffrey3765', 4),
 ('ronald7404', 8),
 ('olakunle8842', 2),
 ('brian8031', 5),
 ('caroline2926', 3),
 ('nhu', 3),
 ('guido9427', 10),
 ('sierrafoundation', 50),
 ('lena1855', 25),
 ('richardm', 6),
 ('john8265', 2),
 ('vincent3765', 8),
 ('carey2247', 2),
 ('dwight1287', 3),
 ('barbara3761', 6),
 ('ada3095', 8),
 ('dngem9271', 2),
 ('brian9505', 2),

**4.** For each country, compute how many loans have involved that country as borrowers.

- This solution is based on calculation/counting using dicitionary object:

In [8]:
import time as tm
start_time = tm.time()
stat={}
for index, row in loans.iterrows(): 
    cn = row['country_name']
    cc = row['country_code']
    stat[(cc,cn)] = 1 + stat.get((cc,cn), 0)
print("--- %s seconds ---" % (tm.time()-start_time)) 
stat

--- 4.853782653808594 seconds ---

{('PH', 'Philippines'): 4542,
 ('HN', 'Honduras'): 222,
 ('PK', 'Pakistan'): 610,
 ('KG', 'Kyrgyzstan'): 165,
 ('SV', 'El Salvador'): 1073,
 ('BI', 'Burundi'): 35,
 ('ML', 'Mali'): 180,
 ('MN', 'Mongolia'): 134,
 ('PE', 'Peru'): 1059,
 ('GE', 'Georgia'): 120,
 ('AM', 'Armenia'): 212,
 ('GH', 'Ghana'): 313,
 ('TZ', 'Tanzania'): 176,
 ('KH', 'Cambodia'): 955,
 ('TG', 'Togo'): 205,
 ('GT', 'Guatemala'): 134,
 ('LB', 'Lebanon'): 230,
 ('PY', 'Paraguay'): 372,
 ('NI', 'Nicaragua'): 608,
 ('KE', 'Kenya'): 1876,
 ('UG', 'Uganda'): 641,
 ('RW', 'Rwanda'): 233,
 ('MZ', 'Mozambique'): 77,
 ('AZ', 'Azerbaijan'): 109,
 ('IL', 'Israel'): 12,
 ('TJ', 'Tajikistan'): 659,
 ('BO', 'Bolivia'): 356,
 ('MX', 'Mexico'): 196,
 ('ID', 'Indonesia'): 124,
 ('NG', 'Nigeria'): 175,
 ('EC', 'Ecuador'): 427,
 ('MG', 'Madagascar'): 57,
 ('VN', 'Vietnam'): 309,
 ('CO', 'Colombia'): 458,
 ('JO', 'Jordan'): 230,
 ('YE', 'Yemen'): 88,
 ('IN', 'India'): 484,
 ('CL', 'Chile'): 16,
 ('AL', 'Albania'): 50,
 ('PS', 'Palestine'): 180,
 ('NP', 'Nepal'): 32,
 ('SL', 'Sierra Leone'): 241,
 ('US', 'United States'): 55,
 ('CD', 'The Democratic Republic of the Congo'): 80,
 ('CM', 'Cameroon'): 65,
 ('WS', 'Samoa'): 210,
 ('DO', 'Dominican Republic'): 38,
 ('BJ', 'Benin'): 79,
 ('LR', 'Liberia'): 219,
 ('SN', 'Senegal'): 163,
 ('LA', "Lao People's Democratic Republic"): 22,
 ('MM', 'Myanmar (Burma)'): 21,
 ('IQ', 'Iraq'): 69,
 ('ZW', 'Zimbabwe'): 91,
 ('TH', 'Thailand'): 5,
 ('BF', 'Burkina Faso'): 40,
 ('TL', 'Timor-Leste'): 56,
 ('HT', 'Haiti'): 50,
 ('UA', 'Ukraine'): 58,
 ('CG', 'Congo'): 15,
 ('XK', 'Kosovo'): 51,
 ('AF', 'Afghanistan'): 12,
 ('ZA', 'South Africa'): 16,
 ('SS', 'South Sudan'): 48,
 ('CR', 'Costa Rica'): 53,
 ('TR', 'Turkey'): 23,
 ('EG', 'Egypt'): 28,
 ('ZM', 'Zambia'): 18,
 ('BZ', 'Belize'): 4,
 ('MW', 'Malawi'): 13,
 ('SR', 'Suriname'): 6,
 ('SO', 'Somalia'): 3,
 ('SB', 'Solomon Islands'): 4,
 ('MD', 'Moldova'): 3,
 ('CN', 'China'): 3,
 ('BR', 'Brazil'): 2,
 ('LS', 'Lesotho'): 1,
 ('BA', 'Bosnia and Herzegovina'): 1}

**5.** For each country, compute the overall amount of money borrowed.

- This solution is based on calculation/sum using dicitionary object:

In [9]:
import time as tm
start_time = tm.time()
stat={}
for index, row in loans.iterrows(): 
    cn = row['country_name']
    cc = row['country_code']
    stat[(cc,cn)] = stat.get((cc,cn), 0) + row['loan_amount']
print("--- %s seconds ---" % (tm.time()-start_time)) 
stat

--- 4.855634450912476 seconds ---

{('PH', 'Philippines'): 1523875.0,
 ('HN', 'Honduras'): 186600.0,
 ('PK', 'Pakistan'): 325000.0,
 ('KG', 'Kyrgyzstan'): 215175.0,
 ('SV', 'El Salvador'): 689500.0,
 ('BI', 'Burundi'): 108675.0,
 ('ML', 'Mali'): 201575.0,
 ('MN', 'Mongolia'): 235425.0,
 ('PE', 'Peru'): 1003125.0,
 ('GE', 'Georgia'): 191675.0,
 ('AM', 'Armenia'): 371075.0,
 ('GH', 'Ghana'): 245825.0,
 ('TZ', 'Tanzania'): 324150.0,
 ('KH', 'Cambodia'): 672900.0,
 ('TG', 'Togo'): 136325.0,
 ('GT', 'Guatemala'): 225375.0,
 ('LB', 'Lebanon'): 326675.0,
 ('PY', 'Paraguay'): 907925.0,
 ('NI', 'Nicaragua'): 486375.0,
 ('KE', 'Kenya'): 982100.0,
 ('UG', 'Uganda'): 524325.0,
 ('RW', 'Rwanda'): 358875.0,
 ('MZ', 'Mozambique'): 44300.0,
 ('AZ', 'Azerbaijan'): 205675.0,
 ('IL', 'Israel'): 42525.0,
 ('TJ', 'Tajikistan'): 619850.0,
 ('BO', 'Bolivia'): 666475.0,
 ('MX', 'Mexico'): 303550.0,
 ('ID', 'Indonesia'): 93400.0,
 ('NG', 'Nigeria'): 62175.0,
 ('EC', 'Ecuador'): 470950.0,
 ('MG', 'Madagascar'): 17700.0,
 ('VN', 'Vietnam'): 377700.0,
 ('CO', 'Colombia'): 332675.0,
 ('JO', 'Jordan'): 258575.0,
 ('YE', 'Yemen'): 92100.0,
 ('IN', 'India'): 230325.0,
 ('CL', 'Chile'): 42950.0,
 ('AL', 'Albania'): 69800.0,
 ('PS', 'Palestine'): 287550.0,
 ('NP', 'Nepal'): 10350.0,
 ('SL', 'Sierra Leone'): 176225.0,
 ('US', 'United States'): 294625.0,
 ('CD', 'The Democratic Republic of the Congo'): 276050.0,
 ('CM', 'Cameroon'): 28750.0,
 ('WS', 'Samoa'): 151925.0,
 ('DO', 'Dominican Republic'): 97050.0,
 ('BJ', 'Benin'): 61550.0,
 ('LR', 'Liberia'): 65900.0,
 ('SN', 'Senegal'): 289100.0,
 ('LA', "Lao People's Democratic Republic"): 8450.0,
 ('MM', 'Myanmar (Burma)'): 23850.0,
 ('IQ', 'Iraq'): 173650.0,
 ('ZW', 'Zimbabwe'): 92700.0,
 ('TH', 'Thailand'): 10950.0,
 ('BF', 'Burkina Faso'): 46325.0,
 ('TL', 'Timor-Leste'): 51800.0,
 ('HT', 'Haiti'): 63200.0,
 ('UA', 'Ukraine'): 98125.0,
 ('CG', 'Congo'): 25225.0,
 ('XK', 'Kosovo'): 74950.0,
 ('AF', 'Afghanistan'): 11625.0,
 ('ZA', 'South Africa'): 29000.0,
 ('SS', 'South Sudan'): 23425.0,
 ('CR', 'Costa Rica'): 76575.0,
 ('TR', 'Turkey'): 9850.0,
 ('EG', 'Egypt'): 17625.0,
 ('ZM', 'Zambia'): 32650.0,
 ('BZ', 'Belize'): 4850.0,
 ('MW', 'Malawi'): 9800.0,
 ('SR', 'Suriname'): 12450.0,
 ('SO', 'Somalia'): 1850.0,
 ('SB', 'Solomon Islands'): 3300.0,
 ('MD', 'Moldova'): 5075.0,
 ('CN', 'China'): 7125.0,
 ('BR', 'Brazil'): 4425.0,
 ('LS', 'Lesotho'): 600.0,
 ('BA', 'Bosnia and Herzegovina'): 575.0}

**6.** Like the previous point, but expressed as a percentage of the overall amount lent.

- This solution is based on calculation using dicitionary object:

In [10]:
import time as tm
start_time = tm.time()
stat={}
total = 0
for index, row in loans.iterrows(): 
    cn = row['country_name']
    cc = row['country_code']
    stat[(cc,cn)] = stat.get((cc,cn), 0) + row['loan_amount']
    total += row['loan_amount']
for k in stat.keys():
    stat[k] = stat[k]/total*100
print("--- %s seconds ---" % (tm.time()-start_time)) 
stat

--- 5.539268732070923 seconds ---

{('PH', 'Philippines'): 9.053238179401303,
 ('HN', 'Honduras'): 1.1085779635969375,
 ('PK', 'Pakistan'): 1.9308029912594034,
 ('KG', 'Kyrgyzstan'): 1.278340103520745,
 ('SV', 'El Salvador'): 4.096272807610334,
 ('BI', 'Burundi'): 0.6456308156157404,
 ('ML', 'Mali'): 1.1975434245018899,
 ('MN', 'Mongolia'): 1.3986439822069077,
 ('PE', 'Peru'): 5.959497694175658,
 ('GE', 'Georgia'): 1.138728194921988,
 ('AM', 'Armenia'): 2.204531446097179,
 ('GH', 'Ghana'): 1.4604296779272088,
 ('TZ', 'Tanzania'): 1.925753198820725,
 ('KH', 'Cambodia'): 3.9976533317490848,
 ('TG', 'Togo'): 0.8098975931798097,
 ('GT', 'Guatemala'): 1.3389376127848862,
 ('LB', 'Lebanon'): 1.9407540528297402,
 ('PY', 'Paraguay'): 5.393920941043674,
 ('NI', 'Nicaragua'): 2.889520938073207,
 ('KE', 'Kenya'): 5.834589592971877,
 ('UG', 'Uganda'): 3.1149793181294974,
 ('RW', 'Rwanda'): 2.132052072271441,
 ('MZ', 'Mozambique'): 0.2631833000393587,
 ('AZ', 'Azerbaijan'): 1.2219012468531625,
 ('IL', 'Israel'): 0.2526381452409419,
 ('TJ', 'Tajikistan'): 3.6824868742527417,
 ('BO', 'Bolivia'): 3.9594828418449564,
 ('MX', 'Mexico'): 1.8033699938362828,
 ('ID', 'Indonesia'): 0.5548830750265485,
 ('NG', 'Nigeria'): 0.36937746455862586,
 ('EC', 'Ecuador'): 2.7978820576418957,
 ('MG', 'Madagascar'): 0.1051545013701275,
 ('VN', 'Vietnam'): 2.2438901224574663,
 ('CO', 'Colombia'): 1.9763996465145293,
 ('JO', 'Jordan'): 1.5361765645073853,
 ('YE', 'Yemen'): 0.5471598630615109,
 ('IN', 'India'): 1.3683452275748373,
 ('CL', 'Chile'): 0.2551630414602812,
 ('AL', 'Albania'): 0.41467707319971187,
 ('PS', 'Palestine'): 1.708315077343512,
 ('NP', 'Nepal'): 0.061488649106261,
 ('SL', 'Sierra Leone'): 1.0469407911836566,
 ('US', 'United States'): 1.750347173230159,
 ('CD', 'The Democratic Republic of the Congo'): 1.6399943561143333,
 ('CM', 'Cameroon'): 0.17080180307294723,
 ('WS', 'Samoa'): 0.9025761367602612,
 ('DO', 'Dominican Republic'): 0.5765674778514618,
 ('BJ', 'Benin'): 0.365664381883127,
 ('LR', 'Liberia'): 0.391507437304599,
 ('SN', 'Senegal'): 1.7175235223787493,
 ('LA', "Lao People's Democratic Republic"): 0.05020087777274449,
 ('MM', 'Myanmar (Burma)'): 0.14169123489703622,
 ('IQ', 'Iraq'): 1.0316428905606012,
 ('ZW', 'Zimbabwe'): 0.5507244224299899,
 ('TH', 'Thailand'): 0.0650532084747399,
 ('BF', 'Burkina Faso'): 0.27521368790797496,
 ('TL', 'Timor-Leste'): 0.30774029214534493,
 ('HT', 'Haiti'): 0.37546692014644395,
 ('UA', 'Ukraine'): 0.5829539800533199,
 ('CG', 'Congo'): 0.14986001678313368,
 ('XK', 'Kosovo'): 0.44527287444582236,
 ('AF', 'Afghanistan'): 0.06906333776427866,
 ('ZA', 'South Africa'): 0.17228703614314678,
 ('SS', 'South Sudan'): 0.139166338677697,
 ('CR', 'Costa Rica'): 0.45492688940211945,
 ('TR', 'Turkey'): 0.05851818296586192,
 ('EG', 'Egypt'): 0.10470893144906765,
 ('ZM', 'Zambia'): 0.19397143896806007,
 ('BZ', 'Belize'): 0.028813521561871093,
 ('MW', 'Malawi'): 0.05822113635182201,
 ('SR', 'Suriname'): 0.07396460689593715,
 ('SO', 'Somalia'): 0.010990724719476604,
 ('SB', 'Solomon Islands'): 0.01960507652663394,
 ('MD', 'Moldova'): 0.030150231325050684,
 ('CN', 'China'): 0.04232914250068692,
 ('BR', 'Brazil'): 0.026288625342531874,
 ('LS', 'Lesotho'): 0.0035645593684788986,
 ('BA', 'Bosnia and Herzegovina'): 0.0034160360614589446}

`7.` Like the three previous points, but split for each year (with respect to `disburse time`).

- This solution is based on calculation using dicitionary object:

In [12]:
from datetime import datetime as dt
import time as tm
start_time = tm.time()
stat={}
total = 0
for index, row in loans.iterrows(): 
    cn = row['country_name']
    cc = row['country_code']
    y = dt.strptime(row['disburse_time'], "%Y-%m-%d %H:%M:%S.%f %z").year
    triplet = stat.get((cc,cn,y), (0,0,0))
    stat[(cc,cn,y)] =  (triplet[0] + 1, triplet[1] + row['loan_amount'], None)
    total += row['loan_amount']
for k in stat.keys():
    triplet = stat[k]
    stat[k]= (triplet[0], triplet[1], triplet[1]/total*100)
print("--- %s seconds ---" % (tm.time()-start_time)) 
stat

--- 8.115744590759277 seconds ---

{('PH', 'Philippines', 2013): (693, 265225.0, 1.5756837641746932),
 ('HN', 'Honduras', 2013): (65, 57250.0, 0.3401183730756949),
 ('PK', 'Pakistan', 2014): (138, 66950.0, 0.3977454161994371),
 ('KG', 'Kyrgyzstan', 2014): (37, 45175.0, 0.26838161578505704),
 ('PH', 'Philippines', 2014): (907, 306900.0, 1.8232721169769568),
 ('SV', 'El Salvador', 2014): (278, 183275.0, 1.0888243637632835),
 ('BI', 'Burundi', 2014): (9, 23575.0, 0.14005747851981673),
 ('ML', 'Mali', 2014): (57, 59500.0, 0.35348547070749076),
 ('MN', 'Mongolia', 2013): (57, 121450.0, 0.721526225502937),
 ('PE', 'Peru', 2013): (220, 228575.0, 1.3579485960834403),
 ('HN', 'Honduras', 2014): (62, 50875.0, 0.30224492978560663),
 ('PH', 'Philippines', 2015): (467, 162950.0, 0.9680749151560608),
 ('PK', 'Pakistan', 2015): (65, 32700.0, 0.19426848558209997),
 ('GE', 'Georgia', 2015): (8, 13975.0, 0.08302452862415434),
 ('SV', 'El Salvador', 2015): (93, 63125.0, 0.3750213502253841),
 ('AM', 'Armenia', 2015): (26, 36925.0, 0.2193689244684722),
 ('KG', 'Kyrgyzstan', 2015): (23, 24900.0, 0.1479292137918743),
 ('GH', 'Ghana', 2015): (14, 12175.0, 0.07233085051871764),
 ('TZ', 'Tanzania', 2015): (19, 20075.0, 0.11926421553702315),
 ('KH', 'Cambodia', 2015): (84, 51100.0, 0.3035816395487862),
 ('TG', 'Togo', 2012): (38, 34025.0, 0.20214022085415753),
 ('GT', 'Guatemala', 2012): (7, 7950.0, 0.047230411632345405),
 ('LB', 'Lebanon', 2012): (23, 36700.0, 0.21803221470529263),
 ('PY', 'Paraguay', 2012): (52, 122100.0, 0.7253878314854558),
 ('NI', 'Nicaragua', 2012): (86, 69925.0, 0.41541968973481164),
 ('KE', 'Kenya', 2012): (268, 110300.0, 0.6552848305720376),
 ('UG', 'Uganda', 2012): (87, 62425.0, 0.3708626976288254),
 ('RW', 'Rwanda', 2012): (54, 52700.0, 0.31308713119806325),
 ('PH', 'Philippines', 2012): (415, 155975.0, 0.9266369124974937),
 ('MZ', 'Mozambique', 2012): (11, 6200.0, 0.03683378014094862),
 ('AZ', 'Azerbaijan', 2012): (16, 29050.0, 0.17258408275718667),
 ('IL', 'Israel', 2012): (3, 11875.0, 0.0705485708344782),
 ('TJ', 'Tajikistan', 2012): (62, 82625.0, 0.4908695297009483),
 ('BO', 'Bolivia', 2012): (41, 66550.0, 0.3953690432871178),
 ('MX', 'Mexico', 2012): (34, 80175.0, 0.4763142456129928),
 ('KH', 'Cambodia', 2012): (99, 72625.0, 0.43146020689296666),
 ('HN', 'Honduras', 2012): (35, 27250.0, 0.16189040465174998),
 ('PH', 'Philippines', 2016): (383, 123325.0, 0.7326654735294336),
 ('KH', 'Cambodia', 2016): (126, 66125.0, 0.3928441470677786),
 ('SV', 'El Salvador', 2016): (98, 66875.0, 0.3972998462783772),
 ('ID', 'Indonesia', 2016): (23, 12600.0, 0.07485574673805687),
 ('NG', 'Nigeria', 2016): (21, 6500.0, 0.038616059825188065),
 ('MX', 'Mexico', 2010): (18, 38300.0, 0.22753770635456969),
 ('PH', 'Philippines', 2010): (105, 36825.0, 0.2187748312403924),
 ('EC', 'Ecuador', 2010): (46, 40225.0, 0.23897400099510616),
 ('MG', 'Madagascar', 2016): (12, 3950.0, 0.023466682509152747),
 ('PE', 'Peru', 2010): (83, 43500.0, 0.25843055421472017),
 ('TJ', 'Tajikistan', 2015): (39, 31050.0, 0.18446594731878302),
 ('NI', 'Nicaragua', 2016): (20, 21200.0, 0.12594776435292107),
 ('BO', 'Bolivia', 2016): (20, 47325.0, 0.28115462018877313),
 ('VN', 'Vietnam', 2016): (35, 62375.0, 0.3705656510147855),
 ('KE', 'Kenya', 2014): (334, 259450.0, 1.5413748802530836),
 ('CO', 'Colombia', 2013): (82, 84225.0, 0.5003750213502254),
 ('NI', 'Nicaragua', 2014): (119, 99900.0, 0.5934991348517366),
 ('JO', 'Jordan', 2013): (41, 47900.0, 0.2845706562502321),
 ('YE', 'Yemen', 2014): (33, 43225.0, 0.25679679783750065),
 ('BO', 'Bolivia', 2013): (97, 166050.0, 0.9864918052265352),
 ('KE', 'Kenya', 2015): (173, 79775.0, 0.4739378727006736),
 ('UG', 'Uganda', 2015): (44, 41600.0, 0.24714278288120364),
 ('MG', 'Madagascar', 2015): (15, 3475.0, 0.02064473967577362),
 ('NG', 'Nigeria', 2015): (22, 3275.0, 0.019456553219613988),
 ('JO', 'Jordan', 2015): (13, 14800.0, 0.08792579775581283),
 ('ID', 'Indonesia', 2015): (17, 10475.0, 0.06223126564136077),
 ('IN', 'India', 2015): (39, 20975.0, 0.12461105458974149),
 ('CL', 'Chile', 2012): (7, 22500.0, 0.13367097631795868),
 ('ID', 'Indonesia', 2012): (15, 13150.0, 0.07812325949249585),
 ('PK', 'Pakistan', 2012): (23, 26850.0, 0.1595140317394307),
 ('EC', 'Ecuador', 2012): (74, 80825.0, 0.4801758515955116),
 ('SV', 'El Salvador', 2012): (105, 66300.0, 0.3938838102169183),
 ('BI', 'Burundi', 2012): (7, 25650.0, 0.15238491300247292),
 ('PE', 'Peru', 2012): (173, 143275.0, 0.851187072531357),
 ('TJ', 'Tajikistan', 2016): (66, 46175.0, 0.2743225480658552),
 ('AL', 'Albania', 2016): (4, 5725.0, 0.03401183730756949),
 ('UG', 'Uganda', 2010): (25, 29975.0, 0.17807944511692497),
 ('KH', 'Cambodia', 2010): (37, 31400.0, 0.18654527361706236),
 ('BO', 'Bolivia', 2010): (21, 21225.0, 0.12609628765994102),
 ('KE', 'Kenya', 2016): (196, 95625.0, 0.5681016493513245),
 ('KE', 'Kenya', 2013): (446, 247700.0, 1.4715689259537053),
 ('PS', 'Palestine', 2013): (43, 66075.0, 0.3925471004537387),
 ('PY', 'Paraguay', 2013): (76, 241725.0, 1.4360718555759362),
 ('AL', 'Albania', 2014): (16, 27225.0, 0.16174188134473003),
 ('TJ', 'Tajikistan', 2014): (110, 117975.0, 0.7008814858271635),
 ('AZ', 'Azerbaijan', 2014): (18, 38950.0, 0.2313993123370885),
 ('NP', 'Nepal', 2013): (7, 2350.0, 0.013961190859875685),
 ('SL', 'Sierra Leone', 2014): (72, 47450.0, 0.2818972367238729),
 ('EC', 'Ecuador', 2014): (63, 77475.0, 0.46027372845483777),
 ('JO', 'Jordan', 2014): (37, 40125.0, 0.23837990776702633),
 ('US', 'United States', 2013): (14, 75150.0, 0.44646106090198207),
 ('LB', 'Lebanon', 2015): (24, 29425.0, 0.174811932362486),
 ('EC', 'Ecuador', 2015): (27, 32950.0, 0.1957537186522995),
 ('CD', 'The Democratic Republic of the Congo', 2015): (6,
  17500.0,
  0.10396631491396788),
 ('CM', 'Cameroon', 2015): (4, 1900.0, 0.011287771333516512),
 ('WS', 'Samoa', 2015): (24, 20375.0, 0.12104649522126258),
 ('BO', 'Bolivia', 2015): (32, 63825.0, 0.3791800028219428),
 ('AM', 'Armenia', 2012): (20, 44025.0, 0.2615495436621392),
 ('GH', 'Ghana', 2012): (46, 19100.0, 0.11347180656324495),
 ('DO', 'Dominican Republic', 2012): (9, 17500.0, 0.10396631491396788),
 ('BJ', 'Benin', 2012): (32, 24550.0, 0.14584988749359493),
 ('JO', 'Jordan', 2012): (47, 47525.0, 0.2823428066449328),
 ('CO', 'Colombia', 2016): (48, 24575.0, 0.14599841080061488),
 ('PK', 'Pakistan', 2016): (69, 30475.0, 0.18104991125732406),
 ('NP', 'Nepal', 2016): (4, 1450.0, 0.008614351807157338),
 ('WS', 'Samoa', 2016): (15, 14500.0, 0.08614351807157339),
 ('GE', 'Georgia', 2016): (2, 4600.0, 0.027328288491671557),
 ('PE', 'Peru', 2016): (39, 57900.0, 0.3439799790582137),
 ('KE', 'Kenya', 2010): (63, 29875.0, 0.17748535188884515),
 ('PK', 'Pakistan', 2010): (6, 5125.0, 0.03044727793909059),
 ('NI', 'Nicaragua', 2010): (33, 19900.0, 0.11822455238788346),
 ('JO', 'Jordan', 2016): (31, 37725.0, 0.22412167029311073),
 ('IN', 'India', 2016): (102, 38025.0, 0.22590394997735022),
 ('PK', 'Pakistan', 2013): (165, 72750.0, 0.4322028234280665),
 ('SV', 'El Salvador', 2013): (231, 133425.0, 0.7926688895654951),
 ('IN', 'India', 2013): (36, 43425.0, 0.2579849842936603),
 ('LR', 'Liberia', 2014): (71, 19000.0, 0.11287771333516512),
 ('CO', 'Colombia', 2014): (119, 98650.0, 0.5860729695007388),
 ('PS', 'Palestine', 2014): (40, 64800.0, 0.38497241179572106),
 ('UG', 'Uganda', 2013): (158, 116875.0, 0.6943464603182854),
 ('KH', 'Cambodia', 2014): (121, 94775.0, 0.563051856912646),
 ('MZ', 'Mozambique', 2015): (10, 6775.0, 0.040249816202407564),
 ('PE', 'Peru', 2015): (77, 136800.0, 0.8127195360131888),
 ('SN', 'Senegal', 2015): (12, 27975.0, 0.16619758055532863),
 ('GT', 'Guatemala', 2015): (22, 45075.0, 0.26778752255697724),
 ('CO', 'Colombia', 2015): (83, 44375.0, 0.26362886996041857),
 ('LA', "Lao People's Democratic Republic", 2015): (5,
  2400.0,
  0.014258237473915594),
 ('MX', 'Mexico', 2015): (18, 27000.0, 0.16040517158155043),
 ('VN', 'Vietnam', 2012): (30, 19925.0, 0.11837307569490343),
 ('SL', 'Sierra Leone', 2012): (28, 39300.0, 0.23347863863536783),
 ('NP', 'Nepal', 2012): (6, 1950.0, 0.011584817947556421),
 ('KG', 'Kyrgyzstan', 2012): (35, 52000.0, 0.3089284786015045),
 ('WS', 'Samoa', 2012): (29, 18150.0, 0.10782792089648668),
 ('PS', 'Palestine', 2012): (16, 29200.0, 0.1734752225993064),
 ('CO', 'Colombia', 2012): (44, 34200.0, 0.2031798840032972),
 ('AM', 'Armenia', 2016): (18, 29600.0, 0.17585159551162566),
 ('MM', 'Myanmar (Burma)', 2016): (4, 4400.0, 0.02614010203551192),
 ('EC', 'Ecuador', 2016): (25, 21300.0, 0.1265418575810009),
 ('BJ', 'Benin', 2010): (2, 900.0, 0.005346839052718348),
 ('TG', 'Togo', 2016): (15, 3550.0, 0.021090309596833483),
 ('WS', 'Samoa', 2013): (53, 34675.0, 0.20600182683667637),
 ('PE', 'Peru', 2014): (147, 149525.0, 0.8883178992863455),
 ('IQ', 'Iraq', 2014): (23, 52850.0, 0.31397827104018294),
 ('GE', 'Georgia', 2013): (58, 114275.0, 0.6789000363882103),
 ('UG', 'Uganda', 2014): (160, 127000.0, 0.7544983996613668),
 ('ZW', 'Zimbabwe', 2015): (9, 9150.0, 0.0543595303693032),
 ('NI', 'Nicaragua', 2015): (21, 17050.0, 0.1012928953876087),
 ('US', 'United States', 2012): (3, 23000.0, 0.13664144245835777),
 ('RW', 'Rwanda', 2016): (18, 63675.0, 0.3782888629798231),
 ('TG', 'Togo', 2010): (9, 5225.0, 0.03104137116717041),
 ('TJ', 'Tajikistan', 2013): (99, 126800.0, 0.7533102132052072),
 ('KH', 'Cambodia', 2013): (162, 126950.0, 0.7542013530473269),
 ('AM', 'Armenia', 2013): (66, 119175.0, 0.7080106045641212),
 ('IN', 'India', 2014): (57, 48050.0, 0.2854617960923518),
 ('LB', 'Lebanon', 2014): (29, 44375.0, 0.26362886996041857),
 ('TH', 'Thailand', 2015): (1, 1000.0, 0.005940932280798164),
 ('HN', 'Honduras', 2015): (12, 13850.0, 0.08228191208905458),
 ('ML', 'Mali', 2012): (18, 15025.0, 0.08926250751899241),
 ('GE', 'Georgia', 2012): (28, 27950.0, 0.16604905724830868),
 ('BF', 'Burkina Faso', 2016): (8, 8400.0, 0.04990383115870458),
 ('GT', 'Guatemala', 2016): (20, 35400.0, 0.210309002740255),
 ('RW', 'Rwanda', 2010): (18, 17675.0, 0.10500597806310755),
 ('SN', 'Senegal', 2013): (44, 81400.0, 0.48359188765697053),
 ('YE', 'Yemen', 2013): (37, 33975.0, 0.20184317424011763),
 ('LR', 'Liberia', 2013): (91, 25650.0, 0.15238491300247292),
 ('NI', 'Nicaragua', 2013): (157, 141500.0, 0.8406419177329403),
 ('AM', 'Armenia', 2014): (49, 86150.0, 0.5118113159907619),
 ('MX', 'Mexico', 2014): (22, 36600.0, 0.2174381214772128),
 ('SN', 'Senegal', 2012): (27, 39650.0, 0.23555796493364722),
 ('MZ', 'Mozambique', 2016): (6, 2050.0, 0.012178911175636237),
 ('TL', 'Timor-Leste', 2016): (8, 6500.0, 0.038616059825188065),
 ('HT', 'Haiti', 2016): (7, 2250.0, 0.01336709763179587),
 ('GH', 'Ghana', 2016): (8, 13600.0, 0.08079667901885504),
 ('TH', 'Thailand', 2016): (2, 5700.0, 0.03386331400054953),
 ('CD', 'The Democratic Republic of the Congo', 2013): (16,
  73850.0,
  0.4387378489369444),
 ('LR', 'Liberia', 2012): (17, 7500.0, 0.04455699210598623),
 ('SL', 'Sierra Leone', 2013): (94, 51925.0, 0.3084829086804447),
 ('UA', 'Ukraine', 2013): (12, 29375.0, 0.1745148857484461),
 ('GT', 'Guatemala', 2014): (29, 52650.0, 0.31279008458402335),
 ('GE', 'Georgia', 2014): (16, 23900.0, 0.14198828151107615),
 ('RW', 'Rwanda', 2013): (64, 62075.0, 0.36878337133054606),
 ('PH', 'Philippines', 2017): (1194, 371775.0, 2.2086900986937374),
 ('KH', 'Cambodia', 2017): (194, 124050.0, 0.7369726494330123),
 ('SV', 'El Salvador', 2017): (192, 126475.0, 0.7513794102139478),
 ('IN', 'India', 2017): (249, 79300.0, 0.47111592986729445),
 ('PY', 'Paraguay', 2017): (92, 194725.0, 1.1568480383784225),
 ('SL', 'Sierra Leone', 2010): (2, 1450.0, 0.008614351807157338),
 ('CG', 'Congo', 2010): (5, 3100.0, 0.01841689007047431),
 ('WS', 'Samoa', 2014): (41, 31675.0, 0.18817902999428185),
 ('VN', 'Vietnam', 2014): (69, 84850.0, 0.5040881040257242),
 ('PY', 'Paraguay', 2014): (61, 186150.0, 1.1059045440705784),
 ('IQ', 'Iraq', 2012): (16, 40900.0, 0.2429841302846449),
 ('VN', 'Vietnam', 2013): (55, 58600.0, 0.34813863165477243),
 ('MG', 'Madagascar', 2017): (30, 10275.0, 0.06104307918520114),
 ('NI', 'Nicaragua', 2017): (50, 45425.0, 0.2698668488552566),
 ('JO', 'Jordan', 2017): (53, 57275.0, 0.34026689638271485),
 ('US', 'United States', 2016): (7, 45500.0, 0.27031241877631645),
 ('SN', 'Senegal', 2014): (27, 65900.0, 0.391507437304599),
 ('MN', 'Mongolia', 2014): (16, 28500.0, 0.1693165700027477),
 ('BO', 'Bolivia', 2014): (71, 140150.0, 0.8326216591538628),
 ('XK', 'Kosovo', 2016): (9, 13950.0, 0.08287600531713439),
 ('UG', 'Uganda', 2016): (35, 22450.0, 0.1333739297039188),
 ('RW', 'Rwanda', 2014): (20, 27250.0, 0.16189040465174998),
 ('GH', 'Ghana', 2014): (17, 23075.0, 0.13708701237941764),
 ('TJ', 'Tajikistan', 2017): (145, 90025.0, 0.5348324285788547),
 ('AF', 'Afghanistan', 2010): (1, 1175.0, 0.006980595429937842),
 ('SV', 'El Salvador', 2010): (27, 18425.0, 0.10946167727370618),
 ('ZA', 'South Africa', 2014): (2, 3475.0, 0.02064473967577362),
 ('SS', 'South Sudan', 2012): (5, 3750.0, 0.022278496052993115),
 ('MN', 'Mongolia', 2012): (21, 37600.0, 0.22337905375801095),
 ('TZ', 'Tanzania', 2014): (30, 59925.0, 0.35601036692682997),
 ('KE', 'Kenya', 2017): (231, 90300.0, 0.5364661849560742),
 ('SL', 'Sierra Leone', 2016): (11, 9600.0, 0.05703294989566238),
 ('ML', 'Mali', 2013): (54, 55325.0, 0.32868207843515845),
 ('CD', 'The Democratic Republic of the Congo', 2014): (28,
  91900.0,
  0.5459716766053513),
 ('ZW', 'Zimbabwe', 2016): (7, 8950.0, 0.05317134391314357),
 ('PS', 'Palestine', 2016): (23, 31200.0, 0.18535708716090274),
 ('MX', 'Mexico', 2016): (14, 20875.0, 0.12401696136166168),
 ('CR', 'Costa Rica', 2013): (20, 33150.0, 0.19694190510845916),
 ('TZ', 'Tanzania', 2016): (16, 12675.0, 0.07530131665911674),
 ('CM', 'Cameroon', 2016): (4, 1050.0, 0.0062379788948380725),
 ('HN', 'Honduras', 2010): (5, 3625.0, 0.021535879517893347),
 ('EC', 'Ecuador', 2013): (102, 136550.0, 0.8112343029429894),
 ('IL', 'Israel', 2016): (2, 7125.0, 0.04232914250068692),
 ('XK', 'Kosovo', 2014): (17, 26350.0, 0.15654356559903163),
 ('CD', 'The Democratic Republic of the Congo', 2012): (7,
  26200.0,
  0.1556524257569119),
 ('LB', 'Lebanon', 2016): (29, 41300.0, 0.2453605031969642),
 ('PS', 'Palestine', 2015): (15, 26850.0, 0.1595140317394307),
 ('HT', 'Haiti', 2015): (16, 15700.0, 0.09327263680853118),
 ('VN', 'Vietnam', 2015): (29, 39125.0, 0.23243897548622816),
 ('UA', 'Ukraine', 2012): (5, 8800.0, 0.05228020407102384),
 ('XK', 'Kosovo', 2017): (10, 12575.0, 0.07470722343103692),
 ('TG', 'Togo', 2015): (23, 3775.0, 0.02242701936001307),
 ('ID', 'Indonesia', 2013): (24, 27150.0, 0.16129631142367015),
 ('AL', 'Albania', 2015): (3, 3575.0, 0.021238832903853436),
 ('TR', 'Turkey', 2015): (3, 1325.0, 0.007871735272057567),
 ('ID', 'Indonesia', 2014): (27, 20775.0, 0.12342286813358187),
 ('IL', 'Israel', 2014): (2, 7475.0, 0.044408468798966275),
 ('ZW', 'Zimbabwe', 2012): (1, 1200.0, 0.007129118736957797),
 ('PY', 'Paraguay', 2016): (17, 49775.0, 0.2957099042767286),
 ('VN', 'Vietnam', 2017): (56, 81475.0, 0.4840374575780304),
 ('CM', 'Cameroon', 2014): (7, 4625.0, 0.02747681179869151),
 ('SL', 'Sierra Leone', 2015): (4, 4825.0, 0.028664998254851144),
 ('EG', 'Egypt', 2015): (8, 7600.0, 0.045151085334066046),
 ('BI', 'Burundi', 2015): (2, 6250.0, 0.03713082675498853),
 ('IL', 'Israel', 2015): (3, 7725.0, 0.04589370186916582),
 ('ML', 'Mali', 2015): (13, 11175.0, 0.06638991823791948),
 ('PY', 'Paraguay', 2010): (10, 19525.0, 0.11599670278258414),
 ('NP', 'Nepal', 2010): (3, 950.0, 0.005643885666758256),
 ('GH', 'Ghana', 2010): (9, 3275.0, 0.019456553219613988),
 ('TJ', 'Tajikistan', 2010): (11, 16550.0, 0.09832242924720962),
 ('YE', 'Yemen', 2012): (16, 13175.0, 0.07827178279951581),
 ('LB', 'Lebanon', 2010): (16, 23100.0, 0.1372355356864376),
 ('SN', 'Senegal', 2010): (3, 7175.0, 0.04262618911472683),
 ('AZ', 'Azerbaijan', 2010): (4, 7600.0, 0.045151085334066046),
 ('KG', 'Kyrgyzstan', 2010): (7, 6875.0, 0.04084390943048738),
 ('VN', 'Vietnam', 2010): (1, 1325.0, 0.007871735272057567),
 ('MN', 'Mongolia', 2010): (15, 18025.0, 0.10708530436138691),
 ('DO', 'Dominican Republic', 2010): (4, 10625.0, 0.0631224054834805),
 ('US', 'United States', 2014): (12, 65300.0, 0.38794287793612015),
 ('PS', 'Palestine', 2010): (7, 11275.0, 0.0669840114659993),
 ('LR', 'Liberia', 2010): (4, 2650.0, 0.015743470544115134),
 ('CD', 'The Democratic Republic of the Congo', 2010): (2,
  4025.0,
  0.02391225243021261),
 ('TL', 'Timor-Leste', 2014): (14, 11100.0, 0.06594434831685962),
 ('CM', 'Cameroon', 2010): (1, 625.0, 0.0037130826754988525),
 ('AM', 'Armenia', 2010): (4, 10250.0, 0.06089455587818118),
 ('CR', 'Costa Rica', 2010): (3, 2750.0, 0.016337563772194953),
 ('SN', 'Senegal', 2016): (5, 14000.0, 0.08317305193117429),
 ('TG', 'Togo', 2014): (14, 10625.0, 0.0631224054834805),
 ('EG', 'Egypt', 2016): (5, 4350.0, 0.025843055421472014),
 ('TL', 'Timor-Leste', 2012): (4, 2900.0, 0.017228703614314677),
 ('CL', 'Chile', 2010): (1, 3325.0, 0.019753599833653896),
 ('ML', 'Mali', 2010): (3, 4250.0, 0.0252489621933922),
 ('HN', 'Honduras', 2016): (14, 8650.0, 0.05138906422890412),
 ('ZM', 'Zambia', 2014): (4, 7550.0, 0.04485403872002614),
 ('BO', 'Bolivia', 2017): (24, 78350.0, 0.4654720442005361),
 ('JO', 'Jordan', 2010): (3, 6100.0, 0.0362396869128688),
 ('GT', 'Guatemala', 2010): (3, 2800.0, 0.01663461038623486),
 ('TZ', 'Tanzania', 2012): (8, 81650.0, 0.4850771207271701),
 ('GT', 'Guatemala', 2017): (17, 21075.0, 0.1252051478178213),
 ('UA', 'Ukraine', 2014): (6, 13550.0, 0.08049963240481513),
 ('BJ', 'Benin', 2014): (19, 13675.0, 0.0812422489399149),
 ('AL', 'Albania', 2012): (5, 4250.0, 0.0252489621933922),
 ('MZ', 'Mozambique', 2014): (9, 6950.0, 0.04128947935154724),
 ('ZW', 'Zimbabwe', 2014): (47, 31200.0, 0.18535708716090274),
 ('TR', 'Turkey', 2017): (12, 4975.0, 0.029556138096970865),
 ('TR', 'Turkey', 2014): (4, 1650.0, 0.00980253826331697),
 ('CO', 'Colombia', 2010): (4, 3075.0, 0.018268366763454353),
 ('MX', 'Mexico', 2017): (12, 8650.0, 0.05138906422890412),
 ('CR', 'Costa Rica', 2014): (10, 20225.0, 0.12015535537914288),
 ('ZM', 'Zambia', 2012): (1, 5000.0, 0.02970466140399082),
 ('UA', 'Ukraine', 2010): (4, 6850.0, 0.040695386123467424),
 ('AZ', 'Azerbaijan', 2013): (38, 75250.0, 0.44705515413006186),
 ('TL', 'Timor-Leste', 2013): (18, 20700.0, 0.122977298212522),
 ('GH', 'Ghana', 2013): (89, 56275.0, 0.3343259641019167),
 ('ZW', 'Zimbabwe', 2013): (9, 16450.0, 0.09772833601912981),
 ('TZ', 'Tanzania', 2013): (26, 84100.0, 0.4996324048151256),
 ('ZM', 'Zambia', 2013): (6, 13275.0, 0.07886587602759562),
 ('DO', 'Dominican Republic', 2014): (4, 19425.0, 0.11540260955450435),
 ('XK', 'Kosovo', 2012): (1, 625.0, 0.0037130826754988525),
 ('BZ', 'Belize', 2014): (3, 4350.0, 0.025843055421472014),
 ('MW', 'Malawi', 2017): (8, 5975.0, 0.03549707037776904),
 ('GT', 'Guatemala', 2013): (27, 53350.0, 0.31694873718058203),
 ('CG', 'Congo', 2013): (2, 7950.0, 0.047230411632345405),
 ('IQ', 'Iraq', 2013): (17, 47500.0, 0.2821942833379128),
 ('MX', 'Mexico', 2013): (29, 57925.0, 0.3441285023652337),
 ('CM', 'Cameroon', 2012): (5, 2450.0, 0.014555284087955502),
 ('SR', 'Suriname', 2014): (4, 6950.0, 0.04128947935154724),
 ('TG', 'Togo', 2013): (21, 18725.0, 0.11124395695794563),
 ('LB', 'Lebanon', 2013): (38, 57025.0, 0.3387816633125153),
 ('AL', 'Albania', 2013): (15, 19150.0, 0.11376885317728484),
 ('MZ', 'Mozambique', 2013): (16, 8525.0, 0.05064644769380435),
 ('CG', 'Congo', 2014): (1, 8025.0, 0.047675981553405265),
 ('GH', 'Ghana', 2018): (3, 3850.0, 0.022872589281072934),
 ('BF', 'Burkina Faso', 2013): (12, 15825.0, 0.09401525334363095),
 ('ID', 'Indonesia', 2017): (13, 5000.0, 0.02970466140399082),
 ('CM', 'Cameroon', 2013): (25, 10450.0, 0.06208274233434082),
 ('CR', 'Costa Rica', 2012): (5, 5675.0, 0.03371479069352958),
 ('BF', 'Burkina Faso', 2012): (2, 1000.0, 0.005940932280798164),
 ('BI', 'Burundi', 2013): (15, 46125.0, 0.2740255014518153),
 ('KG', 'Kyrgyzstan', 2017): (10, 14550.0, 0.0864405646856133),
 ('KG', 'Kyrgyzstan', 2013): (31, 46375.0, 0.27551073452201486),

- Another way for solving problem, based on panda functions:

In [14]:
from datetime import datetime as dt
import time as tm
start_time = tm.time()
loans_total = loans['loan_amount'].sum()
print("--- %s seconds ---" % (tm.time()-start_time)) 
loans       
#loans['disburse_time_year'] = loans.groupby(['loan_id']).agg({'disburse_time':[lambda x: dt.strptime(x.avg(), "%Y-%m-%d %H:%M:%S.%f %z").year]}) 
#loans_agg = loans.groupby(['country_code','country_name','disburse_time_year'], as_index = False).agg({'loan_amount':['count', 'sum', lambda x: x.sum()/total*100]})
#loans_agg.columns = loans_agg.columns.droplevel(0)
#print("--- %s seconds ---" % (tm.time()-start_time)) 
#loans_agg

--- 0.0 seconds ---

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model,duration,disburse_time_year
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,...,3,2,1,NaN,female,true,irregular,field_partner,53,2013
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,...,11,2,1,NaN,female,true,monthly,field_partner,96,2013
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,...,16,2,1,"#Woman Owned Biz, #Supporting Family, user_fav...",female,true,monthly,field_partner,37,2014
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,...,21,2,1,user_favorite,female,true,monthly,field_partner,34,2014
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,...,15,2,1,"#Animals, #Eco-friendly, #Sustainable Ag",male,true,bullet,field_partner,57,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,341198,Guillermo Antonio,Spanish,"El Señor Guillermo tiene 42 años, la ubicación...",Guillermo is 42 years old. His business is lo...,375.0,375.0,funded,Shoe Sales,Retail,...,10,1,1,NaN,male,true,monthly,field_partner,None,2011
19996,341771,ERLINDA,English,Erlinda is from the village of Sillawit. She i...,NaN,175.0,175.0,funded,General Store,Retail,...,3,2,1,NaN,female,true,irregular,field_partner,None,2011
19997,344237,Ma Guadalupe,Spanish,La señora Ma Guadalupe es madre de 2 hijos de ...,\r\nMaría Guadalupe is the mother of two child...,625.0,625.0,funded,Property,Housing,...,23,1,1,NaN,female,true,monthly,field_partner,None,2011
19998,344735,Blanca Lidia,Spanish,"Blanca, vive con su esposo, tiene tres hijos d...",Blanca lives with her husband and has three ch...,350.0,350.0,funded,Food Production/Sales,Food,...,10,4,2,NaN,female,true,monthly,field_partner,None,2011
19999,345313,Jackline,English,"Jackline is 30 years old, married, and a moth...",NaN,100.0,100.0,funded,Clothing,Clothing,...,1,1,1,NaN,female,true,monthly,field_partner,None,2011

**8.** For each lender, compute the overall amount of money lent. For each loan that has more than one lender, you must assume that all lenders contributed the same amount.

- This solution is based on calculation using dicitionary objects:

In [15]:
import time as tm
start_time = tm.time()
loan_ids_by_lender = {}
number_of_lenders_by_loan_id = {}
for index, row in loans_lender.iterrows(): 
    loanId = row['loan_id']
    lender = row['lender']
    s = loan_ids_by_lender.get(lender,set())
    s.add(loanId)
    loan_ids_by_lender[lender] = s 
    number_of_lenders_by_loan_id[loanId] = number_of_lenders_by_loan_id.get(loanId, 0) + 1
amount_by_loan_id = {}
for index, row in loans.iterrows(): 
    loanId = row['loan_id']
    amount = row['loan_amount']
    amount_by_loan_id[loanId] = amount
#(loan_ids_by_lender, number_of_lenders_by_loan_id, amount_by_loan_id)  
money_lent = {}
for lender in loan_ids_by_lender:
    s = loan_ids_by_lender[lender]
    amm = 0
    for loanId in s:
        amm += amount_by_loan_id.get(loanId,0) / number_of_lenders_by_loan_id.get(loanId,1)
    money_lent[lender] = amm
print("--- %s seconds ---" % (tm.time()-start_time)) 
money_lent

--- 61.58185791969299 seconds ---

{'muc888': 30.434782608695652,
 'sam4326': 0.0,
 'camaran3922': 0.0,
 'lachheb1865': 0.0,
 'rebecca3499': 495.03070528303584,
 'karlheinz4543': 39.166666666666664,
 'jerrydb': 0.0,
 'paula8951': 0.0,
 'gmct': 1679.3040736176308,
 'amra9383': 0.0,
 'r3922': 379.7326854942665,
 'brian9451': 0.0,
 'shree8053': 428.4476431869338,
 'alan5513': 172.56036110096213,
 'oisin3389': 95.12117346938776,
 'helle8622': 0.0,
 'bo3186': 53.55750487329435,
 'ric8947': 0.0,
 'daniel98469874': 840.084585223973,
 'nick9464': 0.0,
 'deborah12671549': 0.0,
 'matthew9831': 0.0,
 'john6330': 124.68932563513674,
 'john9479': 26.785714285714285,
 'mattiaslaven': 312.77470740469715,
 'jonathan2867': 0.0,
 'jason3883': 0.0,
 'highgrovechurch': 1581.8699298403642,
 'maria3124': 0.0,
 'dino5102': 67.85714285714286,
 'jonathan7946': 28.571428571428573,
 'ann8187': 0.0,
 'bryan2669': 33.8768115942029,
 'john88459657': 0.0,
 'eddyphil': 29.081632653061224,
 'don9212': 738.9803032088435,
 'carolineandcolin9686': 0.0,
 'bent8782': 0.0,
 'raph8817': 46.42857142857143,
 'danielle2350': 0.0,
 'nora3555': 0.0,
 'williammanashi': 0.0,
 'barbara5610': 1542.8709945312453,
 'danhostetler': 0.0,
 'daniel1104': 0.0,
 'amirali5409': 1408.1439495165366,
 'oceanwest': 45.0,
 'greg69396003': 0.0,
 'trolltech4460': 6248.051429441229,
 'thedragonflykeeper': 29.487179487179485,
 'patrick8466': 0.0,
 'priscilla3168': 0.0,
 'terrystl': 346.4861284469408,
 'richardandsusan8352': 0.0,
 'sherri4341': 0.0,
 'gooddogg1': 6108.740884700704,
 'danny6470': 159.91827286470144,
 'jacqueline4838': 0.0,
 'diederik8163': 0.0,
 'ryan54597608': 0.0,
 'james5068': 0.0,
 'rudi5955': 33.333333333333336,
 'daniel9859': 59.30397727272727,
 'chandrakant6134': 0.0,
 'karyne5301': 0.0,
 'robert2280': 39.173228346456696,
 'darrellynne7000': 0.0,
 'bryan9912': 0.0,
 'sueandbob4088': 78.91414141414141,
 'pennie4480': 0.0,
 'niki3008': 0.0,
 'teresa9174': 0.0,
 'mike4896': 352.5999640993993,
 'david7683': 166.22259560561028,
 'dittes': 236.2100148857375,
 'margaret7172': 0.0,
 'jessica1977': 0.0,
 'william7288': 0.0,
 'dennisg': 101.40107212475633,
 'chrisbioteau': 56.52173913043478,
 'victor9593': 28.94736842105263,
 'peter3881': 38.96103896103896,
 'andrew8575': 150.20435811063155,
 'stephen2848': 177.36801465531255,
 'douglas8863': 0.0,
 'arthur1148': 0.0,
 'tristan7990': 0.0,
 'shivaun4955': 0.0,
 'sam44598568': 0.0,
 'catherine7003': 0.0,
 'summer7416': 0.0,
 'jim8842': 0.0,
 'brett5260': 30.510752688172044,
 'roger2252': 0.0,
 'jolanda1942': 0.0,
 'anila7468': 0.0,
 'elizabeth31676552': 0.0,
 'john38425073': 56.95812807881774,
 'marianne8717': 0.0,
 'lisette1963': 45.833333333333336,
 'motoharu1020': 95.34252253514549,
 'elly3162': 0.0,
 'lena9976': 291.50771452918656,
 'omkara': 0.0,
 'dougal1825': 30.434782608695652,
 'jensdamsgaardvanar': 790.6224830292381,
 'maeve9455': 30.434782608695652,
 'ross6632': 30.434782608695652,
 'toni3909': 30.434782608695652,
 'ali3337': 30.434782608695652,
 'eric4693': 88.64452837140752,
 'martsrinandpete9620': 508.0168564176074,
 'hans7879': 57.70750988142292,
 'wonmilee': 30.434782608695652,
 'thomas93758238': 142.4387508626639,
 'thomas1513': 69.8415622697126,
 'emofund': 591.2032625670794,
 'phisquared': 30.434782608695652,
 'nealkapur': 30.434782608695652,
 'vic5854': 30.434782608695652,
 'christian8925': 30.434782608695652,
 'minerva9365': 30.434782608695652,
 'rebecca3038': 196.26325757575756,
 'paul1853': 0.0,
 'zach7677': 0.0,
 'dana9865': 365.54038267840485,
 'ankit3005': 0.0,
 'erich7889': 26.08695652173913,
 'judith5696': 194.30993302053582,
 'klaus5005': 0.0,
 'john70242429': 45.0,
 'terry9343': 0.0,
 'karly7529': 0.0,
 'donna1305': 0.0,
 'jodi8604': 0.0,
 'jitendra7163': 31.52173913043478,
 'leon2765': 0.0,
 'elizabeth8018': 0.0,
 'ramius65': 0.0,
 'kevin25138119': 0.0,
 'larissa7348': 0.0,
 'evan5101': 0.0,
 'vesa6130': 0.0,
 'mortens2943': 0.0,
 'corinne3582': 0.0,
 'zane9551': 318.4632651567235,
 'christine3066': 0.0,
 'brett2942': 0.0,
 'karen1474': 0.0,
 'gw9898': 0.0,
 'maria1361': 0.0,
 'ashleyleah5650': 190.1111374782471,
 'anne85489799': 33.19088319088319,
 'robert7675': 0.0,
 'vijay6109': 0.0,
 'harald8041': 34.57446808510638,
 'ken4292': 0.0,
 'alexander7609': 0.0,
 'rc4114': 0.0,
 'bernadette6835': 30.0,
 'jean2544': 30.0,
 'geko': 30.0,
 'lynn9800': 30.0,
 'brad4706': 30.0,
 'thomas9243': 28.125,
 'john56443992': 28.125,
 'karen84738084': 28.125,
 'steve2888': 28.125,
 'gayle9959': 122.15277777777777,
 'melinda8816': 28.125,
 'karen1024': 28.125,
 'mbc1842': 185.40343503528433,
 'herta6220': 0.0,
 'kaleddis': 0.0,
 'cruisecompete': 0.0,
 'ashna3311': 0.0,
 'wesley2313': 0.0,
 'juan6929': 0.0,
 'thomas7482': 87.41666666666666,
 'dnak17': 25.0,
 'tom7497': 197.43279569892474,
 'morten9659': 0.0,
 'sverker1303': 0.0,
 'kenanddoris2463': 36.04651162790697,
 'jennifer12256404': 0.0,
 'jude': 63.0,
 'marianne8308': 0.0,
 'aaronplaat': 0.0,
 'hollito': 25.0,
 'roger9399': 30.263157894736842,
 'jenjh': 0.0,
 'bob6818': 0.0,
 'mmm2529': 0.0,
 'jultomten': 41.23376623376623,
 'aaron83574977': 749.8511822976318,
 'minoa': 41.23376623376623,
 'donald1176': 76.98645440580924,
 'henrik8047': 0.0,
 'david5193': 103.44262295081967,
 'tippsnet': 0.0,
 'tiffanyww': 0.0,
 'tom2508': 0.0,
 'sachin9747': 0.0,
 'chris2963': 0.0,
 'srenchr1931': 256.93082542720254,
 'eva5758': 0.0,
 'lukas3902': 0.0,
 'peter8627': 0.0,
 'katherine6420': 0.0,
 'russayres': 0.0,
 'joseph8886': 36.666666666666664,
 'jenny1824': 0.0,
 'jivan3702': 195.52762392835922,
 'elizabeth6786': 34.58904109589041,
 'steve2304': 30.0,
 'yousaf9433': 0.0,
 'anne3221': 0.0,
 'pgodiwala': 65.13859275053305,
 'karen27277399': 0.0,
 'dale2883': 0.0,
 'theo8546': 0.0,
 'joannagiles7076': 0.0,
 'mark4564': 0.0,
 'nicki2616': 0.0,
 'FrequentMiler': 463.2238388846673,
 'katie52857580': 0.0,
 'sara7523': 0.0,
 'brent8569': 0.0,
 'reetajaroope6400': 0.0,
 'anna3370': 0.0,
 'robert82472438': 0.0,
 'lloyd5595': 30.0,
 'peter3943': 0.0,
 'oliver5716': 0.0,
 'pureum8105': 0.0,
 'lisa4011': 0.0,
 'ryan': 0.0,
 'davidberkowitz': 0.0,
 'Verdad': 30.76923076923077,
 'evan7711': 0.0,
 'kate8576': 0.0,
 'cesarpwm11': 0.0,
 'tammy8086': 0.0,
 'gwyneth8834': 0.0,
 'john59229829': 0.0,
 'olivia8246': 0.0,
 'tanya2648': 0.0,
 'frode1997': 0.0,
 'erik8516': 0.0,
 'stephane7818': 86.91862486095661,
 'jill1216': 0.0,
 'rory7597': 0.0,
 'julien3299': 0.0,
 'givingsomeback': 0.0,
 'mohammad5457': 40.0,
 'annemarie7077': 37.88659793814433,
 'stephen6879': 0.0,
 'dorothy2740': 0.0,
 'emma8443': 28.846153846153847,
 'sbastien6463': 33.333333333333336,
 'frederic9655': 0.0,
 'bill7550': 33.55263157894737,
 'martin6086': 31.944444444444443,
 'brian1080': 0.0,
 'kathleen2227': 0.0,
 'robert5226': 0.0,
 'marjo1748': 35.0,
 'clive5910': 335.09900637138486,
 'steven3253': 726.7451695280866,
 'brooke4972': 0.0,
 'tuire8253': 0.0,
 'cakeordeath8064': 0.0,
 'kevin7809': 127.5,
 'popness': 0.0,
 'maarten6927': 0.0,
 'wynne1047': 0.0,
 'laura4759': 0.0,
 'jennifer2139': 0.0,
 'daniel4451': 0.0,
 'cmak': 0.0,
 'drzero': 0.0,
 'rferons': 0.0,
 'joehoyle': 0.0,
 'lucy5005': 0.0,
 'liselotte2813': 0.0,
 'krauspartner': 29.518072289156628,
 'william8070': 0.0,
 'al1898': 0.0,
 'hook': 0.0,
 'courtney8657': 0.0,
 'victor3619': 0.0,
 'sean4105': 0.0,
 'afroze4263': 0.0,
 'kaat7628': 0.0,
 'lisa9330': 33.98876404494382,
 'veronique2380': 0.0,
 'james14984376': 0.0,
 'mohannad': 0.0,
 'dragan9652': 0.0,
 'alice8507': 0.0,
 'danae3046': 0.0,
 'david3320': 0.0,
 'dan1417': 66.39167862266858,
 'mary5466': 0.0,
 'karin9948': 0.0,
 'holly2320': 0.0,
 'david81653552': 0.0,
 'peter1098': 30.0,
 'katy9250': 0.0,
 'race6335': 0.0,
 'greg2855': 0.0,
 'william61459677': 0.0,
 'carlton2205': 0.0,
 'jamie3277': 0.0,
 'lynn3173': 0.0,
 'teresaandrick': 475.3954777661674,
 'coryandjona1206': 0.0,
 'nancy37087482': 0.0,
 'indiamos': 0.0,
 'scott2473': 0.0,
 '9678': 0.0,
 'marilyn9210': 0.0,
 'paul7054': 0.0,
 'sarah5545': 0.0,
 'craig97299604': 429.07241430280703,
 'maria7751': 0.0,
 'murray6640': 0.0,
 'erin6040': 0.0,
 'annw9506': 0.0,
 'vasanthi': 0.0,
 'sue3979': 28.333333333333332,
 'pierre5880': 0.0,
 'daleandcallie9707': 0.0,
 'lisa4456': 0.0,
 'sacham': 0.0,
 'tlaurie': 32.11805555555556,
 'janmarie3474': 0.0,
 'marian7076': 0.0,
 'allwinjose8370': 0.0,
 'michele8616': 0.0,
 'lucy4898': 0.0,
 'michael68567474': 0.0,
 'ryanandjoanna6615': 0.0,
 'suresh6523': 0.0,
 'danlandrum': 0.0,
 'Oliver10303': 225.48135846285373,
 'jennifer6373': 0.0,
 'sue7474': 0.0,
 'elsa2087': 0.0,
 'patrick1809': 0.0,
 'elizabeth6032': 0.0,
 'shauna6520': 0.0,
 'james1059': 0.0,
 'mark4231': 0.0,
 'erika7219': 0.0,
 'benjamin3549': 0.0,
 'jim2503': 0.0,
 'sarah4958': 0.0,
 'anneke9304': 0.0,
 'houseofprayer2259': 0.0,
 'rune8044': 0.0,
 'joseph2420': 0.0,
 'andreaandwouter6544': 126.02682393322787,
 'anthony9138': 0.0,
 'harald2732': 0.0,
 'tony9074': 0.0,
 'lesley6172': 0.0,
 'kevinandmary6376': 0.0,
 'deepakgeetakevinronak': 52.27272727272727,
 'khanh2725': 0.0,
 'nikocaro1392': 0.0,
 'harman2779': 0.0,
 'michael81276976': 0.0,
 'klaus5809': 0.0,
 'lesley4647': 0.0,
 'pedro2429': 81.15468409586057,
 'nollaig5959': 0.0,
 'evie2916': 0.0,
 'jim5285': 124.34376241905697,
 'metin8315': 0.0,
 'gerald7282': 0.0,
 'debbieandmark5399': 49.0,
 'derekh': 0.0,
 'karin9520': 0.0,
 'lee6515': 158.30940216114635,
 'thomas7955': 25.0,
 'sandeepsingh2858': 171.86675020885548,
 'sarahandadam5448': 0.0,
 'rinie4717': 0.0,
 'chuck2380': 68.75,
 'stefanomiari': 0.0,
 'doug4093': 0.0,
 'toplistbestfictionbo5564': 340.3391812865497,
 'gerlinde6463': 0.0,
 'naomi67885443': 0.0,
 'mikemaria7249': 0.0,
 'tobias5075': 0.0,
 'tanmay': 35.08771929824562,
 'susan5953': 0.0,
 'douglas8995': 71.29014396456257,
 'jeanne53233964': 56.839080459770116,
 'jellodiva': 0.0,
 'judy3495': 344.51697331927033,
 'denise7392': 0.0,
 'amornwan4232': 32.55813953488372,
 'terry52663587': 0.0,
 'cassie8926': 0.0,
 'wouterandfany': 0.0,
 'john9570': 0.0,
 'natasha7298': 0.0,
 'juergen5908': 0.0,
 'stacy1379': 0.0,
 'praveenrajasekar': 0.0,
 'patrickruetter': 0.0,
 'jane3454': 0.0,
 'christopher7476': 0.0,
 'nora6823': 0.0,
 'sarah1211': 0.0,
 'ryan1096': 0.0,
 'jcagomes': 28.703703703703702,
 'suzanne8918': 0.0,
 'kerry4093': 103.90350877192984,
 'dave6914': 0.0,
 'gsk': 0.0,
 'harry9324': 41.666666666666664,
 'eileenandvictor8943': 0.0,
 'joan6711': 27.205882352941178,
 'francine1535': 0.0,
 'craig1296': 32.142857142857146,
 'mac9412': 0.0,
 'eric8583': 0.0,
 'salandrob6186': 27.77777777777778,
 'caseyl': 33.333333333333336,
 'joannaandmike4344': 0.0,
 'norvan3688': 0.0,
 'john1288': 0.0,
 'neil6273': 36.29032258064516,
 'Leah6742': 0.0,
 'michaelandmelinda9592': 0.0,
 'karen2944': 0.0,
 'zach9722': 0.0,
 'jordan7519': 0.0,
 'thewalker9311': 0.0,
 'robert6772': 0.0,
 'sarahkathryn': 0.0,
 'karon4417': 0.0,
 'doug5185': 104.58921920022489,
 'ronald8745': 1751.1581295931023,
 'charles6358': 36.851851851851855,
 'laura3959': 0.0,
 'kara1501': 0.0,
 'joan60553118': 0.0,
 'jessica4connections': 0.0,
 'shailesh': 47.83653846153846,
 'mingus8729': 0.0,
 'christian3503': 0.0,
 'nomax': 0.0,
 'frode': 41.23376623376623,
 'victorial2870': 0.0,
 'stephen5987': 0.0,
 'paul23765609': 130.68236714975845,
 'paul6428': 0.0,
 'erin6824': 0.0,
 'jacob9653': 0.0,
 'william2639': 0.0,
 'elliot3732': 0.0,
 'connie4751': 0.0,
 'elena6794': 0.0,
 'carmen7376': 0.0,
 'laura1179': 0.0,
 'heather1546': 227.4246181541065,
 'phillip7727': 0.0,
 'marc1631': 94.73684210526316,
 'kris1903': 0.0,
 'angus2640': 168.00252659449816,
 'jamesandshell2373': 0.0,
 'tamarab': 0.0,
 'mark2704': 1601.8610283159462,
 'indraneel7687': 0.0,
 'nancy7311': 126.45629651247629,
 'shannonandpatti7539': 0.0,
 'george8634': 0.0,
 'frost': 0.0,
 'matthieu6433': 0.0,
 'matthew3047': 0.0,
 'janandmaggie7749': 0.0,
 'patricia1648': 0.0,
 'lidia1788': 0.0,
 'eunice7763': 0.0,
 'donald5571': 0.0,
 'richard7719': 0.0,
 'pamela5886': 0.0,
 'mike1401': 137.62036417191055,
 'scott9873': 0.0,
 'brenda5160': 0.0,
 'michael21418121': 32.55813953488372,
 'annette8725': 0.0,
 'regyjohn': 0.0,
 'rick8888': 63.0,
 'craig7834': 0.0,
 'ben9420': 0.0,
 'morgan7663': 0.0,
 'susanne5176': 0.0,
 'hosewinckel7660': 0.0,
 'gao': 86.97916666666667,
 'ed5743': 0.0,
 'amy7726': 0.0,
 'Ravi9208': 27.5,
 'albert8248': 0.0,
 'anne8157': 0.0,
 'adamcordle': 30.17241379310345,
 'lori9430': 37.93103448275862,
 'christopher5171': 0.0,
 'kamila1320': 0.0,
 'steve4890': 0.0,
 'donandkathy6425': 243.07870819064848,
 'peter5514': 0.0,
 'tony7571': 0.0,
 'paulandrobyn5292': 0.0,
 'jennifer9341': 0.0,
 'kirkland': 157.7745191291482,
 'stanhope8974': 0.0,
 'iole2405': 0.0,
 'arnaud4525': 0.0,
 'steven5197': 0.0,
 'nigel4691': 397.1412342001757,
 'lpgiraldez': 0.0,
 'mihai3611': 0.0,
 'marcziesmer': 0.0,
 'robenlinda2270': 0.0,
 'vana5220': 0.0,
 'lionel1946': 0.0,
 'david66129435': 0.0,
 'sam8974': 0.0,
 'sijanrai': 0.0,
 'mike7912': 30.17241379310345,
 'delbert3382': 0.0,
 'jillian1643': 651.3428945275617,
 'gregandclare1849': 0.0,
 'tom7014': 0.0,
 'tomandjune3533': 30.17241379310345,
 'JY1024': 340.309159572742,
 'angelina4435': 0.0,
 'charlie1085': 131.02451188455007,
 'julian8731': 4680.951989050405,
 'detlef': 0.0,
 'anne9845': 78.57344632768361,
 'mike1219': 0.0,
 'john8871': 62.73148148148148,
 'david61297495': 159.9435286935287,
 'divingdoc36': 446.9811405905697,
 'pat5984': 0.0,
 'giovannicataldi4083': 369.2820310058594,
 'pierre5663': 0.0,
 'diane3510': 0.0,
 'burger': 0.0,
 'victor3258': 39.173228346456696,
 'thomas3234': 0.0,
 'szucheng2565': 962.0757192687155,
 'ricardo7052': 0.0,
 'jack9289': 34.46601941747573,
 'richard4874': 0.0,
 'jessieinez': 0.0,
 'andyangie8000': 0.0,
 'maryana3992': 0.0,
 'idun4242': 0.0,
 'steve7920': 0.0,
 'willychu': 0.0,
 'irmark': 60.20726129216695,
 'martinezfamilynm': 0.0,
 'nazaret7843': 325.2994500896476,
 'brian87298920': 0.0,
 'fiona7583': 0.0,
 'alex7802': 0.0,
 'rhonda6343': 0.0,
 'john37481062': 292.02352014843166,
 'susan5956': 0.0,
 'albert8514': 72.15655249441548,
 'john1879': 0.0,
 'zoec': 0.0,
 'sidney4048': 0.0,
 'uncleed1619': 0.0,
 'trogdorfamily7622': 313.94157530188346,
 'sarah2583': 0.0,
 'mark99806535': 58.5,
 'dale2183': 72.002997002997,
 'michelleandkristian9819': 96.35969141755064,
 'jonesfamily': 0.0,
 'stacey7032': 0.0,
 'jane8369': 0.0,
 'mark9645': 0.0,
 'sabine4826': 0.0,
 'frdric2486': 0.0,
 'susan9076': 0.0,
 'gunhild2366': 0.0,
 'matthew7154': 0.0,
 'daleanddave4907': 36.56716417910448,
 'michael1246': 0.0,
 'dean2234': 28.125,
 'james5070': 0.0,
 'hamish8276': 55.75396825396825,
 'iannace': 67.23684210526315,
 'anne9124': 116.20865737599388,
 'avezziefamily': 0.0,
 'owassofumc3326': 0.0,
 'ellen4684': 212.70681063122922,
 'lynn5507': 0.0,
 'francois6628': 0.0,
 'phill9950': 67.59792626728111,
 'ilona9961': 0.0,
 'dina6457': 0.0,
 'bumpycat': 0.0,
 'enwezor2644': 0.0,
 'cathianne8063': 0.0,
 'marcandr8568': 92.32568027210884,
 'mishka8668': 43.75,
 'avi9735': 0.0,
 'barbara2376': 0.0,
 'susan2633': 129.30456617265756,
 'gianandreaeandrea': 0.0,
 'laurelz': 0.0,
 'vgopinath': 0.0,
 'jose3712': 0.0,
 'gene8177': 0.0,
 'skreened': 56.59770920991117,
 'jeff2322': 0.0,
 'kevin6441': 27.586206896551722,
 'bill8134': 0.0,
 'richard1132': 0.0,
 'robert1951': 116.54761904761905,
 'gomike': 0.0,
 'neak': 101.7041512863794,
 'pedersmed4472': 54.96031746031746,
 'michael48913780': 0.0,
 'patrick8201': 0.0,
 'kaspar4426': 0.0,
 'malte4719': 0.0,
 'sarah10669637': 0.0,
 'john56537153': 0.0,
 'weinberger': 0.0,
 'daniel5023': 0.0,
 'kristin2911': 0.0,
 'Darebakus7028': 39.166666666666664,
 'arica': 28.61635220125786,
 'michael63426267': 0.0,
 'joshuachan': 0.0,
 'magdalena9892': 0.0,
 'harold5997': 132.29233122987924,
 'michael3061': 0.0,
 'tage': 0.0,
 'hedymaigs': 0.0,
 'linde6700': 0.0,
 'nigel5030': 588.0086095751235,
 'Gallifante': 0.0,
 'caryl7997': 39.94082840236686,
 'alberto5618': 0.0,
 'donald3162': 0.0,
 'bill9445': 0.0,
 'rich6705': 920.3939567297691,
 'charles6568': 74.99188311688312,
 'bubbascafe': 0.0,
 'tracey8474': 0.0,
 'daniel1064': 0.0,
 'dennis4138': 30.17241379310345,
 'jarrod4964': 0.0,
 'karen6436': 63.22393822393823,
 'EGL': 90.73383084577114,
 'nick8730': 29.761904761904763,
 'heike1534': 32.432432432432435,
 'beverly': 74.0990990990991,
 'ken7832': 32.432432432432435,
 'gerald5541': 32.432432432432435,
 'andyonkiva': 32.432432432432435,
 'margaret1978': 32.432432432432435,
 'susan9216': 32.432432432432435,
 'goodshepherducc9050': 32.432432432432435,
 'pryor2007': 178.16993705674363,
 'brenda6332': 32.432432432432435,
 'mark8092': 63.4565288179746,
 'david3125': 32.432432432432435,
 'anne3351': 32.432432432432435,
 'wjp': 254.57528957528956,
 'benedictsteele': 32.432432432432435,
 'kim3330': 32.432432432432435,
 'marsha7181': 32.432432432432435,
 'lasse8792': 32.432432432432435,
 'stephen2764': 32.432432432432435,
 'nathan7801': 75.91069330199765,
 'pascalvanhecke': 77.43243243243244,
 'jasonlee': 32.432432432432435,
 'ted8755': 32.432432432432435,
 'wayne6139': 32.432432432432435,
 'sharon4463': 32.432432432432435,
 'howard7012': 1057.7241660662314,
 'anders4222': 101.6726285108638,
 'charlie3879': 32.432432432432435,
 'matt50679987': 32.432432432432435,
 'joan9289': 32.432432432432435,
 'michele4530': 32.432432432432435,
 'maphew': 32.432432432432435,
 'zim7148': 153.27327479673437,
 'melissa7297': 32.432432432432435,
 'julie3027': 33.98876404494382,
 'brendan1249': 0.0,
 'antonio6568': 0.0,
 'creativeeconomy': 0.0,
 'james4890': 0.0,
 'xyz1373': 0.0,
 'caroline4851': 0.0,
 'mags6440': 37.5,
 'starsknight': 0.0,
 'joanna6771': 33.19088319088319,
 'dorien8995': 36.36363636363637,
 'natalie4612': 0.0,
 'peggy1370': 0.0,
 'luke8286': 0.0,
 'chalanx': 0.0,
 'jannis9788': 0.0,
 'prabodh5470': 0.0,
 'diane6096': 0.0,
 'leslie8320': 0.0,
 'carlo9232': 56.25,
 'bernhard1113': 0.0,
 'jennifer86293639': 221.49827163247102,
 'rie6860': 0.0,
 'natoya4299': 0.0,
 'tracey9969': 0.0,
 'roman6673': 28.571428571428573,
 'laurie9583': 0.0,
 'chad1043': 0.0,
 'hisadafamily8666': 31.818181818181817,
 'lauraleong': 0.0,
 'jim7785': 0.0,
 'thomas3791': 196.10833610833612,
 'julie8037': 124.14770191878625,
 'maureenandbill7908': 0.0,
 'joel5645': 0.0,
 'leeann5973': 0.0,
 'derek9183': 0.0,
 'stephen7228': 0.0,
 'timothy6485': 33.333333333333336,
 'sandy5828': 0.0,
 'tim4819': 0.0,
 'stewartandjoanna6718': 0.0,
 'albertw': 0.0,
 'timothy7790': 0.0,
 'wendy9105': 0.0,
 'roxandal5758': 0.0,
 'heidi9127': 0.0,
 'sandy3893': 0.0,
 '25perday': 0.0,
 'ali91125852': 0.0,
 'angela6286': 0.0,
 'natalie16922915': 0.0,
 'matthew64195818': 0.0,
 'brooke8026': 0.0,
 'paula3738': 0.0,
 'catherine8081': 0.0,
 'christy2688': 47.05882352941177,
 'lindsay3373': 0.0,
 'jasoninchicago': 0.0,
 'jenny2529': 0.0,
 'frank3452': 29.86111111111111,
 'raymond4538': 30.357142857142858,
 'rob6883': 0.0,
 'vasu6972': 0.0,
 'molly3537': 0.0,
 'jonathanheather1555': 0.0,
 'andrew2954': 35.0,
 'erica7803': 0.0,
 'ultrasara': 0.0,
 'john36421277': 29.347826086956523,
 'mariliis4011': 0.0,
 'renee8611': 0.0,
 'leanne5754': 0.0,
 'tim4058': 32.27272727272727,
 'sudds': 0.0,
 'jo8468': 0.0,
 'adamscottprice': 0.0,
 'wilma6195': 0.0,
 'nate4569': 0.0,
 'carolyn8576': 0.0,
 'kelly31908638': 0.0,
 'brenda9272': 0.0,
 'mary3259': 0.0,
 'caroline5418': 0.0,
 'anush6731': 0.0,
 'mel7714': 31.08108108108108,
 'vladstan': 0.0,
 'leejohn8697': 0.0,
 'lynn5475': 0.0,
 'suthi': 26.85185185185185,
 'ajit3049': 0.0,
 'toby1460': 0.0,
 'dawn6170': 0.0,
 'beth1817': 0.0,
 'michael64749969': 33.333333333333336,
 'tfrab': 0.0,
 'christopher38035375': 146.5661272090651,
 'lloydminsterrotarycl6639': 104.0275157088684,
 'julie9582': 0.0,
 'lorenzo7127': 33.333333333333336,
 'jeanetteingrid9958': 33.98876404494382,
 'kimberly5146': 0.0,
 'shirley1905': 1180.8633430107436,
 'barbara5987': 0.0,
 'alexiosstefanos5966': 0.0,
 'lorea3139': 29.0,
 'sean3201': 0.0,
 'jeffreyandannegret9319': 0.0,
 'douglas3301': 0.0,
 'steve8782': 35.714285714285715,
 'marion2587': 0.0,
 'judy9116': 0.0,

**9.** For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.

**10.** Which country has the highest ratio between the difference computed at the previous point and the population?

**11.** Which country has the highest ratio between the difference computed at point 9 and the population that is not below the poverty line?

**12.** For each year, compute the total amount of loans. Each loan that has planned expiration time and disburse time in different years must have its amount distributed proportionally to the number of days in each year. For example, a loan with disburse time December 1st, 2016, planned expiration time January 30th 2018, and amount 5000USD has an amount of 5000USD * 31 / (31+365+30) = 363.85 for 2016, 5000USD * 365 / (31+365+30) = 4284.04 for 2017, and 5000USD * 30 / (31+365+30) = 352.11 for 2018.