# Project Solution

You have to work on the [Kiva](https://drive.google.com/file/d/1-tJtnIbo1Rt-F1XfoWGVkmBXiI-ciuRx/view) dataset. Some information on the datasets are on the [Kaggle](https://www.kaggle.com/gaborfodor/additional-kiva-snapshot) web page.

## Basic tasks

All groups and individual must do the following:

`1.` Normalize the `loan_lenders` table. In the normalized table, each row must have one `loan_id` and one `lender`.

Firstly, csv file is read and data frame with unnormalized data is created:

In [1]:
import pandas as pd
import numpy as np
loans_lenders_un = pd.read_csv('../../Datasets/kiva/loans_lenders.csv')
loans_lenders_un = loans_lenders_un.head(5000) # Coment this for final calculation, uncomment during development
loans_lenders_un

      loan_id                                            lenders
0      483693  muc888, sam4326, camaran3922, lachheb1865, reb...
1      483738  muc888, nora3555, williammanashi, barbara5610,...
2      485000  muc888, terrystl, richardandsusan8352, sherri4...
3      486087  muc888, james5068, rudi5955, daniel9859, don92...
4      534428  muc888, niki3008, teresa9174, mike4896, david7...
...       ...                                                ...
4995   108036  bobharris, isabel2008, isabel2008, al4832, dan...
4996   108913  bobharris, johnf9634, fred8631, amelia3963, la...
4997   120715  bobharris, ruth7441, jonathan3668, r3922, thom...
4998   126756  bobharris, thomas7482, steve2025, peter8038, v...
4999   128485  bobharris, richardandsheila6932, lynn5042, bob...

[5000 rows x 2 columns]

Data frame with structured data will be created with help of intermediate object - list of pairs (loan_id, lender) packed in the dictionary:

In [2]:
lis = []
for index, row in loans_lenders_un.iterrows(): 
    ls = row['lenders'].split(',')
    for l in ls:
        lis.append({ 'loan_id' : row['loan_id'], 'lender': l.strip() })
loans_lender = pd.DataFrame(lis) 
loans_lender

        loan_id            lender
0        483693            muc888
1        483693           sam4326
2        483693       camaran3922
3        483693       lachheb1865
4        483693       rebecca3499
...         ...               ...
135937   128485    xxAnonyMousexx
135938   128485  klassenkasse9334
135939   128485         merle2926
135940   128485     guillermo5352
135941   128485            teekam

[135942 rows x 2 columns]

`2.` For each loan, add a column `duration` corresponding to the number of days between the disburse time and the planned expiration time. If any of those two dates is missing, also the duration must be missing.

Firstly, data frame should be loaded and structure of the data frame `loans` should be determined:

In [3]:
import pandas as pd
import numpy as np
loans = pd.read_csv('../../Datasets/kiva/loans.csv')
loans.columns

Index(['loan_id', 'loan_name', 'original_language', 'description',
       'description_translated', 'funded_amount', 'loan_amount', 'status',
       'activity_name', 'sector_name', 'loan_use', 'country_code',
       'country_name', 'town_name', 'currency_policy',
       'currency_exchange_coverage_rate', 'currency', 'partner_id',
       'posted_time', 'planned_expiration_time', 'disburse_time',
       'raised_time', 'lender_term', 'num_lenders_total',
       'num_journal_entries', 'num_bulk_entries', 'tags', 'borrower_genders',
       'borrower_pictured', 'repayment_interval', 'distribution_model'],
      dtype='object')

After thar, values from the data frame should be displayed:

In [4]:
loans_head = loans.head()
loans = loans.head(5000) # Coment this for final calculation, uncomment during development
loans

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,raised_time,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model
0,657307,Aivy,English,"Aivy, 21 years of age, is single and lives in ...",NaN,125.0,125.0,funded,General Store,Retail,...,2014-01-15 04:48:22.000 +0000,7.0,3,2,1,NaN,female,true,irregular,field_partner
1,657259,Idalia Marizza,Spanish,"Doña Idalia, esta casada, tiene 57 años de eda...","Idalia, 57, is married and lives with her husb...",400.0,400.0,funded,Used Clothing,Clothing,...,2014-02-25 06:42:06.000 +0000,8.0,11,2,1,NaN,female,true,monthly,field_partner
2,658010,Aasia,English,Aasia is a 45-year-old married lady and she ha...,NaN,400.0,400.0,funded,General Store,Retail,...,2014-01-24 23:06:18.000 +0000,14.0,16,2,1,"#Woman Owned Biz, #Supporting Family, user_fav...",female,true,monthly,field_partner
3,659347,Gulmira,Russian,"Гулмире 36 лет, замужем, вместе с супругом вос...",Gulmira is 36 years old and married. She and ...,625.0,625.0,funded,Farming,Agriculture,...,2014-01-22 05:29:28.000 +0000,14.0,21,2,1,user_favorite,female,true,monthly,field_partner
4,656933,Ricky\t,English,Ricky is a farmer who currently cultivates his...,NaN,425.0,425.0,funded,Farming,Agriculture,...,2014-01-14 17:29:27.000 +0000,7.0,15,2,1,"#Animals, #Eco-friendly, #Sustainable Ag",male,true,bullet,field_partner
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,695734,Luisa Gualupe,Spanish,Luisa se dedica a la venta de mates y jugos de...,Luisa sells herbal teas and juice on foot from...,550.0,550.0,funded,Beverages,Food,...,2014-04-20 03:36:16.000 +0000,6.0,19,1,1,NaN,female,true,irregular,field_partner
4996,696387,Teresa De Jesús,Spanish,"Teresa de 45 años de edad, estudio segundo gra...",Teresa is 45 years old. She went to school up ...,500.0,500.0,funded,Agriculture,Agriculture,...,2014-04-24 12:52:51.000 +0000,14.0,15,4,2,NaN,female,true,bullet,field_partner
4997,687099,Merlinda,English,Merlinda is married to a carpenter. She has b...,Merlinda is married to a carpenter. She has b...,125.0,125.0,funded,Manufacturing,Manufacturing,...,2014-03-24 00:37:09.000 +0000,8.0,4,1,1,NaN,female,true,irregular,field_partner
4998,687242,Ndèye Fatou,French,"Âgée de 29 ans, cette emprunteuse appelée Ndèy...","This borrower is Ndèye Fatou, age 29, a resell...",125.0,125.0,funded,Food Stall,Food,...,2014-03-25 16:22:12.000 +0000,6.0,3,1,1,NaN,female,true,irregular,field_partner
4999,688198,Salamatu,English,Meet 25-year-old Salamatu from Waterloo wester...,Meet 25-year-old Salamatu from Waterloo wester...,300.0,300.0,funded,Clothing Sales,Clothing,...,2014-03-25 20:57:22.000 +0000,7.0,11,1,1,NaN,female,true,irregular,field_partner

We are now mainly interested in columns 'planned_expiration_time', 'disburse_time':

In [5]:
loans_sel = loans[ ['loan_id', 'loan_name','planned_expiration_time', 'disburse_time'] ]
loans_sel

,loan_id,loan_name,planned_expiration_time,disburse_time
0,657307,Aivy,2014-02-14 03:30:06.000 +0000,2013-12-22 08:00:00.000 +0000
1,657259,Idalia Marizza,2014-03-26 22:25:07.000 +0000,2013-12-20 08:00:00.000 +0000
2,658010,Aasia,2014-02-15 21:10:05.000 +0000,2014-01-09 08:00:00.000 +0000
3,659347,Gulmira,2014-02-21 03:10:02.000 +0000,2014-01-17 08:00:00.000 +0000
4,656933,Ricky\t,2014-02-13 06:10:02.000 +0000,2013-12-17 08:00:00.000 +0000
...,...,...,...,...
4995,695734,Luisa Gualupe,2014-05-19 21:40:01.000 +0000,2014-03-17 07:00:00.000 +0000
4996,696387,Teresa De Jesús,2014-05-21 10:40:02.000 +0000,2014-04-07 07:00:00.000 +0000
4997,687099,Merlinda,2014-04-22 23:00:04.000 +0000,2014-03-18 07:00:00.000 +0000
4998,687242,Ndèye Fatou,2014-04-24 15:30:02.000 +0000,2014-03-18 07:00:00.000 +0000
4999,688198,Salamatu,2014-04-24 19:20:02.000 +0000,2014-02-24 08:00:00.000 +0000

In [6]:
from datetime import datetime
loans['duration'] = None
for index, row in loans.iterrows(): 
    s2 = row['planned_expiration_time']
    s1 = row['disburse_time']
    if( pd.notna(s1) and pd.notna(s2) and s1 != '' and s2 != ''):
        d2 = datetime.strptime(s2, "%Y-%m-%d %H:%M:%S.%f %z")
        d1 = datetime.strptime(s1, "%Y-%m-%d %H:%M:%S.%f %z")
        loans.loc[index,'duration'] = (d2 - d1).days 
loans_sel = loans[ ['loan_id', 'loan_name','planned_expiration_time', 'disburse_time', 'duration'] ]
loans_sel

,loan_id,loan_name,planned_expiration_time,disburse_time,duration
0,657307,Aivy,2014-02-14 03:30:06.000 +0000,2013-12-22 08:00:00.000 +0000,53
1,657259,Idalia Marizza,2014-03-26 22:25:07.000 +0000,2013-12-20 08:00:00.000 +0000,96
2,658010,Aasia,2014-02-15 21:10:05.000 +0000,2014-01-09 08:00:00.000 +0000,37
3,659347,Gulmira,2014-02-21 03:10:02.000 +0000,2014-01-17 08:00:00.000 +0000,34
4,656933,Ricky\t,2014-02-13 06:10:02.000 +0000,2013-12-17 08:00:00.000 +0000,57
...,...,...,...,...,...
4995,695734,Luisa Gualupe,2014-05-19 21:40:01.000 +0000,2014-03-17 07:00:00.000 +0000,63
4996,696387,Teresa De Jesús,2014-05-21 10:40:02.000 +0000,2014-04-07 07:00:00.000 +0000,44
4997,687099,Merlinda,2014-04-22 23:00:04.000 +0000,2014-03-18 07:00:00.000 +0000,35
4998,687242,Ndèye Fatou,2014-04-24 15:30:02.000 +0000,2014-03-18 07:00:00.000 +0000,37
4999,688198,Salamatu,2014-04-24 19:20:02.000 +0000,2014-02-24 08:00:00.000 +0000,59

`3.` Find the lenders that have funded at least twice.

Those are lenders that are duplicated in structured loan_leneders dataframe.

- One possible solution is based on calculation/counting using dicitionary object:

In [7]:
stat={}
for index, row in loans_lender.iterrows(): 
    lender = row['lender']
    stat[lender] = 1 + stat.get(lender, 0)
lenders_funded_2_more = []
for k in stat.keys():
    if( stat[k] >= 2):
        lenders_funded_2_more.append((k,stat[k]))
lenders_funded_2_more

[('muc888', 11),
 ('sam4326', 5),
 ('rebecca3499', 89),
 ('karlheinz4543', 8),
 ('paula8951', 3),
 ('gmct', 677),
 ('r3922', 54),
 ('brian9451', 3),
 ('shree8053', 57),
 ('alan5513', 31),
 ('oisin3389', 11),
 ('bo3186', 4),
 ('ric8947', 2),
 ('daniel98469874', 82),
 ('deborah12671549', 6),
 ('matthew9831', 2),
 ('john6330', 10),
 ('john9479', 4),
 ('mattiaslaven', 35),
 ('jason3883', 11),
 ('highgrovechurch', 153),
 ('dino5102', 8),
 ('jonathan7946', 3),
 ('ann8187', 2),
 ('bryan2669', 2),
 ('eddyphil', 14),
 ('don9212', 90),
 ('carolineandcolin9686', 2),
 ('raph8817', 4),
 ('danielle2350', 3),
 ('barbara5610', 202),
 ('danhostetler', 3),
 ('daniel1104', 5),
 ('amirali5409', 190),
 ('oceanwest', 7),
 ('trolltech4460', 758),
 ('thedragonflykeeper', 6),
 ('patrick8466', 2),
 ('terrystl', 42),
 ('sherri4341', 2),
 ('gooddogg1', 716),
 ('danny6470', 25),
 ('jacqueline4838', 6),
 ('diederik8163', 6),
 ('ryan54597608', 4),
 ('james5068', 2),
 ('rudi5955', 2),
 ('daniel9859', 9),
 ('robert2280', 3),
 ('sueandbob4088', 4),
 ('pennie4480', 6),
 ('mike4896', 72),
 ('david7683', 28),
 ('dittes', 34),
 ('william7288', 4),
 ('dennisg', 10),
 ('chrisbioteau', 3),
 ('victor9593', 5),
 ('andrew8575', 13),
 ('stephen2848', 12),
 ('brett5260', 4),
 ('john38425073', 14),
 ('lisette1963', 5),
 ('motoharu1020', 16),
 ('lena9976', 29),
 ('dougal1825', 5),
 ('jensdamsgaardvanar', 55),
 ('eric4693', 17),
 ('martsrinandpete9620', 48),
 ('hans7879', 8),
 ('thomas93758238', 16),
 ('thomas1513', 3),
 ('emofund', 87),
 ('phisquared', 2),
 ('nealkapur', 5),
 ('vic5854', 9),
 ('christian8925', 4),
 ('rebecca3038', 25),
 ('paul1853', 5),
 ('dana9865', 43),
 ('ankit3005', 2),
 ('erich7889', 5),
 ('judith5696', 60),
 ('john70242429', 3),
 ('terry9343', 2),
 ('jodi8604', 2),
 ('jitendra7163', 3),
 ('leon2765', 3),
 ('vesa6130', 2),
 ('zane9551', 60),
 ('karen1474', 4),
 ('ashleyleah5650', 20),
 ('anne85489799', 4),
 ('harald8041', 2),
 ('ken4292', 2),
 ('rc4114', 4),
 ('jean2544', 4),
 ('geko', 2),
 ('brad4706', 4),
 ('karen84738084', 2),
 ('gayle9959', 15),
 ('mbc1842', 52),
 ('herta6220', 6),
 ('cruisecompete', 3),
 ('thomas7482', 9),
 ('dnak17', 2),
 ('tom7497', 25),
 ('morten9659', 3),
 ('sverker1303', 2),
 ('kenanddoris2463', 3),
 ('jennifer12256404', 2),
 ('jude', 3),
 ('marianne8308', 2),
 ('aaronplaat', 2),
 ('hollito', 4),
 ('roger9399', 5),
 ('jenjh', 4),
 ('jultomten', 2),
 ('aaron83574977', 94),
 ('minoa', 5),
 ('donald1176', 13),
 ('henrik8047', 4),
 ('david5193', 21),
 ('tippsnet', 2),
 ('chris2963', 2),
 ('srenchr1931', 26),
 ('lukas3902', 2),
 ('peter8627', 4),
 ('joseph8886', 6),
 ('jivan3702', 8),
 ('elizabeth6786', 2),
 ('steve2304', 4),
 ('anne3221', 6),
 ('pgodiwala', 3),
 ('karen27277399', 2),
 ('theo8546', 5),
 ('joannagiles7076', 6),
 ('mark4564', 2),
 ('nicki2616', 2),
 ('FrequentMiler', 85),
 ('brent8569', 2),
 ('anna3370', 3),
 ('robert82472438', 3),
 ('lloyd5595', 3),
 ('oliver5716', 2),
 ('pureum8105', 2),
 ('davidberkowitz', 2),
 ('Verdad', 10),
 ('evan7711', 2),
 ('cesarpwm11', 2),
 ('john59229829', 6),
 ('tanya2648', 2),
 ('frode1997', 2),
 ('stephane7818', 4),
 ('givingsomeback', 2),
 ('mohammad5457', 3),
 ('annemarie7077', 3),
 ('stephen6879', 2),
 ('emma8443', 4),
 ('sbastien6463', 2),
 ('frederic9655', 2),
 ('bill7550', 7),
 ('martin6086', 6),
 ('robert5226', 2),
 ('marjo1748', 10),
 ('clive5910', 81),
 ('steven3253', 55),
 ('cakeordeath8064', 2),
 ('kevin7809', 4),
 ('laura4759', 13),
 ('jennifer2139', 2),
 ('daniel4451', 2),
 ('cmak', 2),
 ('joehoyle', 2),
 ('krauspartner', 24),
 ('william8070', 5),
 ('al1898', 3),
 ('hook', 5),
 ('afroze4263', 7),
 ('kaat7628', 2),
 ('veronique2380', 2),
 ('mohannad', 2),
 ('dragan9652', 2),
 ('alice8507', 4),
 ('danae3046', 5),
 ('dan1417', 3),
 ('mary5466', 2),
 ('david81653552', 3),
 ('peter1098', 2),
 ('katy9250', 2),
 ('carlton2205', 2),
 ('jamie3277', 2),
 ('teresaandrick', 29),
 ('scott2473', 3),
 ('paul7054', 5),
 ('sarah5545', 2),
 ('craig97299604', 84),
 ('maria7751', 8),
 ('annw9506', 2),
 ('vasanthi', 6),
 ('sue3979', 2),
 ('pierre5880', 3),
 ('daleandcallie9707', 2),
 ('lisa4456', 2),
 ('sacham', 11),
 ('tlaurie', 4),
 ('marian7076', 2),
 ('allwinjose8370', 2),
 ('ryanandjoanna6615', 2),
 ('suresh6523', 4),
 ('danlandrum', 3),
 ('Oliver10303', 49),
 ('sue7474', 3),
 ('elsa2087', 3),
 ('patrick1809', 3),
 ('benjamin3549', 4),
 ('jim2503', 3),
 ('andreaandwouter6544', 18),
 ('deepakgeetakevinronak', 14),
 ('khanh2725', 6),
 ('lesley4647', 2),
 ('pedro2429', 8),
 ('nollaig5959', 2),
 ('jim5285', 26),
 ('metin8315', 2),
 ('gerald7282', 2),
 ('karin9520', 4),
 ('lee6515', 38),
 ('thomas7955', 4),
 ('sandeepsingh2858', 20),
 ('rinie4717', 2),
 ('chuck2380', 11),
 ('stefanomiari', 2),
 ('toplistbestfictionbo5564', 23),
 ('gerlinde6463', 5),
 ('tobias5075', 4),
 ('tanmay', 2),
 ('douglas8995', 6),
 ('jeanne53233964', 11),
 ('jellodiva', 2),
 ('judy3495', 42),
 ('denise7392', 5),
 ('amornwan4232', 4),
 ('terry52663587', 3),
 ('juergen5908', 3),
 ('stacy1379', 2),
 ('praveenrajasekar', 3),
 ('sarah1211', 4),
 ('jcagomes', 2),
 ('suzanne8918', 2),
 ('kerry4093', 9),
 ('gsk', 4),
 ('harry9324', 4),
 ('joan6711', 12),
 ('craig1296', 2),
 ('mac9412', 2),
 ('eric8583', 3),
 ('salandrob6186', 4),
 ('caseyl', 2),
 ('Leah6742', 2),
 ('michaelandmelinda9592', 2),
 ('zach9722', 2),
 ('jordan7519', 2),
 ('doug5185', 10),
 ('ronald8745', 54),
 ('charles6358', 3),
 ('joan60553118', 2),
 ('shailesh', 4),
 ('christian3503', 2),
 ('nomax', 2),
 ('frode', 2),
 ('stephen5987', 2),
 ('paul23765609', 5),
 ('paul6428', 4),
 ('erin6824', 2),
 ('elliot3732', 3),
 ('elena6794', 3),
 ('carmen7376', 5),
 ('laura1179', 2),
 ('heather1546', 39),
 ('phillip7727', 5),
 ('marc1631', 8),
 ('angus2640', 13),
 ('jamesandshell2373', 2),
 ('tamarab', 5),
 ('mark2704', 23),
 ('indraneel7687', 2),
 ('nancy7311', 11),
 ('janandmaggie7749', 3),
 ('richard7719', 3),
 ('mike1401', 15),
 ('scott9873', 2),
 ('michael21418121', 9),
 ('rick8888', 10),
 ('craig7834', 3),
 ('ben9420', 3),
 ('gao', 7),
 ('ed5743', 5),
 ('amy7726', 2),
 ('Ravi9208', 2),
 ('albert8248', 2),
 ('adamcordle', 2),
 ('lori9430', 2),
 ('christopher5171', 2),
 ('donandkathy6425', 35),
 ('jennifer9341', 2),
 ('kirkland', 12),
 ('stanhope8974', 2),
 ('nigel4691', 31),
 ('lpgiraldez', 2),
 ('marcziesmer', 4),
 ('vana5220', 11),
 ('lionel1946', 2),
 ('david66129435', 10),
 ('sam8974', 5),
 ('sijanrai', 3),
 ('mike7912', 8),
 ('delbert3382', 2),
 ('jillian1643', 85),
 ('gregandclare1849', 4),
 ('tom7014', 3),
 ('tomandjune3533', 11),
 ('JY1024', 41),
 ('charlie1085', 8),
 ('julian8731', 108),
 ('detlef', 2),
 ('anne9845', 8),
 ('david61297495', 14),
 ('divingdoc36', 54),
 ('pat5984', 2),
 ('giovannicataldi4083', 59),
 ('diane3510', 2),
 ('burger', 2),
 ('victor3258', 11),
 ('szucheng2565', 124),
 ('jack9289', 3),
 ('richard4874', 4),
 ('jessieinez', 2),
 ('andyangie8000', 2),
 ('maryana3992', 2),
 ('irmark', 5),
 ('nazaret7843', 25),
 ('brian87298920', 2),
 ('fiona7583', 2),
 ('alex7802', 2),
 ('rhonda6343', 3),
 ('john37481062', 73),
 ('susan5956', 3),
 ('albert8514', 3),
 ('john1879', 7),
 ('zoec', 3),
 ('trogdorfamily7622', 54),
 ('sarah2583', 3),
 ('mark99806535', 2),
 ('dale2183', 4),
 ('michelleandkristian9819', 16),
 ('jonesfamily', 3),
 ('jane8369', 3),
 ('mark9645', 2),
 ('daleanddave4907', 8),
 ('dean2234', 2),
 ('hamish8276', 5),
 ('iannace', 3),
 ('anne9124', 14),
 ('avezziefamily', 2),
 ('ellen4684', 37),
 ('lynn5507', 2),
 ('francois6628', 3),
 ('phill9950', 2),
 ('ilona9961', 6),
 ('enwezor2644', 2),
 ('cathianne8063', 2),
 ('marcandr8568', 8),
 ('mishka8668', 6),
 ('avi9735', 2),
 ('susan2633', 17),
 ('laurelz', 3),
 ('jose3712', 6),
 ('gene8177', 3),
 ('skreened', 22),
 ('kevin6441', 6),
 ('robert1951', 5),
 ('gomike', 8),
 ('neak', 15),
 ('pedersmed4472', 13),
 ('michael48913780', 4),
 ('kaspar4426', 2),
 ('john56537153', 4),
 ('weinberger', 3),
 ('daniel5023', 5),
 ('kristin2911', 2),
 ('Darebakus7028', 2),
 ('arica', 6),
 ('magdalena9892', 2),
 ('harold5997', 33),
 ('michael3061', 2),
 ('hedymaigs', 2),
 ('linde6700', 4),
 ('nigel5030', 85),
 ('caryl7997', 2),
 ('donald3162', 3),
 ('bill9445', 6),
 ('rich6705', 40),
 ('charles6568', 9),
 ('tracey8474', 2),
 ('dennis4138', 9),
 ('jarrod4964', 4),
 ('karen6436', 6),
 ('EGL', 21),
 ('nick8730', 20),
 ('beverly', 13),
 ('ken7832', 3),
 ('andyonkiva', 27),
 ('margaret1978', 3),
 ('susan9216', 2),
 ('goodshepherducc9050', 5),
 ('pryor2007', 7),
 ('brenda6332', 3),
 ('mark8092', 2),
 ('david3125', 4),
 ('wjp', 9),
 ('benedictsteele', 2),
 ('lasse8792', 6),
 ('nathan7801', 3),
 ('pascalvanhecke', 9),
 ('jasonlee', 2),
 ('howard7012', 104),
 ('anders4222', 7),
 ('matt50679987', 3),
 ('michele4530', 2),
 ('zim7148', 34),
 ('creativeeconomy', 2),
 ('james4890', 3),
 ('xyz1373', 2),
 ('joanna6771', 5),
 ('luke8286', 2),
 ('jannis9788', 3),
 ('carlo9232', 2),
 ('jennifer86293639', 37),
 ('natoya4299', 2),
 ('roman6673', 4),
 ('laurie9583', 2),
 ('jim7785', 2),
 ('thomas3791', 35),
 ('julie8037', 30),
 ('derek9183', 3),
 ('stephen7228', 3),
 ('timothy7790', 3),
 ('wendy9105', 4),
 ('heidi9127', 2),
 ('sandy3893', 5),
 ('25perday', 4),
 ('angela6286', 4),
 ('matthew64195818', 2),
 ('brooke8026', 2),
 ('paula3738', 2),
 ('christy2688', 4),
 ('frank3452', 4),
 ('raymond4538', 4),
 ('vasu6972', 12),
 ('andrew2954', 8),
 ('john36421277', 8),
 ('mariliis4011', 2),
 ('renee8611', 2),
 ('tim4058', 2),
 ('adamscottprice', 4),
 ('wilma6195', 2),
 ('carolyn8576', 2),
 ('brenda9272', 2),
 ('caroline5418', 3),
 ('mel7714', 2),
 ('suthi', 2),
 ('michael64749969', 4),
 ('christopher38035375', 28),
 ('lloydminsterrotarycl6639', 16),
 ('lorenzo7127', 3),
 ('jeanetteingrid9958', 2),
 ('shirley1905', 194),
 ('barbara5987', 2),
 ('lorea3139', 2),
 ('sean3201', 3),
 ('jeffreyandannegret9319', 3),
 ('steve8782', 4),
 ('gord6319', 2),
 ('marthaandrobert8020', 4),
 ('dennis9163', 2),
 ('karen8054', 2),
 ('sandy3287', 6),
 ('cchan3330', 3),
 ('ben95621346', 4),
 ('yoram3554', 2),
 ('david77732635', 3),
 ('normandmichelle8811', 15),
 ('howard4754', 55),
 ('joann9259', 4),
 ('peeta5736', 2),
 ('tracy9170', 4),
 ('christina1088', 3),
 ('haitham', 2),
 ('michael6150', 7),
 ('wendy4343', 2),
 ('austin1984', 2),
 ('louise1987', 3),
 ('neilthanedar', 2),
 ('wendy5056', 2),
 ('kate4058', 18),
 ('tonyonkiva', 2),
 ('vito8085', 2),
 ('agnieszka6878', 2),
 ('tom1199', 2),
 ('joacim2931', 8),
 ('porter9696', 42),
 ('janandjohn', 31),
 ('michelle7526', 2),
 ('patricia7040', 3),
 ('kris7164', 2),
 ('jonathan6863', 7),
 ('rebecca4187', 3),
 ('debs8578', 3),
 ('claudia3062', 5),
 ('linda4162', 2),
 ('alexander1835', 2),
 ('migs2670', 7),
 ('tove4710', 2),
 ('robert5348', 3),
 ('jan92', 2),
 ('joakim8782', 2),
 ('dan66559622', 3),
 ('cate4432', 2),
 ('david64376525', 3),
 ('jorge5645', 4),
 ('kyle9253', 2),
 ('shaun3027', 2),
 ('johan4746', 4),
 ('zan4576', 2),
 ('karen94096564', 8),
 ('eric9311', 19),
 ('svuorela', 2),
 ('patrick1624', 2),
 ('mattias3342', 4),
 ('federica3226', 2),
 ('tomsve', 2),
 ('richard57583833', 2),
 ('barbara9916', 6),
 ('linda1271', 2),
 ('susanandbill4911', 3),
 ('jan8763', 3),
 ('cgull', 4),
 ('rachael8906', 3),
 ('barbara5078', 3),
 ('helen5675', 3),
 ('darryl7606', 9),
 ('graham8286', 2),
 ('boaz5464', 6),
 ('leland6915', 5),
 ('neil000', 36),
 ('nadiamir', 3),
 ('nathan4355', 2),
 ('angela5969', 2),
 ('jan7030', 2),
 ('zen7998', 2),
 ('unitarianuniversali3384', 4),
 ('joan3580', 10),
 ('elizabeth6283', 12),
 ('jon5113', 9),
 ('jeanie1305', 2),
 ('helge5511', 2),
 ('cyn5646', 2),
 ('tina5592', 3),
 ('laurin', 3),
 ('frank8142', 5),
 ('premal', 3),
 ('leslieinjapan', 4),
 ('jonasb', 4),
 ('david7193', 5),
 ('simon8263', 5),
 ('michael9752', 2),
 ('yuri7211', 2),
 ('joan6214', 3),
 ('becauseyoucare', 3),
 ('jan6672', 2),
 ('rachel3298', 3),
 ('sarah83079025', 6),
 ('jodie4413', 2),
 ('kathewelch', 4),
 ('dafydd23', 2),
 ('charlieandsheila9534', 3),
 ('rene2905', 2),
 ('bette3942', 2),
 ('kartik7352', 2),
 ('vanhara', 79),
 ('webwidejosh', 3),
 ('sally8048', 2),
 ('katsujiro1653', 9),
 ('ezra1813', 3),
 ('susan5374', 2),
 ('scott8438', 10),
 ('jjakmides', 2),
 ('marrilee5290', 3),
 ('james68166216', 2),
 ('gunhild2246', 15),
 ('caspar4036', 5),
 ('cubex', 3),
 ('arendanddarlene3111', 2),
 ('heather4452', 2),
 ('jakethielen', 2),
 ('christian3795', 2),
 ('ignaki', 2),
 ('greg2708', 2),
 ('burkhard2424', 13),
 ('caroline6735', 2),
 ('behnaz1023', 2),
 ('nicole4331', 2),
 ('paulandkathy3332', 2),
 ('bill7224', 4),
 ('dee1355', 3),
 ('simon2264', 2),
 ('jaycassandra7756', 9),
 ('kristyn3371', 2),
 ('elin4402', 2),
 ('asparagirl', 5),
 ('margaret9763', 2),
 ('gravitex', 6),
 ('drem1641', 2),
 ('roefamily7690', 6),
 ('ivano4041', 3),
 ('dahlers', 2),
 ('laureandnathan8538', 5),
 ('reese1563', 2),
 ('benito', 7),
 ('andreascott', 4),
 ('greg3464', 3),
 ('markjrodrigues', 2),
 ('andrew2066', 4),
 ('russell9818', 3),
 ('jo4197', 2),
 ('mayo4304', 2),
 ('mary5891', 4),
 ('susan6148', 2),
 ('john4502', 2),
 ('edith6098', 37),
 ('carol87577825', 4),
 ('melinda5249', 2),
 ('mitchell4909', 3),
 ('thierry8170', 108),
 ('joan4001', 2),
 ('mary9011', 4),
 ('nikaso', 2),
 ('adam2571', 4),
 ('alwynne3021', 2),
 ('louai6934', 3),
 ('joshua2603', 2),
 ('cedric9771', 2),
 ('john7508', 9),
 ('lisa6202', 3),
 ('jesse3022', 3),
 ('rain9931', 3),
 ('christopher4551', 2),
 ('thomas6441', 2),
 ('sara6858', 5),
 ('cal', 7),
 ('kevin85169812', 2),
 ('kodzos', 7),
 ('holger', 2),
 ('leobabauta', 5),
 ('george7103', 7),
 ('james1698', 4),
 ('olemartin5297', 2),
 ('carsten5395', 4),
 ('tanya7514', 3),
 ('irene9004', 6),
 ('naresh2185', 3),
 ('sheri4902', 2),
 ('david2051', 5),
 ('jessica8433', 2),
 ('toosje7995', 2),
 ('diane6471', 2),
 ('gerard6210', 18),
 ('chance7425', 4),
 ('pomerleaus', 23),
 ('alfredo9903', 7),
 ('wallace5589', 3),
 ('intersecthomes', 9),
 ('lucascervera', 2),
 ('hugo9358', 2),
 ('armin3179', 2),
 ('maria25657979', 3),
 ('bryan1078', 5),
 ('elaine4791', 2),
 ('jacqueline4998', 8),
 ('hiromitsu8096', 2),
 ('qqconsultancy1176', 2),
 ('heiko4691', 3),
 ('claudio1490', 13),
 ('tom1045', 97),
 ('devlin', 2),
 ('will8607', 34),
 ('dan7873', 2),
 ('chantal9509', 5),
 ('nova3240', 2),
 ('joyce3954', 2),
 ('seiko1977', 2),
 ('robert6426', 9),
 ('laura7277', 6),
 ('timothy5629', 6),
 ('gregory2085', 61),
 ('nate5869', 5),
 ('herb3525', 2),
 ('tomandjennifer6519', 3),
 ('ilia2272', 2),
 ('adrian7356', 4),
 ('trevor4834', 2),
 ('jon3163', 3),
 ('vicki3154', 2),
 ('delsa7805', 36),
 ('peggyellen3500', 10),
 ('rameri', 4),
 ('pedro7827', 4),
 ('jackie1431', 5),
 ('bjornh', 6),
 ('constance2150', 3),
 ('yalla', 2),
 ('ricardo2012', 3),
 ('stephen6', 3),
 ('christian4060', 4),
 ('RotaryBerea', 8),
 ('jane3654', 3),
 ('tim8475', 4),
 ('claudia2125', 3),
 ('andrew7872', 2),
 ('rgbkn9267', 3),
 ('gustaafvocking', 6),
 ('stephen8950', 19),
 ('eigenologie', 3),
 ('carol8108', 2),
 ('john3415', 7),
 ('andrepax', 5),
 ('ali9555', 56),
 ('steve2085', 2),
 ('michael57969289', 4),
 ('steve3114', 4),
 ('mimine2374', 2),
 ('rachael6068', 2),
 ('jeremy1982', 2),
 ('marjana6954', 2),
 ('alancheuk', 2),
 ('kevin7605', 3),
 ('natasja7107', 4),
 ('sean88546066', 3),
 ('robert8715', 2),
 ('becky6951', 2),
 ('dot7524', 2),
 ('helge4994', 3),
 ('david98107743', 2),
 ('sonseeahray1895', 2),
 ('tracyhc4053', 2),
 ('mathias4964', 2),
 ('bas2217', 3),
 ('sam1159', 4),
 ('imfeld7976', 2),
 ('dale4170', 2),
 ('miriamaok', 2),
 ('justin8222', 2),
 ('johannes4403', 4),
 ('alison6772', 2),
 ('beat8177', 2),
 ('sandy1961', 3),
 ('bill8451', 3),
 ('june7708', 15),
 ('andrew2789', 2),
 ('casey3458', 2),
 ('lauren2768', 2),
 ('richard4986', 8),
 ('larryandpatti1522', 5),
 ('marilyn8971', 2),
 ('jerrybraun', 2),
 ('bobharris', 69),
 ('julie91598707', 2),
 ('greenlightapparel', 2),
 ('daan3838', 5),
 ('kel4408', 3),
 ('alexandnicole8313', 2),
 ('wolfgang3771', 23),
 ('esther6149', 2),
 ('compatible', 6),
 ('kivaatconferece1990', 13),
 ('InternetSweden', 16),
 ('alexh', 2),
 ('cath7361', 2),
 ('alexallain8823', 3),
 ('magdalena8471', 10),
 ('andrew2425', 3),
 ('mike86272494', 3),
 ('mandmandgg6931', 4),
 ('barryanddonna6450', 6),
 ('natasha8952', 3),
 ('deydos', 3),
 ('heberlonghurst', 9),
 ('andrew5306', 32),
 ('cliffmarybethwedding', 3),
 ('stpaulsunitedchurcho6657', 5),
 ('david1417', 2),
 ('john65466368', 3),
 ('kyle7025', 6),
 ('mauricio6817', 4),
 ('doug9692', 2),
 ('danielle7539', 2),
 ('ronald7404', 3),
 ('caroline2926', 3),
 ('nhu', 3),
 ('guido9427', 7),
 ('sierrafoundation', 38),
 ('lena1855', 18),
 ('richardm', 5),
 ('john8265', 2),
 ('vincent3765', 6),
 ('carey2247', 2),
 ('dwight1287', 3),
 ('barbara3761', 4),
 ('ada3095', 6),
 ('dngem9271', 2),
 ('brian9505', 2),
 ('brian2052', 11),
 ('speakersspotlight3773', 13),
 ('max5129', 55),
 ('margaret68985206', 5),
 ('kath7321', 3),
 ('keith6909', 11),
 ('jim7882', 42),
 ('rayhana', 5),
 ('lobos5911', 3),
 ('lydiajane2987', 2),
 ('chasandamyfant', 14),
 ('martin9148', 5),
 ('joinFITE', 230),
 ('shane2872', 5),
 ('david11124773', 2),
 ('mattiask', 2),
 ('karen2353', 15),
 ('marge7715', 2),
 ('karen6961', 2),
 ('kingwashickocluster9621', 2),
 ('jocialmedia', 3),
 ('linda8607', 8),
 ('linplug2527', 4),
 ('robertanddonna3965', 4),
 ('doug6094', 7),
 ('jason6815', 5),
 ('eambroise', 2),
 ('brianlh', 2),
 ('gabriel8054', 13),
 ('angelo4036', 3),
 ('latham7338', 3),
 ('ursula5485', 3),
 ('nira1920', 17),
 ('jukka8785', 2),
 ('internationalschoolg2234', 2),
 ('carole1771', 2),
 ('sabiha3276', 2),
 ('schaschon', 45),
 ('pascal5405', 8),
 ('khanh2414', 3),
 ('cristina1461', 2),
 ('robert59061674', 9),
 ('rachel9231', 2),
 ('kristine3890', 2),
 ('fonddulacpresbyteria4461', 6),
 ('alan8273', 3),
 ('jonathan4550', 5),
 ('michael22978314', 4),
 ('michaelkeng', 6),
 ('MrDuncanMike', 6),
 ('brett1915', 4),
 ('kerstin2775', 5),
 ('sandra1413', 3),
 ('walid6119', 2),
 ('tomas1980', 2),
 ('craig7630', 2),
 ('jeanne5500', 2),
 ('henrik3902', 5),
 ('freddie1630', 4),
 ('pamela2849', 4),
 ('sarah9620', 2),
 ('william7616', 2),
 ('bobandbetty2985', 3),
 ('lindsay5168', 2),
 ('malinochpeter9413', 2),
 ('martijn6086', 2),
 ('tobias7225', 2),
 ('richard8655', 4),
 ('bill3962', 2),
 ('eleanor7564', 4),
 ('tempelman', 3),
 ('norbert1229', 2),
 ('mary67578728', 3),
 ('fred5050', 8),
 ('korbi6126', 16),
 ('ordbild9795', 8),
 ('don1343', 2),
 ('giulio5287', 2),
 ('luke6734', 4),
 ('carl4161', 5),
 ('junchen', 3),
 ('tarik5012', 2),
 ('kim8007', 46),
 ('mziegler', 3),
 ('omar5407', 2),
 ('benjamin8729', 6),
 ('Snak', 23),
 ('thomas5508', 3),
 ('ann7746', 2),
 ('nigel2497', 5),
 ('robert5104', 2),
 ('tara6401', 2),
 ('sharie2937', 26),
 ('journeychristmasparty', 4),
 ('nathan7007', 3),
 ('pfeffer', 3),
 ('john92744003', 2),
 ('stacy1657', 4),
 ('rebekah6266', 2),
 ('anjayves', 7),
 ('albert5149', 2),
 ('partnersxmas', 5),
 ('michael7319', 36),
 ('bmarar', 53),
 ('steven0974', 6),
 ('mark6398', 44),
 ('jhannah', 34),
 ('johnburroughsschoo2788', 39),
 ('medhurst', 4),
 ('harborlane', 3),
 ('danandkendal2822', 2),
 ('nicola1093', 61),
 ('howardbell', 2),
 ('mouchicchoc', 33),
 ('jean4710', 11),
 ('alex9345', 3),
 ('daren', 2),
 ('nfolkert', 18),
 ('goldseek', 36),
 ('borchardt', 4),
 ('reza7023', 2),
 ('marie3411', 2),
 ('gerard5098', 2),
 ('christopher75886840', 2),
 ('mads3617', 31),
 ('mick7873', 3),
 ('saria3236', 11),
 ('paul6044', 26),
 ('mjoelner', 2),
 ('jonathan2079', 4),
 ('cathy6524', 7),
 ('johnr5677', 3),
 ('marc8568', 6),
 ('b6348', 4),
 ('jheylin', 2),
 ('dps', 53),
 ('nickjhowe', 51),
 ('joinfite9750', 21),
 ('pascal6902', 15),
 ('omarmd', 2),
 ('kaylene2404', 12),
 ('mishcondereya6129', 36),
 ('martijnschreuder', 3),
 ('teknologiporten', 26),
 ('michael92731172', 5),
 ('kcs', 43),
 ('smistry', 13),
 ('david7057', 2),
 ('cheryl3755', 2),
 ('job3935', 3),
 ('saenger', 4),
 ('operationgroundswell', 88),
 ('richard4580', 12),
 ('lasse5803', 3),
 ('chris2195', 2),
 ('james2575', 3),
 ('mike7519', 4),
 ('cw6098', 4),
 ('jonathan2205', 2),
 ('tom59673895', 2),
 ('susan3595', 5),
 ('ted7240', 2),
 ('daniel3967', 2),
 ('dale9926', 2),

- Alternative solution is based on panda functionality:

In [8]:
loans_lender_2_more = loans_lender[loans_lender.duplicated(['lender'])]
lenders_funded_2_more = list(set(loans_lender_2_more['lender']))
lenders_funded_2_more

['judi4141',
 'themockturtle',
 'colin20286727',
 'khadija5547',
 'thomas6252',
 'simon9510',
 'starrstarr',
 'david29512429',
 'morten1983',
 'gill1764',
 'desiree37',
 'jason47824779',
 'andreas2382',
 'derk9257',
 'nfolkert',
 'nigel4330',
 'manon9265',
 'karen4442',
 '11familymembers',
 'nicole3428',
 'kat4303',
 'pimenhannie1777',
 'diane5687',
 'mohammad5457',
 'valerie5339',
 'kennethandevelyn',
 'kent9427',
 'stianedvin3097',
 'angela9181',
 'james8617',
 'theresa1032',
 'ketty2969',
 'paul4667',
 'konnsyquence',
 'alan888',
 'yen3285',
 'bobharris',
 'eric5133',
 'clark9828',
 'samjones',
 'chrisandnatasha5215',
 'mary6278',
 'jeff8664',
 'gianna5909',
 'FightExpiry',
 'ann8187',
 'david55808081',
 'andyonkiva',
 'rich6247',
 'chrisandsarah5331',
 'sue3816',
 'scottandcherie5721',
 'robert62035531',
 'hartmut7176',
 'eva2329',
 'ming',
 'pat5984',
 'martin4951',
 'colum4732',
 'bill9744',
 'hussain2895',
 'bas2217',
 'robertsanek',
 'mary15102341',
 'franziska35021491',
 'chris1575',
 'meganandnate6111',
 'trish9096',
 'karamfoundation7379',
 'bruce8247',
 'jing9293',
 'andreas8083',
 'nms',
 'john1490',
 'chance7425',
 'ronald8745',
 'tom9525',
 'john66787285',
 'david68125593',
 'graceanna4497',
 'fredriktingstedt',
 'seanatron',
 'guyandbrian3994',
 'rob36472871',
 'doug3731',
 'joseph65835207',
 'twofromindy',
 'gavinalistair',
 'adamg9553',
 'peter66854014',
 'alec9180',
 'yinmei9714',
 'hemant5152',
 'matt8899',
 'lesley1210',
 'joana1556',
 'petrea7375',
 'christine13215368',
 'anders3090',
 'rene8328',
 'stewart8417',
 'deepali4632',
 'jess4485',
 'scott55587179',
 'eli4062',
 'paulaandmax1665',
 'jerry4333',
 'susan19508877',
 'JohnC',
 'francois3816',
 'stephen4581',
 'joe9737',
 'perry3884',
 'paul8901',
 'torrune9602',
 'craig6584',
 'danette9872',
 'lynda94944613',
 'kenanddoris2463',
 'monique4424',
 'brian7634',
 'trevorandalva2378',
 'cleopatra1312',
 'carlylevi',
 'john16721723',
 'thomas3778',
 'david7950',
 'eiliv5100',
 'anneandmatthew2281',
 'jeremyandlindsay',
 'gail7925',
 'jan3646',
 'jon7037',
 'haruyuki5095',
 'john6554',
 'peter1444',
 'anna5443',
 'mike99622822',
 'david8293',
 'pedromatos',
 'livnamaste',
 'adambachman',
 'elaan',
 'ove1870',
 'bernard9617',
 'martina4425',
 'cassel',
 'johnnyk',
 'nichole2116',
 'nira1920',
 'tonytee',
 'felix3658',
 'blair2111',
 'fsdata',
 'dominik1587',
 'laura1901',
 'ibonzo39',
 'toddandshari',
 'steve5595',
 'ryan68204260',
 'rainer9783',
 '4feet2mouths',
 'chikako6302',
 'dan3649',
 'malena5701',
 'neil5168',
 'alex4215',
 'americanruth',
 'paul7796',
 'karl2409',
 'cuttillroatablaprice9024',
 'emco',
 'steffh',
 'susanandal2844',
 'donna3654',
 'joeprogram',
 'jennifer60492165',
 'susan35763015',
 'lena4453',
 'louis5999',
 'lynn1635',
 'james6163',
 'gil3264',
 'isaac4844',
 'brugmanjoost',
 'michael78471807',
 'jonaskhnielsen',
 'john9614',
 'ryanjimison',
 'lucas79',
 'derek1232',
 'remiandwendy',
 'euribe8042',
 'sarah3254',
 'lynn3444',
 'stephen12718810',
 'jbryant95',
 'james9430',
 'sophie7921',
 'digyoursoul',
 'michael4699',
 'gerd7882',
 'crystal9123',
 'kelly75737849',
 'gary2223',
 'anita6984',
 'kate2477',
 'joinfite9750',
 'runelov',
 'ries5734',
 'ergodubito',
 'dawa9320',
 'lucinda3416',
 'ant6518',
 'nocounterspace',
 'susan1662',
 'peggy4806',
 'onliveit',
 'paul86707981',
 'barbara1691',
 'mike86272494',
 'rlc3977',
 'daphnedog',
 'ricardo4619',
 'bob3775',
 'lynn1618',
 'henry7676',
 'isabella78633723',
 'sharon9525',
 'pepperdine3918',
 'svenderik2946',
 'ChloeButler',
 'vera2352',
 'yvonne4159',
 'chris60804745',
 'mathias4964',
 'beau9469',
 'mike7530',
 'helen6028',
 'jonasstockholm',
 'jakob8198',
 'scottinsideout',
 'monicaanddavid3242',
 'geoffrey8130',
 'laurie9693',
 'kathy29892149',
 'rob1589',
 'tom6951',
 'meagan3516',
 'ryan54597608',
 'r3922',
 'chris7498',
 'howard3584',
 'mark1715',
 'hankster',
 'jeremy7007',
 'stdavids7335',
 'justin6459',
 'krisreid',
 'paul2826',
 'kar1979',
 'ki3695',
 'dan1272',
 'pascal4162',
 'wayne7416',
 'miratel8800',
 'mjschrader',
 'shawna3245',
 'patrickwolf',
 'givebackalittle',
 'shaun8447',
 'Tony8804',
 'vincenzo4952',
 'jager7732',
 'seantieck',
 'gillian6082',
 'mickeytetyana',
 'brian4946',
 'ptu1969',
 'elmar3811',
 'larsjohan',
 'dorothy9310',
 'richard7926',
 'emergingmarkets',
 'andrea6586',
 'paul9529',
 'tmn2340',
 'meredith1353',
 'jeffrey1660',
 'bastian3313',
 'joy8668',
 'john3565',
 'jacopyright',
 'susan47638660',
 'melissa5233',
 'john1996',
 'cherie7458',
 'christine4862',
 'james8688',
 'skleiber',
 'tomandjennifer6519',
 'carriegreen',
 'sharie2937',
 'davidberkowitz',
 'daniel51302216',
 'lawrence3402',
 'madelaine4392',
 'elspeth2923',
 'christinegrace',
 'rowlands6804',
 'christophe3544',
 'arvid5813',
 'anca1302',
 'william7228',
 'janet8995',
 'zbigniew4128',
 'joe31654',
 'john7645',
 'martin4727',
 'jim4905',
 'lumina1595',
 'shakira',
 'loremipsum',
 'peter62422003',
 'janet3808',
 'aaronjz',
 'mattie1578',
 'valerie4764',
 'ridley',
 'esmithdesign',
 'eric7418',
 'william4369',
 'darian4252',
 'frank6263',
 'will4589',
 'phuong',
 'jacques2945',
 'pascale6899',
 'heather9511',
 'michael2657',
 'jan4158',
 'aaron5211',
 'tom2692',
 'kerry1170',
 'fred8921',
 'craig7630',
 'william45923326',
 'ivo3315',
 'jerome9597',
 'cyrill',
 'stephen8670',
 'valerie2776',
 'jamesbarron',
 'rawthentic',
 'jugendststephan1926',
 'menno3710',
 'skerritt',
 'mandy6540',
 'susanandsimon4984',
 'daniel7449',
 'geoffrey7718',
 'robertmelbourne',
 'christopher53877770',
 'kurian1040',
 'henriette8913',
 'michel5297',
 'umesh7164',
 'ann2848',
 'michael9752',
 'dariusz2473',
 'lisa18529288',
 'simon8668',
 'miikka9214',
 'corin6169',
 'amanda8076',
 'michael9854',
 'rajnish',
 'oliver9324',
 'don5105',
 'jeanne8505',
 'kari3208',
 'randy32341315',
 'hamish7249',
 'cathy2037',
 'brad62879023',
 'gttnnn',
 'martha8340',
 'brian6571',
 'patricia9748',
 'KSC1',
 'wietske2941',
 'bennymoto',
 'peeta5736',
 'omar2370',
 'bilandlynda5833',
 'jackanddonna6559',
 'ambra',
 'newpollution',
 'kent6913',
 'jonathan3915',
 'alex9345',
 'emily8769',
 'herndon1146',
 'pattyandgreg8538',
 'grover1775',
 'adrienne5059',
 'claudio1490',
 'steffeh',
 'ron5498',
 'shinichi6596',
 'experius',
 'thomas6441',
 'joy3889',
 'brian8069',
 'kyle2545',
 'capnbry',
 'healourworldproject',
 'shreedhar1602',
 'stephen3841',
 'moe1596',
 'ludemegames',
 'jacqueline1998',
 'vincentfinetti',
 'siljeogoyvind',
 'babyandblu6556',
 'alen1278',
 'goncalo4579',
 'peter9802',
 'hina3019',
 'kurt7817',
 'ty7026',
 'brian3044',
 'mary1294',
 'steve4915',
 'viraj5215',
 'adam6200',
 'aaronz',
 'jeff4748',
 'geke6305',
 'parthiban2399',
 'michael8438',
 'marc7166',
 'hilary3882',
 'linda5595',
 'helen5675',
 'ken5817',
 'melinda1989',
 'maxwalter',
 'denise6312',
 'naomi5071',
 'temitope1737',
 'peter1394',
 'chelsea2918',
 'maciej3429',
 'eugeniavb',
 'will6468',
 'elizanda7502',
 'steve3487',
 'fredrik1826',
 'george3545',
 'michelle5519',
 'poul9503',
 'nitrofly',
 'rabqsa',
 'sascha2378',
 'douglas5197',
 'mckenzie5773',
 'jean4710',
 'elias4241',
 'michelle1199',
 'zan2954',
 'berobi',
 'puneet9422',
 'reid7395',
 'brita2879',
 'mar5095',
 'neubercom',
 'semalee5305',
 'dona6637',
 'robert4018',
 'anne6275',
 'beth4357',
 'tara2667',
 'jellodiva',
 'wacarlton',
 'dirkschrama',
 'karin9520',
 'david42635853',
 'sharman9389',
 'cathyandpaul4622',
 'chris8011',
 'robin8532',
 'stefan1165',
 'robandlaurie2529',
 'gordon3646',
 'alex2422',
 'steve2304',
 'erica21356709',
 'rajko2834',
 'jim2972',
 'jenny77496567',
 'rob3910',
 'robert60368957',
 'maryinbgame',
 'william4225',
 'kristine6908',
 'dustonthethrottle9162',
 'richard7449',
 'trondeivind1936',
 'vikas7863',
 'chun3169',
 'antonia8283',
 'lukemaslany',
 'jessica4635',
 'Verdad',
 'jacob8446',
 'christian5308',
 'jurrien1976',
 'julian8860',
 'elizabeth6428',
 'minh9915',
 'lindaandsteven8026',
 'julia23',
 'karen2353',
 'paulandfran1831',
 'rohan6093',
 'susan4379',
 'crystal5150',
 'guilherme1137',
 'michael7349',
 'kitchenerwestmount6111',
 'stephanie2345',
 'james3657',
 'thomas7322',
 'alexis5858',
 'gary8357',
 'vikram01',
 'gordon5544',
 'adelaide9170',
 'harvey2603',
 'martin86859801',
 'carmela7533',
 'ludovic8958',
 'ralf1590',
 'ruy8071',
 'timo3366',
 'anukriti8749',
 'charlie5840',
 'neil9269',
 'susan25816642',
 'andrew2615',
 'carla4227',
 'miriam9842',
 'francoise5319',
 'hugo3975',
 'ian9558',
 'albert9392',
 'derek4953',
 'fulco3510',
 'andrew9992',
 'karen91403843',
 'evesanz',
 'sofia3815',
 'michael14567121',
 'hans7879',
 'mj6554',
 'mel7714',
 'janice5293',
 'yvind3736',
 'oliver7977',
 'judi3849',
 'steven2096',
 'johansigurdson',
 'stacey9092',
 'wendy6368',
 'michael8990',
 'aaronplaat',
 'walsh8620',
 'maxime3679',
 'hypnosistrainingacademy',
 'david7652',
 'sunspotk',
 'robert7892',
 'giovannachiara3763',
 'sarah87327831',
 'matthieu8188',
 'sheldon7984',
 'helen8797',
 'eva5001',
 'christopher1954',
 'marc8568',
 'divingdoc36',
 'john4396',
 'michael4032',
 'gina7115',
 'wayne8587',
 'dan31904759',
 'lacouture8492',
 'ralph2342',
 'fisk',
 'asij2913',
 'khaled2027',
 'don5277',
 'antony4150',
 'ruanvanrensburg',
 'ted5333',
 'uppalapati',
 'julianm',
 'elizabeth3786',
 'kristin4776',
 'hansjrgen8697',
 'dngem9271',
 'suzieq1737',
 'david3015',
 'carrie3217',
 'lydiajane2987',
 'evelyn1497',
 'sara9984',
 'caroline2780',
 'david3287',
 'allan1441',
 'em4059',
 'sean7085',
 'bigcake',
 'manuel1350',
 'mark9706',
 'william1444',
 'alexandra3923',
 'terinmayer',
 'hans5145',
 'donau1077',
 'matthew2480',
 'giuseppe8529',
 'suvir',
 'robtclements',
 'jamie3277',
 'alison7934',
 'belen4771',
 'jorge1454',
 'amir6613',
 'k3530',
 'chris9232',
 'himavat4201',
 'susan4083',
 'jackie1431',
 'maureen8932',
 'calum2508',
 'wow6849',
 'wglobke',
 'kandi8671',
 'don3300',
 'kevin3077',
 'inge7626',
 'lori6971',
 'co7954',
 'brent5872',
 'cecilia8952',
 'jane3566',
 'andrebolhuis82',
 'davehansen1501',
 'sue8245',
 'eric9078',
 'john2333',
 'tonio',
 'robert45207828',
 '10yearitch',
 'bonnie6437',
 'saminen4235',
 'dustin5157',
 'sqtruong3619',
 'christine4790',
 'darius7254',
 'manoj7884',
 'victor9541',
 'pamela6264',
 'cass6057',
 'susan90091660',
 'samj',
 'thetelf',
 'jeff7101',
 'subbarao',
 'amy5008',
 'rebecca5768',
 'javier3364',
 'katie74522724',
 'acelle9394',
 'ed4717',
 'scott3380',
 'andrew7445',
 'joanne41522624',
 'meredith8304',
 'daniel8235',
 'leslie3678',
 'jossezwols',
 'doctordaigle',
 'cherie7780',
 'maryanne2844',
 'judy1038',
 'christoph9014',
 'jodie4413',
 'robert59061674',
 'andresv',
 'premt',
 'michael6448',
 'pat7596',
 'sarah6311',
 'jj4491',
 'sam1873',
 'andy6488',
 'crystal4468',
 'wcj1',
 'kalin4541',
 'susan2381',
 'tim9748',
 'celine1246',
 'michael6689',
 'armin6872',
 'terry7777',
 'richard6268',
 'karen1672',
 'carina7653',
 'goldseek',
 'theknightofnoise',
 'matt6337',
 'johnny2206',
 'kimberly9056',
 'wimdijk',
 'brian2052',
 'david93393931',
 'peterenloes7372',
 'john7907',
 'gerard9070',
 'per3600',
 'susan8180',
 'hyun8408',
 'johanneskun',
 'tokunbo7197',
 'upkar6945',
 'pensforhope',
 'heidi9302000',
 'lucas1164',
 'douglas7261',
 'josh7135',
 'annette7466',
 'alexander3088',
 'petra9641',
 'thinh5587',
 'john9245',
 'cecil6342',
 'teresa9205',
 'roses3658',
 'dan3878',
 'bernie1447',
 'bertenpaulien2045',
 'bradley1733',
 'henry7637',
 'david5298',
 'bjorge1814',
 'gulshan4247',
 'samaroo2048',
 'allison2818',
 'peter2011',
 'jonathanandleigh',
 'talldean',
 'wesley2095',
 'behnaz1023',
 'tomoko3442',
 'ron7989',
 'natoya4299',
 'debbie9175',
 'harpreet',
 'glamasaurus',
 'toni4740',
 'larry23',
 'heather63146253',
 'ppaniagua',
 'anne68685917',
 'nancy1064',
 'alison2757',
 'beasley5790',
 'evan7711',
 'johndavid4368',
 'susannah1985',
 'ed8695',
 'jim5307',
 'bert8500',
 'jan8835',
 'james2047',
 'ted6855',
 'martin8424',
 'liz7485',
 'erikschrama',
 'stpaulsunitedchurch7410',
 'david8997',
 'khaldoun4132',
 'ashish3752',
 'annandrichard9810',
 'hannes3226',
 'mark47358837',
 'abbey1636',
 'james68195247',
 'aaron7498',
 'brian9307',
 'sara5909',
 'andrei1270',
 'laurence4295',
 'joseph74242769',
 'tove4710',
 'erik3380',
 'jackie5385',
 'JamesCarolynCooper',
 'john81726436',
 'mayur4586',
 'friendsofesprit4092',
 'kira8692',
 'joe6613',
 'marcel3175',
 'decarepl',
 'michael4283',
 'chris9156',
 'samwashburn',
 'javier7049',
 'david41257815',
 'john89087239',
 'ryan3196',
 'olehermann5887',
 'jan1364',
 'ross3214',
 'mark23702836',
 'greg1415',
 'geemus',
 'helge6360',
 'ntfm6192',
 'john4136',
 'thebridge6709',
 'joseph3657',
 'roger2899',
 'jamesandshell2373',
 'jon3163',
 'david5469',
 'olin2445',
 'jennifer59461437',
 'joan7975',
 'luke8286',
 'michael1151',
 'nazaret7843',
 'elisabeth1',
 'mike1253',
 'ximena2481',
 'lori9430',
 'avi9735',
 'fred1605',
 'serdar6107',
 'chris7913',
 'jim7766',
 'cubsandfins',
 'miryan4468',
 'wimmerafunerals',
 'rick2784',
 'simon7977',
 'dan3261',
 'diekutkas',
 'tonyonkiva',
 'frode',
 'glencz',
 'ria6574',
 'peter7303',
 'gregory7672',
 'maxim3789',
 'adam5827',
 'stephen1978',
 'anita7459',
 'sodajunkie',
 'justin2249',
 'lenderj',
 'ken6472',
 'michael36352983',
 'edward5418',
 'kosmides',
 'alec8941',
 'steve2410',
 'brad2571',
 'marie7919',
 'panagiothis5902',
 'david5384',
 'gillian2454',
 'roger81472896',
 'joel5259',
 'edmundo3295',
 'martin6690',
 'james4965',
 'sander9462',
 'jonathan4629',
 'willemS',
 'konrad8262',
 'jessedybka',
 'sophieandmelissa1069',
 'samuel1386',
 'lauren2451',
 'anna7748',
 'rinske85',
 'pilotstephen',
 'bonnie2708',
 'manou4852',
 'sid1214',
 'punahou2724',
 'jmehta4kiva',
 'kris49493180',
 'janette5109',
 'tonja2878',
 'viri',
 'varun4269',
 'dave1752',
 'gail6180',
 'jose9652',
 'moksh',
 'cypress8143',
 'paul6326',
 'jed6923',
 'sam3637',
 'gordonbrest',
 'lorraine2451',
 'arthur1444',
 'abby6506',
 'gerardandfamily9176',
 'timothy1449',
 'pat7842',
 'cherrycreekelementar8811',
 'shavkat4701',
 'felixb',
 'margaret5674',
 'charles6488',
 'pat8473',
 'scott8769',
 'bakerhertzberg7280',
 'rayswchiu',
 'trent1955',
 'edchi',
 'glenn2436',
 'bluevegman9567',
 'bill9991',
 'martin9365',
 'shahzad3350',
 'eldosetincy',
 'angela2234',
 'gimhok',
 'lindie6710',
 'nbtacreditunion2871',
 'matthew8377',
 'WCA',
 'thanveltman',
 'jeroen9028',
 'tiffy',
 'william4544',
 'jeffrey2948',
 'stafford2793',
 'bill55911817',
 'brett3922',
 'trevorb',
 'ted4266',
 'janice4220',
 'byron9158',
 'daren',
 'christina29027577',
 'jo6452',
 'dra',
 'anthony2757',
 'davewendy5940',
 'christine8937',
 'nigel8371',
 'karen3743',
 'natalie3983',
 'glenn9865',
 'susan9311',
 'soderhavet',
 'birton',
 'cwilgo',
 'jeroendedauw',
 'taras7129',
 'sherry9184',
 'andrew5975',
 'stpaulsunitedchurcho6657',
 'sunit8814',
 'ngy7533',
 'christoph8133',
 'adam5304',
 'pascal6902',
 'nicholas2543',
 'bjrn1157',
 'mark6909',
 'punahou2440',
 'david7057',
 'lorna8915',
 'mik63',
 'katherine1040',
 'weipien8222',
 'ericandsherri3312',
 'rainer8673',
 'michael6605',
 'jedidjah',
 ...]

`4.` For each country, compute how many loans have involved that country as borrowers.

- One solution is based on calculation/counting using dicitionary object:

In [9]:
stat={}
for index, row in loans.iterrows(): 
    cn = row['country_name']
    cc = row['country_code']
    stat[(cc,cn)] = 1 + stat.get((cc,cn), 0)
stat

{('PH', 'Philippines'): 1394,
 ('HN', 'Honduras'): 52,
 ('PK', 'Pakistan'): 110,
 ('KG', 'Kyrgyzstan'): 51,
 ('SV', 'El Salvador'): 323,
 ('BI', 'Burundi'): 12,
 ('ML', 'Mali'): 33,
 ('MN', 'Mongolia'): 28,
 ('PE', 'Peru'): 217,
 ('GE', 'Georgia'): 29,
 ('AM', 'Armenia'): 41,
 ('GH', 'Ghana'): 42,
 ('TZ', 'Tanzania'): 21,
 ('KH', 'Cambodia'): 220,
 ('TG', 'Togo'): 26,
 ('GT', 'Guatemala'): 31,
 ('LB', 'Lebanon'): 43,
 ('PY', 'Paraguay'): 102,
 ('NI', 'Nicaragua'): 159,
 ('KE', 'Kenya'): 419,
 ('UG', 'Uganda'): 132,
 ('RW', 'Rwanda'): 51,
 ('MZ', 'Mozambique'): 15,
 ('AZ', 'Azerbaijan'): 24,
 ('IL', 'Israel'): 6,
 ('TJ', 'Tajikistan'): 153,
 ('BO', 'Bolivia'): 75,
 ('MX', 'Mexico'): 46,
 ('ID', 'Indonesia'): 22,
 ('NG', 'Nigeria'): 13,
 ('EC', 'Ecuador'): 107,
 ('MG', 'Madagascar'): 14,
 ('VN', 'Vietnam'): 60,
 ('CO', 'Colombia'): 98,
 ('JO', 'Jordan'): 97,
 ('YE', 'Yemen'): 20,
 ('IN', 'India'): 217,
 ('CL', 'Chile'): 6,
 ('AL', 'Albania'): 13,
 ('PS', 'Palestine'): 47,
 ('NP', 'Nepal'): 7,
 ('SL', 'Sierra Leone'): 64,
 ('US', 'United States'): 14,
 ('CD', 'The Democratic Republic of the Congo'): 18,
 ('CM', 'Cameroon'): 9,
 ('WS', 'Samoa'): 48,
 ('DO', 'Dominican Republic'): 10,
 ('BJ', 'Benin'): 27,
 ('LR', 'Liberia'): 68,
 ('SN', 'Senegal'): 42,
 ('LA', "Lao People's Democratic Republic"): 2,
 ('MM', 'Myanmar (Burma)'): 2,
 ('IQ', 'Iraq'): 22,
 ('ZW', 'Zimbabwe'): 23,
 ('TH', 'Thailand'): 2,
 ('BF', 'Burkina Faso'): 1,
 ('TL', 'Timor-Leste'): 12,
 ('HT', 'Haiti'): 3,
 ('UA', 'Ukraine'): 9,
 ('CG', 'Congo'): 5,
 ('XK', 'Kosovo'): 17,
 ('AF', 'Afghanistan'): 1,
 ('ZA', 'South Africa'): 1,
 ('SS', 'South Sudan'): 2,
 ('CR', 'Costa Rica'): 5,
 ('TR', 'Turkey'): 6,
 ('EG', 'Egypt'): 2,
 ('ZM', 'Zambia'): 5,
 ('BZ', 'Belize'): 1,
 ('MW', 'Malawi'): 1,
 ('SR', 'Suriname'): 2}

- Another solution is based on panda grouping:

In [10]:
loans_count = loans.groupby(['country_code','country_name'])['loan_id'].count()
loans_count

country_code  country_name
AF            Afghanistan      1
AL            Albania         13
AM            Armenia         41
AZ            Azerbaijan      24
BF            Burkina Faso     1
                              ..
XK            Kosovo          17
YE            Yemen           20
ZA            South Africa     1
ZM            Zambia           5
ZW            Zimbabwe        23
Name: loan_id, Length: 71, dtype: int64

`5.` For each country, compute the overall amount of money borrowed.

- One solution is based on calculation/sum using dicitionary object:

In [11]:
stat={}
for index, row in loans.iterrows(): 
    cn = row['country_name']
    cc = row['country_code']
    stat[(cc,cn)] = stat.get((cc,cn), 0) + row['loan_amount']
stat

{('PH', 'Philippines'): 441625.0,
 ('HN', 'Honduras'): 45650.0,
 ('PK', 'Pakistan'): 60975.0,
 ('KG', 'Kyrgyzstan'): 70850.0,
 ('SV', 'El Salvador'): 204875.0,
 ('BI', 'Burundi'): 38350.0,
 ('ML', 'Mali'): 35875.0,
 ('MN', 'Mongolia'): 46475.0,
 ('PE', 'Peru'): 186200.0,
 ('GE', 'Georgia'): 40925.0,
 ('AM', 'Armenia'): 78775.0,
 ('GH', 'Ghana'): 29400.0,
 ('TZ', 'Tanzania'): 40250.0,
 ('KH', 'Cambodia'): 180200.0,
 ('TG', 'Togo'): 17300.0,
 ('GT', 'Guatemala'): 56025.0,
 ('LB', 'Lebanon'): 66175.0,
 ('PY', 'Paraguay'): 240725.0,
 ('NI', 'Nicaragua'): 134150.0,
 ('KE', 'Kenya'): 257875.0,
 ('UG', 'Uganda'): 106325.0,
 ('RW', 'Rwanda'): 55950.0,
 ('MZ', 'Mozambique'): 8975.0,
 ('AZ', 'Azerbaijan'): 47600.0,
 ('IL', 'Israel'): 21500.0,
 ('TJ', 'Tajikistan'): 150300.0,
 ('BO', 'Bolivia'): 137300.0,
 ('MX', 'Mexico'): 97775.0,
 ('ID', 'Indonesia'): 18700.0,
 ('NG', 'Nigeria'): 2525.0,
 ('EC', 'Ecuador'): 118675.0,
 ('MG', 'Madagascar'): 4475.0,
 ('VN', 'Vietnam'): 77375.0,
 ('CO', 'Colombia'): 73175.0,
 ('JO', 'Jordan'): 107450.0,
 ('YE', 'Yemen'): 33375.0,
 ('IN', 'India'): 84800.0,
 ('CL', 'Chile'): 19575.0,
 ('AL', 'Albania'): 19350.0,
 ('PS', 'Palestine'): 72800.0,
 ('NP', 'Nepal'): 2475.0,
 ('SL', 'Sierra Leone'): 50225.0,
 ('US', 'United States'): 84200.0,
 ('CD', 'The Democratic Republic of the Congo'): 59400.0,
 ('CM', 'Cameroon'): 4075.0,
 ('WS', 'Samoa'): 36475.0,
 ('DO', 'Dominican Republic'): 24500.0,
 ('BJ', 'Benin'): 20925.0,
 ('LR', 'Liberia'): 20225.0,
 ('SN', 'Senegal'): 83125.0,
 ('LA', "Lao People's Democratic Republic"): 700.0,
 ('MM', 'Myanmar (Burma)'): 2875.0,
 ('IQ', 'Iraq'): 55000.0,
 ('ZW', 'Zimbabwe'): 20000.0,
 ('TH', 'Thailand'): 3850.0,
 ('BF', 'Burkina Faso'): 700.0,
 ('TL', 'Timor-Leste'): 9800.0,
 ('HT', 'Haiti'): 675.0,
 ('UA', 'Ukraine'): 18825.0,
 ('CG', 'Congo'): 6175.0,
 ('XK', 'Kosovo'): 22000.0,
 ('AF', 'Afghanistan'): 1175.0,
 ('ZA', 'South Africa'): 1700.0,
 ('SS', 'South Sudan'): 1875.0,
 ('CR', 'Costa Rica'): 6950.0,
 ('TR', 'Turkey'): 2725.0,
 ('EG', 'Egypt'): 2725.0,
 ('ZM', 'Zambia'): 13150.0,
 ('BZ', 'Belize'): 750.0,
 ('MW', 'Malawi'): 1075.0,
 ('SR', 'Suriname'): 4025.0}

- Another solution is based on panda grouping:

In [12]:
loans_sum = loans.groupby(['country_code','country_name'])['loan_amount'].sum()
loans_sum

country_code  country_name
AF            Afghanistan      1175.0
AL            Albania         19350.0
AM            Armenia         78775.0
AZ            Azerbaijan      47600.0
BF            Burkina Faso      700.0
                               ...
XK            Kosovo          22000.0
YE            Yemen           33375.0
ZA            South Africa     1700.0
ZM            Zambia          13150.0
ZW            Zimbabwe        20000.0
Name: loan_amount, Length: 71, dtype: float64

`6.` Like the previous point, but expressed as a percentage of the overall amount lent.

- One solution is based on calculation using dicitionary object:

In [13]:
stat={}
total = 0
for index, row in loans.iterrows(): 
    cn = row['country_name']
    cc = row['country_code']
    stat[(cc,cn)] = stat.get((cc,cn), 0) + row['loan_amount']
    total += row['loan_amount']
for k in stat.keys():
    stat[k] = stat[k]/total*100
stat

{('PH', 'Philippines'): 10.789631204114292,
 ('HN', 'Honduras'): 1.11530521249435,
 ('PK', 'Pakistan'): 1.4897203796679737,
 ('KG', 'Kyrgyzstan'): 1.7309830077814832,
 ('SV', 'El Salvador'): 5.005436044025849,
 ('BI', 'Burundi'): 0.9369541051294268,
 ('ML', 'Mali'): 0.8764857502351546,
 ('MN', 'Mongolia'): 1.1354613307924408,
 ('PE', 'Peru'): 4.549174820732706,
 ('GE', 'Georgia'): 0.9998656258780128,
 ('AM', 'Armenia'): 1.9246039017358694,
 ('GH', 'Ghana'): 0.7182907611683219,
 ('TZ', 'Tanzania'): 0.9833742563613931,
 ('KH', 'Cambodia'): 4.4025848694738645,
 ('TG', 'Togo'): 0.42266769279632543,
 ('GT', 'Guatemala'): 1.3687836698794298,
 ('LB', 'Lebanon'): 1.6167650040923027,
 ('PY', 'Paraguay'): 5.881311002797425,
 ('NI', 'Nicaragua'): 3.2775069935622576,
 ('KE', 'Kenya'): 6.300313946812279,
 ('UG', 'Uganda'): 2.5976960945993817,
 ('RW', 'Rwanda'): 1.3669512954886942,
 ('MZ', 'Mozambique'): 0.2192741354246833,
 ('AZ', 'Azerbaijan'): 1.1629469466534736,
 ('IL', 'Israel'): 0.5252806586775143,
 ('TJ', 'Tajikistan'): 3.6720782790339723,
 ('BO', 'Bolivia'): 3.3544667179731493,
 ('MX', 'Mexico'): 2.388805414055533,
 ('ID', 'Indonesia'): 0.45687201475672173,
 ('NG', 'Nigeria'): 0.061689937821429,
 ('EC', 'Ecuador'): 2.899427077607163,
 ('MG', 'Madagascar'): 0.1093316719805524,
 ('VN', 'Vietnam'): 1.890399579775473,
 ('CO', 'Colombia'): 1.7877866138942842,
 ('JO', 'Jordan'): 2.6251817104604145,
 ('YE', 'Yemen'): 0.8154066038773042,
 ('IN', 'India'): 2.071804644458289,
 ('CL', 'Chile'): 0.4782497159819694,
 ('AL', 'Albania'): 0.4727525928097629,
 ('PS', 'Palestine'): 1.7786247419406067,
 ('NP', 'Nepal'): 0.060468354894272,
 ('SL', 'Sierra Leone'): 1.2270800503292167,
 ('US', 'United States'): 2.057145649332405,
 ('CD', 'The Democratic Republic of the Congo'): 1.4512405174625278,
 ('CM', 'Cameroon'): 0.09955900856329632,
 ('WS', 'Samoa'): 0.8911447453610388,
 ('DO', 'Dominican Republic'): 0.598575634306935,
 ('BJ', 'Benin'): 0.5112324550152086,
 ('LR', 'Liberia'): 0.4941302940350106,
 ('SN', 'Senegal'): 2.030881616398529,
 ('LA', "Lao People's Democratic Republic"): 0.017102160980198143,
 ('MM', 'Myanmar (Burma)'): 0.07024101831152807,
 ('IQ', 'Iraq'): 1.343741219872711,
 ('ZW', 'Zimbabwe'): 0.48863317086280406,
 ('TH', 'Thailand'): 0.09406188539108978,
 ('BF', 'Burkina Faso'): 0.017102160980198143,
 ('TL', 'Timor-Leste'): 0.239430253722774,
 ('HT', 'Haiti'): 0.016491369516619635,
 ('UA', 'Ukraine'): 0.4599259720746143,
 ('CG', 'Congo'): 0.15086549150389073,
 ('XK', 'Kosovo'): 0.5374964879490844,
 ('AF', 'Afghanistan'): 0.028707198788189735,
 ('ZA', 'South Africa'): 0.04153381952333834,
 ('SS', 'South Sudan'): 0.045809359768387875,
 ('CR', 'Costa Rica'): 0.1698000268748244,
 ('TR', 'Turkey'): 0.06657626953005705,
 ('EG', 'Egypt'): 0.06657626953005705,
 ('ZM', 'Zambia'): 0.32127630984229366,
 ('BZ', 'Belize'): 0.018323743907355153,
 ('MW', 'Malawi'): 0.02626403293387572,
 ('SR', 'Suriname'): 0.0983374256361393}

- Another solution is based on panda functions:

In [14]:
loans_total = loans['loan_amount'].sum()
loans_percent = loans.groupby(['country_code','country_name'])['loan_amount'].sum()/loans_total*100
loans_percent

country_code  country_name
AF            Afghanistan     0.028707
AL            Albania         0.472753
AM            Armenia         1.924604
AZ            Azerbaijan      1.162947
BF            Burkina Faso    0.017102
                                ...
XK            Kosovo          0.537496
YE            Yemen           0.815407
ZA            South Africa    0.041534
ZM            Zambia          0.321276
ZW            Zimbabwe        0.488633
Name: loan_amount, Length: 71, dtype: float64

`7.` Like the three previous points, but split for each year (with respect to `disburse time`).

- One solution is based on calculation using dicitionary object:

In [15]:
from datetime import datetime
stat={}
total = 0
for index, row in loans.iterrows(): 
    cn = row['country_name']
    cc = row['country_code']
    y = datetime.strptime(row['disburse_time'], "%Y-%m-%d %H:%M:%S.%f %z").year
    triplet = stat.get((cc,cn,y), (0,0,0))
    stat[(cc,cn,y)] =  (triplet[0] + 1, triplet[1] + row['loan_amount'], None)
    total += row['loan_amount']
for k in stat.keys():
    triplet = stat[k]
    stat[k]= (triplet[0], triplet[1], triplet[1]/total*100)
stat

{('PH', 'Philippines', 2013): (47, 21175.0, 0.5173403696509937),
 ('HN', 'Honduras', 2013): (3, 3000.0, 0.07329497562942061),
 ('PK', 'Pakistan', 2014): (57, 25625.0, 0.6260612501679677),
 ('KG', 'Kyrgyzstan', 2014): (15, 18400.0, 0.44954251719377974),
 ('PH', 'Philippines', 2014): (340, 104625.0, 2.5561622750760438),
 ('SV', 'El Salvador', 2014): (105, 68375.0, 1.6705146528872112),
 ('BI', 'Burundi', 2014): (5, 12525.0, 0.306006523252831),
 ('ML', 'Mali', 2014): (19, 19375.0, 0.47336338427334135),
 ('MN', 'Mongolia', 2013): (3, 3200.0, 0.07818130733804864),
 ('PE', 'Peru', 2013): (25, 14975.0, 0.3658640866835245),
 ('HN', 'Honduras', 2014): (29, 27475.0, 0.671259818472777),
 ('PH', 'Philippines', 2015): (88, 26600.0, 0.6498821172475294),
 ('PK', 'Pakistan', 2015): (6, 2500.0, 0.06107914635785051),
 ('GE', 'Georgia', 2015): (2, 1950.0, 0.04764173415912339),
 ('SV', 'El Salvador', 2015): (17, 7575.0, 0.18506981346428703),
 ('AM', 'Armenia', 2015): (6, 8350.0, 0.20400434883522067),
 ('KG', 'Kyrgyzstan', 2015): (6, 8800.0, 0.21499859517963377),
 ('GH', 'Ghana', 2015): (4, 3400.0, 0.08306763904667668),
 ('TZ', 'Tanzania', 2015): (2, 1225.0, 0.02992878171534675),
 ('KH', 'Cambodia', 2015): (11, 9100.0, 0.22232809274257584),
 ('TG', 'Togo', 2012): (16, 13625.0, 0.3328813476502852),
 ('GT', 'Guatemala', 2012): (3, 4450.0, 0.10872088051697389),
 ('LB', 'Lebanon', 2012): (16, 27200.0, 0.6645411123734134),
 ('PY', 'Paraguay', 2012): (24, 57475.0, 1.404209574766983),
 ('NI', 'Nicaragua', 2012): (50, 42900.0, 1.0481181515007145),
 ('KE', 'Kenya', 2012): (131, 53300.0, 1.3022074003493729),
 ('UG', 'Uganda', 2012): (47, 31725.0, 0.7750943672811229),
 ('RW', 'Rwanda', 2012): (25, 20600.0, 0.5032921659886881),
 ('PH', 'Philippines', 2012): (210, 74375.0, 1.8171046041460526),
 ('MZ', 'Mozambique', 2012): (8, 4700.0, 0.11482879515275894),
 ('AZ', 'Azerbaijan', 2012): (9, 16250.0, 0.39701445132602825),
 ('IL', 'Israel', 2012): (3, 11875.0, 0.2901259451997899),
 ('TJ', 'Tajikistan', 2012): (34, 45300.0, 1.106754132004251),
 ('BO', 'Bolivia', 2012): (21, 35925.0, 0.8777073331623118),
 ('MX', 'Mexico', 2012): (18, 46500.0, 1.1360721222560193),
 ('KH', 'Cambodia', 2012): (47, 37225.0, 0.909468489268394),
 ('HN', 'Honduras', 2012): (12, 10375.0, 0.25347845738507957),
 ('PH', 'Philippines', 2016): (95, 27725.0, 0.677367733108562),
 ('KH', 'Cambodia', 2016): (32, 18200.0, 0.4446561854851517),
 ('SV', 'El Salvador', 2016): (35, 26350.0, 0.6437742026117443),
 ('ID', 'Indonesia', 2016): (4, 4125.0, 0.10078059149045333),
 ('NG', 'Nigeria', 2016): (7, 1775.0, 0.043366193914073856),
 ('MX', 'Mexico', 2010): (12, 27025.0, 0.6602655721283639),
 ('PH', 'Philippines', 2010): (62, 22125.0, 0.5405504452669769),
 ('EC', 'Ecuador', 2010): (32, 27625.0, 0.6749245672542481),
 ('MG', 'Madagascar', 2016): (3, 1425.0, 0.03481511342397478),
 ('PE', 'Peru', 2010): (39, 19025.0, 0.46481230378324234),
 ('TJ', 'Tajikistan', 2015): (6, 7025.0, 0.17163240126555993),
 ('NI', 'Nicaragua', 2016): (5, 4375.0, 0.10688850612623838),
 ('BO', 'Bolivia', 2016): (5, 9700.0, 0.23698708786845996),
 ('VN', 'Vietnam', 2016): (8, 16800.0, 0.4104518635247554),
 ('KE', 'Kenya', 2014): (151, 143700.0, 3.510829332649247),
 ('CO', 'Colombia', 2013): (11, 10100.0, 0.246759751285716),
 ('NI', 'Nicaragua', 2014): (49, 38500.0, 0.9406188539108977),
 ('JO', 'Jordan', 2013): (2, 2075.0, 0.050695691477015914),
 ('YE', 'Yemen', 2014): (9, 24775.0, 0.6052943404062985),
 ('BO', 'Bolivia', 2013): (11, 22175.0, 0.541772028194134),
 ('KE', 'Kenya', 2015): (28, 8875.0, 0.2168309695703693),
 ('UG', 'Uganda', 2015): (9, 7725.0, 0.18873456224575808),
 ('MG', 'Madagascar', 2015): (2, 300.0, 0.00732949756294206),
 ('NG', 'Nigeria', 2015): (6, 750.0, 0.018323743907355153),
 ('JO', 'Jordan', 2015): (4, 4775.0, 0.11666116954349445),
 ('ID', 'Indonesia', 2015): (1, 275.0, 0.006718706099363555),
 ('IN', 'India', 2015): (3, 2225.0, 0.05436044025848694),
 ('CL', 'Chile', 2012): (5, 16250.0, 0.39701445132602825),
 ('ID', 'Indonesia', 2012): (6, 5200.0, 0.12704462442432904),
 ('PK', 'Pakistan', 2012): (13, 17925.0, 0.43793747938578814),
 ('EC', 'Ecuador', 2012): (39, 40575.0, 0.9913145453879137),
 ('SV', 'El Salvador', 2012): (61, 37150.0, 0.9076361148776585),
 ('BI', 'Burundi', 2012): (6, 22250.0, 0.5436044025848695),
 ('PE', 'Peru', 2012): (93, 77175.0, 1.885513248066845),
 ('TJ', 'Tajikistan', 2016): (17, 16100.0, 0.3933497025445572),
 ('AL', 'Albania', 2016): (3, 4525.0, 0.11055325490770941),
 ('UG', 'Uganda', 2010): (16, 11950.0, 0.29195831959052543),
 ('KH', 'Cambodia', 2010): (22, 18400.0, 0.44954251719377974),
 ('BO', 'Bolivia', 2010): (14, 13475.0, 0.3292165988688142),
 ('KE', 'Kenya', 2016): (16, 5925.0, 0.1447575768681057),
 ('KE', 'Kenya', 2013): (36, 19575.0, 0.4782497159819694),
 ('PS', 'Palestine', 2013): (8, 10975.0, 0.2681374525109637),
 ('PY', 'Paraguay', 2013): (7, 21200.0, 0.5179511611145723),
 ('AL', 'Albania', 2014): (6, 11300.0, 0.27607774153748427),
 ('TJ', 'Tajikistan', 2014): (33, 33250.0, 0.8123526465594116),
 ('AZ', 'Azerbaijan', 2014): (8, 17075.0, 0.4171705696241189),
 ('NP', 'Nepal', 2013): (1, 300.0, 0.00732949756294206),
 ('SL', 'Sierra Leone', 2014): (36, 24300.0, 0.5936893025983069),
 ('EC', 'Ecuador', 2014): (20, 23975.0, 0.5857490135717863),
 ('JO', 'Jordan', 2014): (23, 25350.0, 0.6193425440686041),
 ('US', 'United States', 2013): (1, 2250.0, 0.05497123172206545),
 ('LB', 'Lebanon', 2015): (3, 3575.0, 0.08734317929172622),
 ('EC', 'Ecuador', 2015): (4, 4800.0, 0.11727196100707296),
 ('CD', 'The Democratic Republic of the Congo', 2015): (2,
  10450.0,
  0.2553108317758151),
 ('CM', 'Cameroon', 2015): (2, 875.0, 0.021377701225247677),
 ('WS', 'Samoa', 2015): (2, 1425.0, 0.03481511342397478),
 ('BO', 'Bolivia', 2015): (5, 15450.0, 0.37746912449151615),
 ('AM', 'Armenia', 2012): (10, 23625.0, 0.5771979330816872),
 ('GH', 'Ghana', 2012): (17, 5525.0, 0.13498491345084962),
 ('DO', 'Dominican Republic', 2012): (6, 11825.0, 0.2889043622726329),
 ('BJ', 'Benin', 2012): (18, 12175.0, 0.29745544276273195),
 ('JO', 'Jordan', 2012): (31, 32650.0, 0.7976936514335277),
 ('CO', 'Colombia', 2016): (16, 7775.0, 0.18995614517291506),
 ('PK', 'Pakistan', 2016): (14, 4950.0, 0.120936709788544),
 ('NP', 'Nepal', 2016): (1, 475.0, 0.011605037807991596),
 ('WS', 'Samoa', 2016): (9, 7700.0, 0.18812377078217957),
 ('GE', 'Georgia', 2016): (1, 3000.0, 0.07329497562942061),
 ('PE', 'Peru', 2016): (8, 4650.0, 0.11360721222560194),
 ('KE', 'Kenya', 2010): (33, 15825.0, 0.38663099644519366),
 ('PK', 'Pakistan', 2010): (5, 4350.0, 0.10627771466265987),
 ('NI', 'Nicaragua', 2010): (17, 9875.0, 0.2412626281135095),
 ('JO', 'Jordan', 2016): (13, 14350.0, 0.3505943000940619),
 ('IN', 'India', 2016): (51, 15150.0, 0.37013962692857405),
 ('PK', 'Pakistan', 2013): (15, 5625.0, 0.13742807930516363),
 ('SV', 'El Salvador', 2013): (18, 9225.0, 0.22538205006046838),
 ('IN', 'India', 2013): (3, 6000.0, 0.14658995125884122),
 ('LR', 'Liberia', 2014): (43, 10450.0, 0.2553108317758151),
 ('CO', 'Colombia', 2014): (34, 28875.0, 0.7054641404331733),
 ('PS', 'Palestine', 2014): (16, 25975.0, 0.6346123306580668),
 ('UG', 'Uganda', 2013): (10, 10250.0, 0.25042450006718703),
 ('KH', 'Cambodia', 2014): (47, 37575.0, 0.9180195697584931),
 ('MZ', 'Mozambique', 2015): (2, 850.0, 0.02076690976166917),
 ('PE', 'Peru', 2015): (6, 21225.0, 0.5185619525781507),
 ('SN', 'Senegal', 2015): (4, 6450.0, 0.1575841976032543),
 ('GT', 'Guatemala', 2015): (2, 3700.0, 0.09039713660961875),
 ('CO', 'Colombia', 2015): (11, 5725.0, 0.13987124515947763),
 ('LA', "Lao People's Democratic Republic", 2015): (2,
  700.0,
  0.017102160980198143),
 ('MX', 'Mexico', 2015): (2, 6400.0, 0.15636261467609727),
 ('VN', 'Vietnam', 2012): (17, 9725.0, 0.23759787933203846),
 ('SL', 'Sierra Leone', 2012): (16, 18850.0, 0.4605367635381928),
 ('NP', 'Nepal', 2012): (2, 750.0, 0.018323743907355153),
 ('KG', 'Kyrgyzstan', 2012): (25, 39150.0, 0.9564994319639388),
 ('WS', 'Samoa', 2012): (12, 7825.0, 0.19117772810007205),
 ('PS', 'Palestine', 2012): (12, 23200.0, 0.5668144782008526),
 ('CO', 'Colombia', 2012): (24, 19750.0, 0.482525256227019),
 ('AM', 'Armenia', 2016): (3, 3075.0, 0.07512735002015612),
 ('MM', 'Myanmar (Burma)', 2016): (2, 2875.0, 0.07024101831152807),
 ('EC', 'Ecuador', 2016): (3, 2400.0, 0.05863598050353648),
 ('BJ', 'Benin', 2010): (2, 900.0, 0.021988492688826182),
 ('TG', 'Togo', 2016): (2, 325.0, 0.007940289026520565),
 ('WS', 'Samoa', 2013): (6, 5250.0, 0.12826620735148606),
 ('PE', 'Peru', 2014): (46, 49150.0, 1.2008160173953408),
 ('IQ', 'Iraq', 2014): (8, 18900.0, 0.46175834646534974),
 ('GE', 'Georgia', 2013): (8, 16425.0, 0.4012899915710778),
 ('UG', 'Uganda', 2014): (48, 42425.0, 1.036513113692723),
 ('ZW', 'Zimbabwe', 2015): (4, 5550.0, 0.13559570491442813),
 ('NI', 'Nicaragua', 2015): (2, 2775.0, 0.06779785245721406),
 ('US', 'United States', 2012): (3, 23000.0, 0.5619281464922246),
 ('RW', 'Rwanda', 2016): (4, 13200.0, 0.3224978927694507),
 ('TG', 'Togo', 2010): (4, 2075.0, 0.050695691477015914),
 ('TJ', 'Tajikistan', 2013): (12, 13675.0, 0.3341029305774422),
 ('KH', 'Cambodia', 2013): (17, 11075.0, 0.27058061836527775),
 ('AM', 'Armenia', 2013): (8, 16900.0, 0.4128950293790694),
 ('IN', 'India', 2014): (22, 17025.0, 0.4159489866969619),
 ('LB', 'Lebanon', 2014): (8, 11800.0, 0.2882935708090544),
 ('TH', 'Thailand', 2015): (1, 1000.0, 0.024431658543140198),
 ('HN', 'Honduras', 2015): (3, 1450.0, 0.03542590488755329),
 ('ML', 'Mali', 2012): (6, 4475.0, 0.1093316719805524),
 ('GE', 'Georgia', 2012): (12, 9550.0, 0.2333223390869889),
 ('BF', 'Burkina Faso', 2016): (1, 700.0, 0.017102160980198143),
 ('GT', 'Guatemala', 2016): (5, 7925.0, 0.1936208939543861),
 ('RW', 'Rwanda', 2010): (11, 11675.0, 0.28523961349116184),
 ('SN', 'Senegal', 2013): (7, 9000.0, 0.2198849268882618),
 ('YE', 'Yemen', 2013): (2, 1850.0, 0.045198568304809374),
 ('LR', 'Liberia', 2013): (13, 3200.0, 0.07818130733804864),
 ('NI', 'Nicaragua', 2013): (18, 20050.0, 0.489854753789961),
 ('AM', 'Armenia', 2014): (13, 23825.0, 0.5820842647903153),
 ('MX', 'Mexico', 2014): (7, 7725.0, 0.18873456224575808),
 ('SN', 'Senegal', 2012): (16, 22400.0, 0.5472691513663406),
 ('MZ', 'Mozambique', 2016): (1, 150.0, 0.00366474878147103),
 ('TL', 'Timor-Leste', 2016): (1, 800.0, 0.01954532683451216),
 ('HT', 'Haiti', 2016): (2, 375.0, 0.009161871953677576),
 ('GH', 'Ghana', 2016): (2, 2275.0, 0.05558202318564396),
 ('TH', 'Thailand', 2016): (1, 2850.0, 0.06963022684794956),
 ('CD', 'The Democratic Republic of the Congo', 2013): (1,
  9600.0,
  0.23454392201414592),
 ('LR', 'Liberia', 2012): (9, 4250.0, 0.10383454880834586),
 ('SL', 'Sierra Leone', 2013): (8, 3950.0, 0.09650505124540379),
 ('UA', 'Ukraine', 2013): (2, 4150.0, 0.10139138295403183),
 ('GT', 'Guatemala', 2014): (14, 27350.0, 0.6682058611548845),
 ('GE', 'Georgia', 2014): (6, 10000.0, 0.24431658543140203),
 ('RW', 'Rwanda', 2013): (7, 6600.0, 0.16124894638472534),
 ('PH', 'Philippines', 2017): (552, 165000.0, 4.031223659618133),
 ('KH', 'Cambodia', 2017): (44, 48625.0, 1.1879893966601922),
 ('SV', 'El Salvador', 2017): (66, 42325.0, 1.034069947838409),
 ('IN', 'India', 2017): (138, 44400.0, 1.084765639315425),
 ('PY', 'Paraguay', 2017): (44, 97300.0, 2.3772003762475418),
 ('SL', 'Sierra Leone', 2010): (2, 1450.0, 0.03542590488755329),
 ('CG', 'Congo', 2010): (4, 2475.0, 0.060468354894272),
 ('WS', 'Samoa', 2014): (19, 14275.0, 0.34876192570332637),
 ('VN', 'Vietnam', 2014): (20, 23125.0, 0.5649821038101172),
 ('PY', 'Paraguay', 2014): (20, 51600.0, 1.2606735808260343),
 ('IQ', 'Iraq', 2012): (12, 30700.0, 0.7500519172744042),
 ('VN', 'Vietnam', 2013): (3, 1900.0, 0.04642015123196638),
 ('MG', 'Madagascar', 2017): (9, 2750.0, 0.06718706099363556),
 ('NI', 'Nicaragua', 2017): (18, 15675.0, 0.3829662476637226),
 ('JO', 'Jordan', 2017): (23, 27100.0, 0.6620979465190994),
 ('US', 'United States', 2016): (6, 35500.0, 0.8673238782814772),
 ('SN', 'Senegal', 2014): (12, 34200.0, 0.835562722175395),
 ('MN', 'Mongolia', 2014): (5, 9100.0, 0.22232809274257584),
 ('BO', 'Bolivia', 2014): (18, 35625.0, 0.8703778355993697),
 ('XK', 'Kosovo', 2016): (3, 4650.0, 0.11360721222560194),
 ('UG', 'Uganda', 2016): (2, 2250.0, 0.05497123172206545),
 ('RW', 'Rwanda', 2014): (4, 3875.0, 0.09467267685466828),
 ('GH', 'Ghana', 2014): (9, 13725.0, 0.33532451350459924),
 ('TJ', 'Tajikistan', 2017): (44, 24975.0, 0.6101806721149264),
 ('AF', 'Afghanistan', 2010): (1, 1175.0, 0.028707198788189735),
 ('SV', 'El Salvador', 2010): (21, 13875.0, 0.3389892622860703),
 ('ZA', 'South Africa', 2014): (1, 1700.0, 0.04153381952333834),
 ('SS', 'South Sudan', 2012): (2, 1875.0, 0.045809359768387875),
 ('MN', 'Mongolia', 2012): (13, 24925.0, 0.6089590891877694),
 ('TZ', 'Tanzania', 2014): (11, 16975.0, 0.4147274037698049),
 ('KE', 'Kenya', 2017): (24, 10675.0, 0.26080795494802167),
 ('SL', 'Sierra Leone', 2016): (1, 450.0, 0.010994246344413091),
 ('ML', 'Mali', 2013): (4, 6625.0, 0.16185973784830385),
 ('CD', 'The Democratic Republic of the Congo', 2014): (11,
  27200.0,
  0.6645411123734134),
 ('ZW', 'Zimbabwe', 2016): (1, 1250.0, 0.030539573178925253),
 ('PS', 'Palestine', 2016): (4, 4200.0, 0.10261296588118884),
 ('MX', 'Mexico', 2016): (2, 825.0, 0.020156118298090667),
 ('CR', 'Costa Rica', 2013): (1, 825.0, 0.020156118298090667),
 ('TZ', 'Tanzania', 2016): (3, 1950.0, 0.04764173415912339),
 ('CM', 'Cameroon', 2016): (2, 350.0, 0.008551080490099072),
 ('HN', 'Honduras', 2010): (4, 3075.0, 0.07512735002015612),
 ('EC', 'Ecuador', 2013): (9, 19300.0, 0.4715310098826059),
 ('IL', 'Israel', 2016): (1, 5300.0, 0.12948779027864307),
 ('XK', 'Kosovo', 2014): (10, 14575.0, 0.3560914232662684),
 ('CD', 'The Democratic Republic of the Congo', 2012): (3,
  10250.0,
  0.25042450006718703),
 ('LB', 'Lebanon', 2016): (3, 5100.0, 0.12460145857001502),
 ('PS', 'Palestine', 2015): (2, 2200.0, 0.05374964879490844),
 ('HT', 'Haiti', 2015): (1, 300.0, 0.00732949756294206),
 ('VN', 'Vietnam', 2015): (2, 3150.0, 0.07695972441089163),
 ('UA', 'Ukraine', 2012): (4, 7800.0, 0.19056693663649357),
 ('XK', 'Kosovo', 2017): (3, 2150.0, 0.05252806586775144),
 ('TG', 'Togo', 2015): (1, 125.0, 0.0030539573178925247),
 ('ID', 'Indonesia', 2013): (2, 1900.0, 0.04642015123196638),
 ('AL', 'Albania', 2015): (1, 825.0, 0.020156118298090667),
 ('TR', 'Turkey', 2015): (1, 625.0, 0.015269786589462627),
 ('ID', 'Indonesia', 2014): (9, 7200.0, 0.17590794151060946),
 ('IL', 'Israel', 2014): (1, 1725.0, 0.042144610986916846),
 ('ZW', 'Zimbabwe', 2012): (1, 1200.0, 0.02931799025176824),
 ('PY', 'Paraguay', 2016): (2, 1550.0, 0.03786907074186731),
 ('VN', 'Vietnam', 2017): (9, 21350.0, 0.5216159098960433),
 ('CM', 'Cameroon', 2014): (3, 1925.0, 0.04703094269554489),
 ('SL', 'Sierra Leone', 2015): (1, 1225.0, 0.02992878171534675),
 ('EG', 'Egypt', 2015): (1, 1925.0, 0.04703094269554489),
 ('BI', 'Burundi', 2015): (1, 3575.0, 0.08734317929172622),
 ('IL', 'Israel', 2015): (1, 2600.0, 0.06352231221216452),
 ('ML', 'Mali', 2015): (1, 1150.0, 0.028096407324611234),
 ('PY', 'Paraguay', 2010): (5, 11600.0, 0.2834072391004263),
 ('NP', 'Nepal', 2010): (3, 950.0, 0.02321007561598319),
 ('GH', 'Ghana', 2010): (3, 1000.0, 0.024431658543140198),
 ('TJ', 'Tajikistan', 2010): (7, 9975.0, 0.24370579396782352),
 ('YE', 'Yemen', 2012): (9, 6750.0, 0.16491369516619636),
 ('LB', 'Lebanon', 2010): (12, 17400.0, 0.42511085865063947),
 ('SN', 'Senegal', 2010): (2, 6150.0, 0.15025470004031224),
 ('AZ', 'Azerbaijan', 2010): (2, 5050.0, 0.123379875642858),
 ('KG', 'Kyrgyzstan', 2010): (5, 4500.0, 0.1099424634441309),
 ('VN', 'Vietnam', 2010): (1, 1325.0, 0.03237194756966077),
 ('MN', 'Mongolia', 2010): (7, 9250.0, 0.2259928415240469),
 ('DO', 'Dominican Republic', 2010): (3, 6000.0, 0.14658995125884122),
 ('US', 'United States', 2014): (4, 23450.0, 0.5729223928366377),
 ('PS', 'Palestine', 2010): (5, 6250.0, 0.15269786589462625),
 ('LR', 'Liberia', 2010): (3, 2325.0, 0.05680360611280097),
 ('CD', 'The Democratic Republic of the Congo', 2010): (1,
  1900.0,
  0.04642015123196638),
 ('TL', 'Timor-Leste', 2014): (5, 3600.0, 0.08795397075530473),
 ('CM', 'Cameroon', 2010): (1, 625.0, 0.015269786589462627),
 ('AM', 'Armenia', 2010): (1, 3000.0, 0.07329497562942061),
 ('CR', 'Costa Rica', 2010): (1, 700.0, 0.017102160980198143),
 ('SN', 'Senegal', 2016): (1, 4925.0, 0.1203259183249655),
 ('TG', 'Togo', 2014): (2, 350.0, 0.008551080490099072),
 ('EG', 'Egypt', 2016): (1, 800.0, 0.01954532683451216),
 ('TL', 'Timor-Leste', 2012): (1, 800.0, 0.01954532683451216),
 ('CL', 'Chile', 2010): (1, 3325.0, 0.08123526465594118),
 ('ML', 'Mali', 2010): (3, 4250.0, 0.10383454880834586),
 ('HN', 'Honduras', 2016): (1, 275.0, 0.006718706099363555),
 ('ZM', 'Zambia', 2014): (2, 5200.0, 0.12704462442432904),
 ('BO', 'Bolivia', 2017): (1, 4950.0, 0.120936709788544),
 ('JO', 'Jordan', 2010): (1, 1150.0, 0.028096407324611234),
 ('GT', 'Guatemala', 2010): (1, 525.0, 0.012826620735148606),
 ('TZ', 'Tanzania', 2012): (3, 12150.0, 0.29684465129915344),
 ('GT', 'Guatemala', 2017): (2, 2200.0, 0.05374964879490844),
 ('UA', 'Ukraine', 2014): (2, 4975.0, 0.1215475012521225),
 ('BJ', 'Benin', 2014): (7, 7850.0, 0.19178851956365056),
 ('AL', 'Albania', 2012): (2, 1750.0, 0.042755402450495354),
 ('MZ', 'Mozambique', 2014): (3, 2575.0, 0.06291152074858601),
 ('ZW', 'Zimbabwe', 2014): (16, 8000.0, 0.19545326834512158),
 ('TR', 'Turkey', 2017): (4, 1725.0, 0.042144610986916846),
 ('TR', 'Turkey', 2014): (1, 375.0, 0.009161871953677576),
 ('CO', 'Colombia', 2010): (2, 950.0, 0.02321007561598319),
 ('MX', 'Mexico', 2017): (2, 1400.0, 0.034204321960396286),
 ('CR', 'Costa Rica', 2014): (3, 5425.0, 0.1325417475965356),
 ('ZM', 'Zambia', 2012): (1, 5000.0, 0.12215829271570101),
 ('UA', 'Ukraine', 2010): (1, 1900.0, 0.04642015123196638),
 ('AZ', 'Azerbaijan', 2013): (5, 9225.0, 0.22538205006046838),
 ('TL', 'Timor-Leste', 2013): (5, 4600.0, 0.11238562929844494),
 ('GH', 'Ghana', 2013): (7, 3475.0, 0.0849000134374122),
 ('ZW', 'Zimbabwe', 2013): (1, 4000.0, 0.09772663417256079),
 ('TZ', 'Tanzania', 2013): (2, 7950.0, 0.1942316854179646),
 ('ZM', 'Zambia', 2013): (2, 2950.0, 0.0720733927022636),
 ('DO', 'Dominican Republic', 2014): (1, 6675.0, 0.16308132077546084),
 ('XK', 'Kosovo', 2012): (1, 625.0, 0.015269786589462627),
 ('BZ', 'Belize', 2014): (1, 750.0, 0.018323743907355153),
 ('MW', 'Malawi', 2017): (1, 1075.0, 0.02626403293387572),
 ('GT', 'Guatemala', 2013): (4, 9875.0, 0.2412626281135095),
 ('CG', 'Congo', 2013): (1, 3700.0, 0.09039713660961875),
 ('IQ', 'Iraq', 2013): (2, 5400.0, 0.13193095613295708),
 ('MX', 'Mexico', 2013): (3, 7900.0, 0.19301010249080758),
 ('CM', 'Cameroon', 2012): (1, 300.0, 0.00732949756294206),
 ('SR', 'Suriname', 2014): (2, 4025.0, 0.0983374256361393),
 ('TG', 'Togo', 2013): (1, 800.0, 0.01954532683451216),
 ('LB', 'Lebanon', 2013): (1, 1100.0, 0.02687482439745422),
 ('AL', 'Albania', 2013): (1, 950.0, 0.02321007561598319),
 ('MZ', 'Mozambique', 2013): (1, 700.0, 0.017102160980198143)}

- Another solution is based on panda functions:

In [16]:
from datetime import datetime
loans_total = loans['loan_amount'].sum()
loans['disburse_time_year'] = None
for index, row in loans.iterrows(): 
    y = datetime.strptime(row['disburse_time'], "%Y-%m-%d %H:%M:%S.%f %z").year
    loans.loc[index,'disburse_time_year'] = y 
loans_agg = loans.groupby(['country_code','country_name','disburse_time_year']).agg({'loan_amount':['count', 'sum', lambda x: x.sum()/total*100]})
loans_agg

                                             loan_amount
                                                   count      sum <lambda_0>
country_code country_name disburse_time_year
AF           Afghanistan  2010                         1   1175.0   0.028707
AL           Albania      2012                         2   1750.0   0.042755
                          2013                         1    950.0   0.023210
                          2014                         6  11300.0   0.276078
                          2015                         1    825.0   0.020156
...                                                  ...      ...        ...
ZW           Zimbabwe     2012                         1   1200.0   0.029318
                          2013                         1   4000.0   0.097727
                          2014                        16   8000.0   0.195453
                          2015                         4   5550.0   0.135596
                          2016                         1   1250.0   0.030540

[309 rows x 3 columns]

`8.` For each lender, compute the overall amount of money lent. For each loan that has more than one lender, you must assume that all lenders contributed the same amount.

- One solution is based on calculation using dicitionary objects:

In [17]:
loan_ids_by_lender = {}
number_of_lenders_by_loan_id = {}
for index, row in loans_lender.iterrows(): 
    loanId = row['loan_id']
    lender = row['lender']
    s = loan_ids_by_lender.get(lender,set())
    s.add(loanId)
    loan_ids_by_lender[lender] = s 
    number_of_lenders_by_loan_id[loanId] = number_of_lenders_by_loan_id.get(loanId, 0) + 1
amount_by_loan_id = {}
for index, row in loans.iterrows(): 
    loanId = row['loan_id']
    amount = row['loan_amount']
    amount_by_loan_id[loanId] = amount
#(loan_ids_by_lender, number_of_lenders_by_loan_id, amount_by_loan_id)  
money_lent = {}
for lender in loan_ids_by_lender:
    s = loan_ids_by_lender[lender]
    amm = 0
    for loanId in s:
        amm += amount_by_loan_id.get(loanId,0) / number_of_lenders_by_loan_id.get(loanId,1)
    money_lent[lender] = amm
money_lent

{'muc888': 0.0,
 'sam4326': 0.0,
 'camaran3922': 0.0,
 'lachheb1865': 0.0,
 'rebecca3499': 56.11635220125786,
 'karlheinz4543': 0.0,
 'jerrydb': 0.0,
 'paula8951': 0.0,
 'gmct': 299.15509624221056,
 'amra9383': 0.0,
 'r3922': 39.94082840236686,
 'brian9451': 0.0,
 'shree8053': 0.0,
 'alan5513': 0.0,
 'oisin3389': 0.0,
 'helle8622': 0.0,
 'bo3186': 53.55750487329435,
 'ric8947': 0.0,
 'daniel98469874': 119.14033526183059,
 'nick9464': 0.0,
 'deborah12671549': 0.0,
 'matthew9831': 0.0,
 'john6330': 0.0,
 'john9479': 0.0,
 'mattiaslaven': 66.77886576907385,
 'jonathan2867': 0.0,
 'jason3883': 0.0,
 'highgrovechurch': 571.3255214043226,
 'maria3124': 0.0,
 'dino5102': 67.85714285714286,
 'jonathan7946': 28.571428571428573,
 'ann8187': 0.0,
 'bryan2669': 0.0,
 'john88459657': 0.0,
 'eddyphil': 0.0,
 'don9212': 136.39866574649184,
 'carolineandcolin9686': 0.0,
 'bent8782': 0.0,
 'raph8817': 0.0,
 'danielle2350': 0.0,
 'nora3555': 0.0,
 'williammanashi': 0.0,
 'barbara5610': 258.04851317753645,
 'danhostetler': 0.0,
 'daniel1104': 0.0,
 'amirali5409': 355.6573854376378,
 'oceanwest': 0.0,
 'greg69396003': 0.0,
 'trolltech4460': 1474.5660586958877,
 'thedragonflykeeper': 0.0,
 'patrick8466': 0.0,
 'priscilla3168': 0.0,
 'terrystl': 61.70634920634921,
 'richardandsusan8352': 0.0,
 'sherri4341': 0.0,
 'gooddogg1': 1251.523705536277,
 'danny6470': 39.81481481481482,
 'jacqueline4838': 0.0,
 'diederik8163': 0.0,
 'ryan54597608': 0.0,
 'james5068': 0.0,
 'rudi5955': 0.0,
 'daniel9859': 0.0,
 'chandrakant6134': 0.0,
 'karyne5301': 0.0,
 'robert2280': 39.173228346456696,
 'darrellynne7000': 0.0,
 'bryan9912': 0.0,
 'sueandbob4088': 51.13636363636363,
 'pennie4480': 0.0,
 'niki3008': 0.0,
 'teresa9174': 0.0,
 'mike4896': 69.65803950987747,
 'david7683': 59.1271048894299,
 'dittes': 73.23383084577114,
 'margaret7172': 0.0,
 'jessica1977': 0.0,
 'william7288': 0.0,
 'dennisg': 0.0,
 'chrisbioteau': 0.0,
 'victor9593': 0.0,
 'peter3881': 0.0,
 'andrew8575': 114.45166993858854,
 'stephen2848': 26.666666666666668,
 'douglas8863': 0.0,
 'arthur1148': 0.0,
 'tristan7990': 0.0,
 'shivaun4955': 0.0,
 'sam44598568': 0.0,
 'catherine7003': 0.0,
 'summer7416': 0.0,
 'jim8842': 0.0,
 'brett5260': 30.510752688172044,
 'roger2252': 0.0,
 'jolanda1942': 0.0,
 'anila7468': 0.0,
 'elizabeth31676552': 0.0,
 'john38425073': 0.0,
 'marianne8717': 0.0,
 'lisette1963': 45.833333333333336,
 'motoharu1020': 0.0,
 'elly3162': 0.0,
 'lena9976': 39.14728682170543,
 'omkara': 0.0,
 'dougal1825': 0.0,
 'jensdamsgaardvanar': 312.3263888888889,
 'maeve9455': 0.0,
 'ross6632': 0.0,
 'toni3909': 0.0,
 'ali3337': 0.0,
 'eric4693': 0.0,
 'martsrinandpete9620': 149.63743511427307,
 'hans7879': 0.0,
 'wonmilee': 0.0,
 'thomas93758238': 0.0,
 'thomas1513': 0.0,
 'emofund': 152.32194606984342,
 'phisquared': 0.0,
 'nealkapur': 0.0,
 'vic5854': 0.0,
 'christian8925': 0.0,
 'minerva9365': 0.0,
 'rebecca3038': 42.1875,
 'paul1853': 0.0,
 'zach7677': 0.0,
 'dana9865': 162.9819031462411,
 'ankit3005': 0.0,
 'erich7889': 0.0,
 'judith5696': 39.14728682170543,
 'klaus5005': 0.0,
 'john70242429': 0.0,
 'terry9343': 0.0,
 'karly7529': 0.0,
 'donna1305': 0.0,
 'jodi8604': 0.0,
 'jitendra7163': 0.0,
 'leon2765': 0.0,
 'elizabeth8018': 0.0,
 'ramius65': 0.0,
 'kevin25138119': 0.0,
 'larissa7348': 0.0,
 'evan5101': 0.0,
 'vesa6130': 0.0,
 'mortens2943': 0.0,
 'corinne3582': 0.0,
 'zane9551': 28.61635220125786,
 'christine3066': 0.0,
 'brett2942': 0.0,
 'karen1474': 0.0,
 'gw9898': 0.0,
 'maria1361': 0.0,
 'ashleyleah5650': 62.5,
 'anne85489799': 0.0,
 'robert7675': 0.0,
 'vijay6109': 0.0,
 'harald8041': 34.57446808510638,
 'ken4292': 0.0,
 'alexander7609': 0.0,
 'rc4114': 0.0,
 'bernadette6835': 30.0,
 'jean2544': 30.0,
 'geko': 30.0,
 'lynn9800': 30.0,
 'brad4706': 30.0,
 'thomas9243': 0.0,
 'john56443992': 0.0,
 'karen84738084': 0.0,
 'steve2888': 0.0,
 'gayle9959': 27.77777777777778,
 'melinda8816': 0.0,
 'karen1024': 0.0,
 'mbc1842': 32.5,
 'herta6220': 0.0,
 'kaleddis': 0.0,
 'cruisecompete': 0.0,
 'ashna3311': 0.0,
 'wesley2313': 0.0,
 'juan6929': 0.0,
 'thomas7482': 0.0,
 'dnak17': 0.0,
 'tom7497': 0.0,
 'morten9659': 0.0,
 'sverker1303': 0.0,
 'kenanddoris2463': 0.0,
 'jennifer12256404': 0.0,
 'jude': 0.0,
 'marianne8308': 0.0,
 'aaronplaat': 0.0,
 'hollito': 0.0,
 'roger9399': 0.0,
 'jenjh': 0.0,
 'bob6818': 0.0,
 'mmm2529': 0.0,
 'jultomten': 0.0,
 'aaron83574977': 39.14728682170543,
 'minoa': 0.0,
 'donald1176': 0.0,
 'henrik8047': 0.0,
 'david5193': 32.377049180327866,
 'tippsnet': 0.0,
 'tiffanyww': 0.0,
 'tom2508': 0.0,
 'sachin9747': 0.0,
 'chris2963': 0.0,
 'srenchr1931': 90.80847042785885,
 'eva5758': 0.0,
 'lukas3902': 0.0,
 'peter8627': 0.0,
 'katherine6420': 0.0,
 'russayres': 0.0,
 'joseph8886': 36.666666666666664,
 'jenny1824': 0.0,
 'jivan3702': 69.7610294117647,
 'elizabeth6786': 0.0,
 'steve2304': 30.0,
 'yousaf9433': 0.0,
 'anne3221': 0.0,
 'pgodiwala': 65.13859275053305,
 'karen27277399': 0.0,
 'dale2883': 0.0,
 'theo8546': 0.0,
 'joannagiles7076': 0.0,
 'mark4564': 0.0,
 'nicki2616': 0.0,
 'FrequentMiler': 88.2936507936508,
 'katie52857580': 0.0,
 'sara7523': 0.0,
 'brent8569': 0.0,
 'reetajaroope6400': 0.0,
 'anna3370': 0.0,
 'robert82472438': 0.0,
 'lloyd5595': 30.0,
 'peter3943': 0.0,
 'oliver5716': 0.0,
 'pureum8105': 0.0,
 'lisa4011': 0.0,
 'ryan': 0.0,
 'davidberkowitz': 0.0,
 'Verdad': 0.0,
 'evan7711': 0.0,
 'kate8576': 0.0,
 'cesarpwm11': 0.0,
 'tammy8086': 0.0,
 'gwyneth8834': 0.0,
 'john59229829': 0.0,
 'olivia8246': 0.0,
 'tanya2648': 0.0,
 'frode1997': 0.0,
 'erik8516': 0.0,
 'stephane7818': 28.879310344827587,
 'jill1216': 0.0,
 'rory7597': 0.0,
 'julien3299': 0.0,
 'givingsomeback': 0.0,
 'mohammad5457': 40.0,
 'annemarie7077': 0.0,
 'stephen6879': 0.0,
 'dorothy2740': 0.0,
 'emma8443': 28.846153846153847,
 'sbastien6463': 0.0,
 'frederic9655': 0.0,
 'bill7550': 0.0,
 'martin6086': 0.0,
 'brian1080': 0.0,
 'kathleen2227': 0.0,
 'robert5226': 0.0,
 'marjo1748': 0.0,
 'clive5910': 105.54054054054055,
 'steven3253': 106.91489361702128,
 'brooke4972': 0.0,
 'tuire8253': 0.0,
 'cakeordeath8064': 0.0,
 'kevin7809': 30.0,
 'popness': 0.0,
 'maarten6927': 0.0,
 'wynne1047': 0.0,
 'laura4759': 0.0,
 'jennifer2139': 0.0,
 'daniel4451': 0.0,
 'cmak': 0.0,
 'drzero': 0.0,
 'rferons': 0.0,
 'joehoyle': 0.0,
 'lucy5005': 0.0,
 'liselotte2813': 0.0,
 'krauspartner': 29.518072289156628,
 'william8070': 0.0,
 'al1898': 0.0,
 'hook': 0.0,
 'courtney8657': 0.0,
 'victor3619': 0.0,
 'sean4105': 0.0,
 'afroze4263': 0.0,
 'kaat7628': 0.0,
 'lisa9330': 0.0,
 'veronique2380': 0.0,
 'james14984376': 0.0,
 'mohannad': 0.0,
 'dragan9652': 0.0,
 'alice8507': 0.0,
 'danae3046': 0.0,
 'david3320': 0.0,
 'dan1417': 0.0,
 'mary5466': 0.0,
 'karin9948': 0.0,
 'holly2320': 0.0,
 'david81653552': 0.0,
 'peter1098': 30.0,
 'katy9250': 0.0,
 'race6335': 0.0,
 'greg2855': 0.0,
 'william61459677': 0.0,
 'carlton2205': 0.0,
 'jamie3277': 0.0,
 'lynn3173': 0.0,
 'teresaandrick': 0.0,
 'coryandjona1206': 0.0,
 'nancy37087482': 0.0,
 'indiamos': 0.0,
 'scott2473': 0.0,
 '9678': 0.0,
 'marilyn9210': 0.0,
 'paul7054': 0.0,
 'sarah5545': 0.0,
 'craig97299604': 29.518072289156628,
 'maria7751': 0.0,
 'murray6640': 0.0,
 'erin6040': 0.0,
 'annw9506': 0.0,
 'vasanthi': 0.0,
 'sue3979': 0.0,
 'pierre5880': 0.0,
 'daleandcallie9707': 0.0,
 'lisa4456': 0.0,
 'sacham': 0.0,
 'tlaurie': 32.11805555555556,
 'janmarie3474': 0.0,
 'marian7076': 0.0,
 'allwinjose8370': 0.0,
 'michele8616': 0.0,
 'lucy4898': 0.0,
 'michael68567474': 0.0,
 'ryanandjoanna6615': 0.0,
 'suresh6523': 0.0,
 'danlandrum': 0.0,
 'Oliver10303': 97.35343814281516,
 'jennifer6373': 0.0,
 'sue7474': 0.0,
 'elsa2087': 0.0,
 'patrick1809': 0.0,
 'elizabeth6032': 0.0,
 'shauna6520': 0.0,
 'james1059': 0.0,
 'mark4231': 0.0,
 'erika7219': 0.0,
 'benjamin3549': 0.0,
 'jim2503': 0.0,
 'sarah4958': 0.0,
 'anneke9304': 0.0,
 'houseofprayer2259': 0.0,
 'rune8044': 0.0,
 'joseph2420': 0.0,
 'andreaandwouter6544': 28.205128205128204,
 'anthony9138': 0.0,
 'harald2732': 0.0,
 'tony9074': 0.0,
 'lesley6172': 0.0,
 'kevinandmary6376': 0.0,
 'deepakgeetakevinronak': 0.0,
 'khanh2725': 0.0,
 'nikocaro1392': 0.0,
 'harman2779': 0.0,
 'michael81276976': 0.0,
 'klaus5809': 0.0,
 'lesley4647': 0.0,
 'pedro2429': 44.11764705882353,
 'nollaig5959': 0.0,
 'evie2916': 0.0,
 'jim5285': 0.0,
 'metin8315': 0.0,
 'gerald7282': 0.0,
 'debbieandmark5399': 0.0,
 'derekh': 0.0,
 'karin9520': 0.0,
 'lee6515': 0.0,
 'thomas7955': 0.0,
 'sandeepsingh2858': 0.0,
 'sarahandadam5448': 0.0,
 'rinie4717': 0.0,
 'chuck2380': 0.0,
 'stefanomiari': 0.0,
 'doug4093': 0.0,
 'toplistbestfictionbo5564': 0.0,
 'gerlinde6463': 0.0,
 'naomi67885443': 0.0,
 'mikemaria7249': 0.0,
 'tobias5075': 0.0,
 'tanmay': 0.0,
 'susan5953': 0.0,
 'douglas8995': 39.14728682170543,
 'jeanne53233964': 0.0,
 'jellodiva': 0.0,
 'judy3495': 169.39016172506737,
 'denise7392': 0.0,
 'amornwan4232': 0.0,
 'terry52663587': 0.0,
 'cassie8926': 0.0,
 'wouterandfany': 0.0,
 'john9570': 0.0,
 'natasha7298': 0.0,
 'juergen5908': 0.0,
 'stacy1379': 0.0,
 'praveenrajasekar': 0.0,
 'patrickruetter': 0.0,
 'jane3454': 0.0,
 'christopher7476': 0.0,
 'nora6823': 0.0,
 'sarah1211': 0.0,
 'ryan1096': 0.0,
 'jcagomes': 0.0,
 'suzanne8918': 0.0,
 'kerry4093': 0.0,
 'dave6914': 0.0,
 'gsk': 0.0,
 'harry9324': 0.0,
 'eileenandvictor8943': 0.0,
 'joan6711': 0.0,
 'francine1535': 0.0,
 'craig1296': 32.142857142857146,
 'mac9412': 0.0,
 'eric8583': 0.0,
 'salandrob6186': 0.0,
 'caseyl': 0.0,
 'joannaandmike4344': 0.0,
 'norvan3688': 0.0,
 'john1288': 0.0,
 'neil6273': 0.0,
 'Leah6742': 0.0,
 'michaelandmelinda9592': 0.0,
 'karen2944': 0.0,
 'zach9722': 0.0,
 'jordan7519': 0.0,
 'thewalker9311': 0.0,
 'robert6772': 0.0,
 'sarahkathryn': 0.0,
 'karon4417': 0.0,
 'doug5185': 0.0,
 'ronald8745': 68.994708994709,
 'charles6358': 36.851851851851855,
 'laura3959': 0.0,
 'kara1501': 0.0,
 'joan60553118': 0.0,
 'jessica4connections': 0.0,
 'shailesh': 47.83653846153846,
 'mingus8729': 0.0,
 'christian3503': 0.0,
 'nomax': 0.0,
 'frode': 0.0,
 'victorial2870': 0.0,
 'stephen5987': 0.0,
 'paul23765609': 0.0,
 'paul6428': 0.0,
 'erin6824': 0.0,
 'jacob9653': 0.0,
 'william2639': 0.0,
 'elliot3732': 0.0,
 'connie4751': 0.0,
 'elena6794': 0.0,
 'carmen7376': 0.0,
 'laura1179': 0.0,
 'heather1546': 69.84126984126983,
 'phillip7727': 0.0,
 'marc1631': 30.0,
 'kris1903': 0.0,
 'angus2640': 105.13221718040995,
 'jamesandshell2373': 0.0,
 'tamarab': 0.0,
 'mark2704': 30.0,
 'indraneel7687': 0.0,
 'nancy7311': 60.0,
 'shannonandpatti7539': 0.0,
 'george8634': 0.0,
 'frost': 0.0,
 'matthieu6433': 0.0,
 'matthew3047': 0.0,
 'janandmaggie7749': 0.0,
 'patricia1648': 0.0,
 'lidia1788': 0.0,
 'eunice7763': 0.0,
 'donald5571': 0.0,
 'richard7719': 0.0,
 'pamela5886': 0.0,
 'mike1401': 0.0,
 'scott9873': 0.0,
 'brenda5160': 0.0,
 'michael21418121': 0.0,
 'annette8725': 0.0,
 'regyjohn': 0.0,
 'rick8888': 0.0,
 'craig7834': 0.0,
 'ben9420': 0.0,
 'morgan7663': 0.0,
 'susanne5176': 0.0,
 'hosewinckel7660': 0.0,
 'gao': 0.0,
 'ed5743': 0.0,
 'amy7726': 0.0,
 'Ravi9208': 0.0,
 'albert8248': 0.0,
 'anne8157': 0.0,
 'adamcordle': 0.0,
 'lori9430': 0.0,
 'christopher5171': 0.0,
 'kamila1320': 0.0,
 'steve4890': 0.0,
 'donandkathy6425': 68.51160862354892,
 'peter5514': 0.0,
 'tony7571': 0.0,
 'paulandrobyn5292': 0.0,
 'jennifer9341': 0.0,
 'kirkland': 60.76807228915663,
 'stanhope8974': 0.0,
 'iole2405': 0.0,
 'arnaud4525': 0.0,
 'steven5197': 0.0,
 'nigel4691': 92.75862068965517,
 'lpgiraldez': 0.0,
 'mihai3611': 0.0,
 'marcziesmer': 0.0,
 'robenlinda2270': 0.0,
 'vana5220': 0.0,
 'lionel1946': 0.0,
 'david66129435': 0.0,
 'sam8974': 0.0,
 'sijanrai': 0.0,
 'mike7912': 0.0,
 'delbert3382': 0.0,
 'jillian1643': 71.14163226421087,
 'gregandclare1849': 0.0,
 'tom7014': 0.0,
 'tomandjune3533': 0.0,
 'JY1024': 36.666666666666664,
 'angelina4435': 0.0,
 'charlie1085': 35.9375,
 'julian8731': 185.78896441045973,
 'detlef': 0.0,
 'anne9845': 0.0,
 'mike1219': 0.0,
 'john8871': 0.0,
 'david61297495': 0.0,
 'divingdoc36': 75.90671390013495,
 'pat5984': 0.0,
 'giovannicataldi4083': 0.0,
 'pierre5663': 0.0,
 'diane3510': 0.0,
 'burger': 0.0,
 'victor3258': 39.173228346456696,
 'thomas3234': 0.0,
 'szucheng2565': 184.82588678778887,
 'ricardo7052': 0.0,
 'jack9289': 0.0,
 'richard4874': 0.0,
 'jessieinez': 0.0,
 'andyangie8000': 0.0,
 'maryana3992': 0.0,
 'idun4242': 0.0,
 'steve7920': 0.0,
 'willychu': 0.0,
 'irmark': 28.61635220125786,
 'martinezfamilynm': 0.0,
 'nazaret7843': 0.0,
 'brian87298920': 0.0,
 'fiona7583': 0.0,
 'alex7802': 0.0,
 'rhonda6343': 0.0,
 'john37481062': 64.0625,
 'susan5956': 0.0,
 'albert8514': 0.0,
 'john1879': 0.0,
 'zoec': 0.0,
 'sidney4048': 0.0,
 'uncleed1619': 0.0,
 'trogdorfamily7622': 54.194078947368425,
 'sarah2583': 0.0,
 'mark99806535': 0.0,
 'dale2183': 0.0,
 'michelleandkristian9819': 0.0,
 'jonesfamily': 0.0,
 'stacey7032': 0.0,
 'jane8369': 0.0,
 'mark9645': 0.0,
 'sabine4826': 0.0,
 'frdric2486': 0.0,
 'susan9076': 0.0,
 'gunhild2366': 0.0,
 'matthew7154': 0.0,
 'daleanddave4907': 36.56716417910448,
 'michael1246': 0.0,
 'dean2234': 0.0,
 'james5070': 0.0,
 'hamish8276': 0.0,
 'iannace': 28.07017543859649,
 'anne9124': 0.0,
 'avezziefamily': 0.0,
 'owassofumc3326': 0.0,
 'ellen4684': 39.14728682170543,
 'lynn5507': 0.0,
 'francois6628': 0.0,
 'phill9950': 0.0,
 'ilona9961': 0.0,
 'dina6457': 0.0,
 'bumpycat': 0.0,
 'enwezor2644': 0.0,
 'cathianne8063': 0.0,
 'marcandr8568': 0.0,
 'mishka8668': 0.0,
 'avi9735': 0.0,
 'barbara2376': 0.0,
 'susan2633': 36.851851851851855,
 'gianandreaeandrea': 0.0,
 'laurelz': 0.0,
 'vgopinath': 0.0,
 'jose3712': 0.0,
 'gene8177': 0.0,
 'skreened': 30.510752688172044,
 'jeff2322': 0.0,
 'kevin6441': 0.0,
 'bill8134': 0.0,
 'richard1132': 0.0,
 'robert1951': 0.0,
 'gomike': 0.0,
 'neak': 39.94082840236686,
 'pedersmed4472': 0.0,
 'michael48913780': 0.0,
 'patrick8201': 0.0,
 'kaspar4426': 0.0,
 'malte4719': 0.0,
 'sarah10669637': 0.0,
 'john56537153': 0.0,
 'weinberger': 0.0,
 'daniel5023': 0.0,
 'kristin2911': 0.0,
 'Darebakus7028': 0.0,
 'arica': 28.61635220125786,
 'michael63426267': 0.0,
 'joshuachan': 0.0,
 'magdalena9892': 0.0,
 'harold5997': 36.56716417910448,
 'michael3061': 0.0,
 'tage': 0.0,
 'hedymaigs': 0.0,
 'linde6700': 0.0,
 'nigel5030': 29.518072289156628,
 'Gallifante': 0.0,
 'caryl7997': 39.94082840236686,
 'alberto5618': 0.0,
 'donald3162': 0.0,
 'bill9445': 0.0,
 'rich6705': 0.0,
 'charles6568': 74.99188311688312,
 'bubbascafe': 0.0,
 'tracey8474': 0.0,
 'daniel1064': 0.0,
 'dennis4138': 0.0,
 'jarrod4964': 0.0,
 'karen6436': 63.22393822393823,
 'EGL': 36.56716417910448,
 'nick8730': 0.0,
 'heike1534': 0.0,
 'beverly': 41.666666666666664,
 'ken7832': 0.0,
 'gerald5541': 0.0,
 'andyonkiva': 0.0,
 'margaret1978': 0.0,
 'susan9216': 0.0,
 'goodshepherducc9050': 0.0,
 'pryor2007': 28.571428571428573,
 'brenda6332': 0.0,
 'mark8092': 0.0,
 'david3125': 0.0,
 'anne3351': 0.0,
 'wjp': 27.77777777777778,
 'benedictsteele': 0.0,
 'kim3330': 0.0,
 'marsha7181': 0.0,
 'lasse8792': 0.0,
 'stephen2764': 0.0,
 'nathan7801': 0.0,
 'pascalvanhecke': 0.0,
 'jasonlee': 0.0,
 'ted8755': 0.0,
 'wayne6139': 0.0,
 'sharon4463': 0.0,
 'howard7012': 251.66141752983856,
 'anders4222': 0.0,
 'charlie3879': 0.0,
 'matt50679987': 0.0,
 'joan9289': 0.0,
 'michele4530': 0.0,
 'maphew': 0.0,
 'zim7148': 0.0,
 'melissa7297': 0.0,
 'julie3027': 0.0,
 'brendan1249': 0.0,
 'antonio6568': 0.0,
 'creativeeconomy': 0.0,
 'james4890': 0.0,
 'xyz1373': 0.0,
 'caroline4851': 0.0,
 'mags6440': 0.0,
 'starsknight': 0.0,
 'joanna6771': 0.0,
 'dorien8995': 0.0,
 'natalie4612': 0.0,
 'peggy1370': 0.0,
 'luke8286': 0.0,
 'chalanx': 0.0,
 'jannis9788': 0.0,
 'prabodh5470': 0.0,
 'diane6096': 0.0,
 'leslie8320': 0.0,
 'carlo9232': 0.0,
 'bernhard1113': 0.0,
 'jennifer86293639': 29.605263157894736,
 'rie6860': 0.0,
 'natoya4299': 0.0,
 'tracey9969': 0.0,
 'roman6673': 0.0,
 'laurie9583': 0.0,
 'chad1043': 0.0,
 'hisadafamily8666': 0.0,
 'lauraleong': 0.0,
 'jim7785': 0.0,
 'thomas3791': 55.23809523809524,
 'julie8037': 94.14770191878625,
 'maureenandbill7908': 0.0,
 'joel5645': 0.0,
 'leeann5973': 0.0,
 'derek9183': 0.0,
 'stephen7228': 0.0,
 'timothy6485': 0.0,
 'sandy5828': 0.0,
 'tim4819': 0.0,
 'stewartandjoanna6718': 0.0,
 'albertw': 0.0,
 'timothy7790': 0.0,
 'wendy9105': 0.0,
 'roxandal5758': 0.0,
 'heidi9127': 0.0,
 'sandy3893': 0.0,
 '25perday': 0.0,
 'ali91125852': 0.0,
 'angela6286': 0.0,
 'natalie16922915': 0.0,
 'matthew64195818': 0.0,
 'brooke8026': 0.0,
 'paula3738': 0.0,
 'catherine8081': 0.0,
 'christy2688': 0.0,
 'lindsay3373': 0.0,
 'jasoninchicago': 0.0,
 'jenny2529': 0.0,
 'frank3452': 0.0,
 'raymond4538': 0.0,
 'rob6883': 0.0,
 'vasu6972': 0.0,
 'molly3537': 0.0,
 'jonathanheather1555': 0.0,
 'andrew2954': 0.0,
 'erica7803': 0.0,
 'ultrasara': 0.0,
 'john36421277': 0.0,
 'mariliis4011': 0.0,
 'renee8611': 0.0,
 'leanne5754': 0.0,
 'tim4058': 0.0,
 'sudds': 0.0,
 'jo8468': 0.0,
 'adamscottprice': 0.0,
 'wilma6195': 0.0,
 'nate4569': 0.0,
 'carolyn8576': 0.0,
 'kelly31908638': 0.0,
 'brenda9272': 0.0,
 'mary3259': 0.0,
 'caroline5418': 0.0,
 'anush6731': 0.0,
 'mel7714': 31.08108108108108,
 'vladstan': 0.0,
 'leejohn8697': 0.0,
 'lynn5475': 0.0,
 'suthi': 0.0,
 'ajit3049': 0.0,
 'toby1460': 0.0,
 'dawn6170': 0.0,
 'beth1817': 0.0,
 'michael64749969': 0.0,
 'tfrab': 0.0,
 'christopher38035375': 59.952854897852276,
 'lloydminsterrotarycl6639': 73.76435781413156,
 'julie9582': 0.0,
 'lorenzo7127': 0.0,
 'jeanetteingrid9958': 0.0,
 'kimberly5146': 0.0,
 'shirley1905': 287.313070752117,
 'barbara5987': 0.0,
 'alexiosstefanos5966': 0.0,
 'lorea3139': 0.0,
 'sean3201': 0.0,
 'jeffreyandannegret9319': 0.0,
 'douglas3301': 0.0,
 'steve8782': 0.0,
 'marion2587': 0.0,
 'judy9116': 0.0,
 'shane8924': 0.0,
 'gord6319': 0.0,
 'john5744': 0.0,
 'marthaandrobert8020': 0.0,
 'karin8006': 0.0,
 'dennis9163': 0.0,
 'sustainableequity9628': 0.0,
 'karen8054': 0.0,
 'sandy3287': 0.0,
 'cchan3330': 0.0,
 'ben95621346': 0.0,
 'andrew5018': 0.0,
 'yoram3554': 0.0,
 'phonse5983': 0.0,
 'david77732635': 0.0,
 'normandmichelle8811': 0.0,
 'howard4754': 29.464285714285715,
 'kevinandkevin5061': 0.0,
 'jimandmaggie': 0.0,
 'halli1215': 0.0,
 'kate8166': 0.0,
 'gustavocpimenta': 0.0,
 'joann9259': 0.0,
 'william1104': 0.0,
 'peeta5736': 0.0,
 'tracy9170': 0.0,
 'eric3465': 0.0,
 'diane5157': 0.0,
 'christina1088': 0.0,
 'john6732': 0.0,
 'debra7424': 0.0,
 'nelson3926': 0.0,
 'haitham': 0.0,
 'michael6150': 0.0,
 'wendy4343': 26.5625,
 'austin1984': 0.0,
 'jaclyn4676': 0.0,
 'louise1987': 0.0,
 'neilthanedar': 0.0,
 'wendy5056': 0.0,
 'kate4058': 0.0,
 'cathy6947': 0.0,
 'tonyonkiva': 0.0,
 'casschristine5146': 0.0,
 'kate3357': 0.0,
 'vito8085': 0.0,
 'victoria2140': 0.0,
 'agnieszka6878': 0.0,
 'tom1199': 0.0,
 'joacim2931': 28.61635220125786,
 'bobbie5048': 0.0,
 'alison3893': 0.0,
 'porter9696': 71.42857142857143,
 'rachelle9002': 0.0,
 'leslie4054': 0.0,
 'janr9603': 0.0,
 'michael66234053': 0.0,
 'janandjohn': 29.518072289156628,
 'michelle7526': 0.0,
 'tanya5801': 0.0,
 'patricia7040': 0.0,
 'kris7164': 39.173228346456696,
 'lifeinamsterdam': 0.0,
 'stevenandrhondabill': 0.0,
 'meghan2393': 0.0,
 'gilberto7688': 0.0,
 'jonathan6863': 33.62068965517241,
 'max1495': 0.0,
 'rebecca4187': 0.0,
 'athena6426': 0.0,
 'debs8578': 0.0,
 'suzi6265': 0.0,
 'claudia3062': 0.0,
 'linda4162': 0.0,
 'alexander1835': 0.0,
 'migs2670': 0.0,
 'mary4373': 0.0,
 'tove4710': 0.0,
 'robert5348': 0.0,
 'jan92': 0.0,
 'mlanie1854': 0.0,
 'carla2983': 0.0,
 'joakim8782': 0.0,
 'arealrattlesnake': 0.0,
 'laura1416': 0.0,
 'dan66559622': 0.0,
 'cate4432': 0.0,
 'tedandalexann8840': 0.0,
 'david64376525': 0.0,
 'james80465004': 0.0,
 'amy7407': 0.0,
 'jorge5645': 0.0,
 'kyle9253': 0.0,
 'shaun3027': 0.0,
 'laura4210': 0.0,
 'krisan8949': 0.0,
 'kara5723': 0.0,
 'johan4746': 0.0,
 'zan4576': 0.0,
 'karen94096564': 0.0,
 'becky4310': 0.0,
 'eric9311': 0.0,
 'svuorela': 0.0,
 'patrick1624': 0.0,
 'melanie8694': 0.0,
 'mattias3342': 0.0,

- Another solution is based on panda functions:

In [22]:
merged = pd.merge(left=loans_lender,right=loans, left_on='loan_id', right_on='loan_id')
merged = merged[['loan_id','lender', 'loan_amount']]
merged
grouped1 = loans.groupby(['loan_id']).agg({'lender':['count']})
loans_agg

KeyError: "Column 'lender' does not exist!"

`9.` For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.

`10.` Which country has the highest ratio between the difference computed at the previous point and the population?

`11.` Which country has the highest ratio between the difference computed at point 9 and the population that is not below the poverty line?

`12.` For each year, compute the total amount of loans. Each loan that has planned expiration time and disburse time in different years must have its amount distributed proportionally to the number of days in each year. For example, a loan with disburse time December 1st, 2016, planned expiration time January 30th 2018, and amount 5000USD has an amount of 5000USD * 31 / (31+365+30) = 363.85 for 2016, 5000USD * 365 / (31+365+30) = 4284.04 for 2017, and 5000USD * 30 / (31+365+30) = 352.11 for 2018.